cdmlib-io/src/test/resources/eu/etaxonomy/cdm/io/dataset.dtd

<!ELEMENT dataset (
    ADDRESS*,
    AGENT*,
    AGENT_AGENT*,
    AGENT_ANNOTATION*,
    AGENT_DEFINEDTERMBASE*,
    AGENT_EXTENSION*,
    AGENT_MARKER*,
    AGENT_MEDIA*,
    AGENT_ORIGINALSOURCE*,
    AGENT_RIGHTS*,
    ANNOTATION*,
    ANNOTATION_ANNOTATION*,
    ANNOTATION_MARKER*,
    CDM_VIEW*,
    CDM_VIEW_CDM_VIEW*,
    COLLECTION*,
    COLLECTION_ANNOTATION*,
    COLLECTION_EXTENSION*,
    COLLECTION_MARKER*,
    COLLECTION_MEDIA*,
    COLLECTION_ORIGINALSOURCE*,
    COLLECTION_RIGHTS*,
    CONTACT*,
    DB_VERSION*,
    DEFINEDTERMBASE*,
    DEFINEDTERMBASE_CONTINENT*,
    DEFINEDTERMBASE_MEDIA*,
    DEFINEDTERMBASE_RECOMMENDEDMODIFIERENUMERATION*,
    DEFINEDTERMBASE_REPRESENTATION*,
    DEFINEDTERMBASE_STATISTICALMEASURE*,
    DEFINEDTERMBASE_SUPPORTEDCATEGORICALENUMERATION*,
    DEFINEDTERMBASE_WATERBODYORCOUNTRY*,
    DERIVATIONEVENT*,
    DERIVATIONEVENT_ANNOTATION*,
    DERIVATIONEVENT_MARKER*,
    DESCRIPTIONBASE*,
    DESCRIPTIONBASE_ANNOTATION*,
    DESCRIPTIONBASE_EXTENSION*,
    DESCRIPTIONBASE_GEOSCOPE*,
    DESCRIPTIONBASE_MARKER*,
    DESCRIPTIONBASE_ORIGINALSOURCE*,
    DESCRIPTIONBASE_REFERENCEBASE*,
    DESCRIPTIONBASE_RIGHTS*,
    DESCRIPTIONBASE_SCOPE*,
    DESCRIPTIONELEMENTBASE*,
    DESCRIPTIONELEMENTBASE_ANNOTATION*,
    DESCRIPTIONELEMENTBASE_LANGUAGESTRING*,
    DESCRIPTIONELEMENTBASE_MARKER*,
    DESCRIPTIONELEMENTBASE_MEDIA*,
    DESCRIPTIONELEMENTBASE_MODIFIER*,
    DESCRIPTIONELEMENTBASE_STATEDATA*,
    DESCRIPTIONELEMENTBASE_STATISTICALMEASUREMENTVALUE*,
    DETERMINATIONEVENT*,
    DETERMINATIONEVENT_ANNOTATION*,
    DETERMINATIONEVENT_MARKER*,
    DETERMINATIONEVENT_REFERENCEBASE*,
    EXTENSION*,
    FEATURENODE*,
    FEATURETREE*,
    FEATURETREE_REPRESENTATION*,
    GATHERINGEVENT*,
    GATHERINGEVENT_ANNOTATION*,
    GATHERINGEVENT_DEFINEDTERMBASE*,
    GATHERINGEVENT_MARKER*,
    GENBANKACCESSION*,
    GRANTEDAUTHORITYIMPL*,
    HOMOTYPICALGROUP*,
    HOMOTYPICALGROUP_ANNOTATION*,
    HOMOTYPICALGROUP_MARKER*,
    HYBRIDRELATIONSHIP*,
    HYBRIDRELATIONSHIP_ANNOTATION*,
    HYBRIDRELATIONSHIP_MARKER*,
    IDENTIFICATIONKEY_TAXON*,
    INSTITUTIONALMEMBERSHIP*,
    LANGUAGESTRING*,
    LANGUAGESTRING_ANNOTATION*,
    LANGUAGESTRING_MARKER*,
    LOCUS*,
    MARKER*,
    MEDIA*,
    MEDIAREPRESENTATION*,
    MEDIAREPRESENTATIONPART*,
    MEDIA_ANNOTATION*,
    MEDIA_DEFINEDTERMBASE*,
    MEDIA_MARKER*,
    MEDIA_RIGHTS*,
    MEDIA_SEQUENCE*,
    MEDIA_TAXONBASE*,
    NAMERELATIONSHIP*,
    NAMERELATIONSHIP_ANNOTATION*,
    NAMERELATIONSHIP_MARKER*,
    NOMENCLATURALSTATUS*,
    NOMENCLATURALSTATUS_ANNOTATION*,
    NOMENCLATURALSTATUS_MARKER*,
    ORIGINALSOURCE*,
    ORIGINALSOURCE_ANNOTATION*,
    ORIGINALSOURCE_MARKER*,
    PERMISSIONGROUP*,
    PERMISSIONGROUP_GRANTEDAUTHORITYIMPL*,
    PERSON_KEYWORD*,
    REFERENCEBASE*,
    REFERENCEBASE_ANNOTATION*,
    REFERENCEBASE_EXTENSION*,
    REFERENCEBASE_MARKER*,
    REFERENCEBASE_MEDIA*,
    REFERENCEBASE_ORIGINALSOURCE*,
    REFERENCEBASE_RIGHTS*,
    RELATIONSHIPTERMBASE_INVERSEREPRESENTATION*,
    REPRESENTATION*,
    REPRESENTATION_ANNOTATION*,
    REPRESENTATION_MARKER*,
    RIGHTS*,
    RIGHTS_ANNOTATION*,
    RIGHTS_MARKER*,
    SEQUENCE*,
    SEQUENCE_ANNOTATION*,
    SEQUENCE_EXTENSION*,
    SEQUENCE_GENBANKACCESSION*,
    SEQUENCE_MARKER*,
    SEQUENCE_MEDIA*,
    SEQUENCE_ORIGINALSOURCE*,
    SEQUENCE_REFERENCEBASE*,
    SEQUENCE_RIGHTS*,
    SPECIMENOROBSERVATIONBASE*,
    SPECIMENOROBSERVATIONBASE_ANNOTATION*,
    SPECIMENOROBSERVATIONBASE_DERIVATIONEVENT*,
    SPECIMENOROBSERVATIONBASE_EXTENSION*,
    SPECIMENOROBSERVATIONBASE_MARKER*,
    SPECIMENOROBSERVATIONBASE_MEDIA*,
    SPECIMENOROBSERVATIONBASE_ORIGINALSOURCE*,
    SPECIMENOROBSERVATIONBASE_RIGHTS*,
    SPECIMENOROBSERVATIONBASE_SEQUENCE*,
    STATEDATA*,
    STATEDATA_DEFINEDTERMBASE*,
    STATISTICALMEASUREMENTVALUE*,
    STATISTICALMEASUREMENTVALUE_DEFINEDTERMBASE*,
    SYNONYMRELATIONSHIP*,
    SYNONYMRELATIONSHIP_ANNOTATION*,
    SYNONYMRELATIONSHIP_MARKER*,
    TAXONBASE*,
    TAXONBASE_ANNOTATION*,
    TAXONBASE_EXTENSION*,
    TAXONBASE_MARKER*,
    TAXONBASE_ORIGINALSOURCE*,
    TAXONBASE_RIGHTS*,
    TAXONNAMEBASE*,
    TAXONNAMEBASE_ANNOTATION*,
    TAXONNAMEBASE_EXTENSION*,
    TAXONNAMEBASE_HYBRIDRELATIONSHIP*,
    TAXONNAMEBASE_MARKER*,
    TAXONNAMEBASE_NOMENCLATURALSTATUS*,
    TAXONNAMEBASE_ORIGINALSOURCE*,
    TAXONNAMEBASE_RIGHTS*,
    TAXONNAMEBASE_TYPEDESIGNATIONBASE*,
    TAXONRELATIONSHIP*,
    TAXONRELATIONSHIP_ANNOTATION*,
    TAXONRELATIONSHIP_MARKER*,
    TERMVOCABULARY*,
    TERMVOCABULARY_REPRESENTATION*,
    TYPEDESIGNATIONBASE*,
    TYPEDESIGNATIONBASE_ANNOTATION*,
    TYPEDESIGNATIONBASE_MARKER*,
    TYPEDESIGNATIONBASE_TAXONNAMEBASE*,
    USER*,
    USER_GRANTEDAUTHORITYIMPL*,
    USER_PERMISSIONGROUP*)>

<!ELEMENT ADDRESS EMPTY>
<!ATTLIST ADDRESS
    ID CDATA #REQUIRED
    CREATED CDATA #IMPLIED
    UUID CDATA #IMPLIED
    UPDATED CDATA #IMPLIED
    LOCALITY CDATA #IMPLIED
    LOCATION_ERRORRADIUS CDATA #IMPLIED
    LOCATION_LATITUDE CDATA #IMPLIED
    LOCATION_LONGITUDE CDATA #IMPLIED
    POBOX CDATA #IMPLIED
    POSTCODE CDATA #IMPLIED
    REGION CDATA #IMPLIED
    STREET CDATA #IMPLIED
    CREATEDBY_ID CDATA #IMPLIED
    UPDATEDBY_ID CDATA #IMPLIED
    CONTACT_ID CDATA #IMPLIED
    COUNTRY_ID CDATA #IMPLIED
    LOCATION_REFERENCESYSTEM_ID CDATA #IMPLIED
>

<!ELEMENT AGENT EMPTY>
<!ATTLIST AGENT
    DTYPE CDATA #IMPLIED
    ID CDATA #REQUIRED
    CREATED CDATA #IMPLIED
    UUID CDATA #IMPLIED
    UPDATED CDATA #IMPLIED
    LSID CDATA #IMPLIED
    TITLECACHE CDATA #IMPLIED
    PROTECTEDTITLECACHE CDATA #IMPLIED
    CODE CDATA #IMPLIED
    NAME CDATA #IMPLIED
    NOMENCLATURALTITLE CDATA #IMPLIED
    FIRSTNAME CDATA #IMPLIED
    LASTNAME CDATA #IMPLIED
    LIFESPAN_END CDATA #IMPLIED
    LIFESPAN_START CDATA #IMPLIED
    PREFIX CDATA #IMPLIED
    SUFFIX CDATA #IMPLIED
    CREATEDBY_ID CDATA #IMPLIED
    UPDATEDBY_ID CDATA #IMPLIED
    CONTACT_ID CDATA #IMPLIED
    ISPARTOF_ID CDATA #IMPLIED
>

<!ELEMENT AGENT_AGENT EMPTY>
<!ATTLIST AGENT_AGENT
    AGENT_ID CDATA #IMPLIED
    TEAMMEMBERS_ID CDATA #IMPLIED
>

<!ELEMENT AGENT_ANNOTATION EMPTY>
<!ATTLIST AGENT_ANNOTATION
    AGENT_ID CDATA #REQUIRED
    ANNOTATIONS_ID CDATA #REQUIRED
>

<!ELEMENT AGENT_DEFINEDTERMBASE EMPTY>
<!ATTLIST AGENT_DEFINEDTERMBASE
    AGENT_ID CDATA #REQUIRED
    TYPES_ID CDATA #REQUIRED
>

<!ELEMENT AGENT_EXTENSION EMPTY>
<!ATTLIST AGENT_EXTENSION
    AGENT_ID CDATA #REQUIRED
    EXTENSIONS_ID CDATA #REQUIRED
>

<!ELEMENT AGENT_MARKER EMPTY>
<!ATTLIST AGENT_MARKER
    AGENT_ID CDATA #REQUIRED
    MARKERS_ID CDATA #REQUIRED
>

<!ELEMENT AGENT_MEDIA EMPTY>
<!ATTLIST AGENT_MEDIA
    AGENT_ID CDATA #REQUIRED
    MEDIA_ID CDATA #REQUIRED
>

<!ELEMENT AGENT_ORIGINALSOURCE EMPTY>
<!ATTLIST AGENT_ORIGINALSOURCE
    AGENT_ID CDATA #REQUIRED
    SOURCES_ID CDATA #REQUIRED
>

<!ELEMENT AGENT_RIGHTS EMPTY>
<!ATTLIST AGENT_RIGHTS
    AGENT_ID CDATA #REQUIRED
    RIGHTS_ID CDATA #REQUIRED
>

<!ELEMENT ANNOTATION EMPTY>
<!ATTLIST ANNOTATION
    ID CDATA #REQUIRED
    CREATED CDATA #IMPLIED
    UUID CDATA #IMPLIED
    UPDATED CDATA #IMPLIED
    TEXT CDATA #IMPLIED
    ANNOTATEDOBJ_TYPE CDATA #IMPLIED
    ANNOTATEDOBJ_ID CDATA #IMPLIED
    LINKBACKURLSTR CDATA #IMPLIED
    CREATEDBY_ID CDATA #IMPLIED
    UPDATEDBY_ID CDATA #IMPLIED
    LANGUAGE_ID CDATA #IMPLIED
    ANNOTATIONTYPE_ID CDATA #IMPLIED
    COMMENTATOR_ID CDATA #IMPLIED
>

<!ELEMENT ANNOTATION_ANNOTATION EMPTY>
<!ATTLIST ANNOTATION_ANNOTATION
    ANNOTATION_ID CDATA #REQUIRED
    ANNOTATIONS_ID CDATA #REQUIRED
>

<!ELEMENT ANNOTATION_MARKER EMPTY>
<!ATTLIST ANNOTATION_MARKER
    ANNOTATION_ID CDATA #REQUIRED
    MARKERS_ID CDATA #REQUIRED
>

<!ELEMENT CDM_VIEW EMPTY>
<!ATTLIST CDM_VIEW
    ID CDATA #REQUIRED
    CREATED CDATA #IMPLIED
    UUID CDATA #IMPLIED
    DESCRIPTION CDATA #IMPLIED
    NAME CDATA #IMPLIED
    REFERENCE CDATA #IMPLIED
    CREATEDBY_ID CDATA #IMPLIED
>

<!ELEMENT CDM_VIEW_CDM_VIEW EMPTY>
<!ATTLIST CDM_VIEW_CDM_VIEW
    CDM_VIEW_ID CDATA #REQUIRED
    SUPERVIEWS_ID CDATA #REQUIRED
>

<!ELEMENT COLLECTION EMPTY>
<!ATTLIST COLLECTION
    ID CDATA #REQUIRED
    CREATED CDATA #IMPLIED
    UUID CDATA #IMPLIED
    UPDATED CDATA #IMPLIED
    LSID CDATA #IMPLIED
    TITLECACHE CDATA #IMPLIED
    PROTECTEDTITLECACHE CDATA #IMPLIED
    CODE CDATA #IMPLIED
    CODESTANDARD CDATA #IMPLIED
    NAME CDATA #IMPLIED
    TOWNORLOCATION CDATA #IMPLIED
    CREATEDBY_ID CDATA #IMPLIED
    UPDATEDBY_ID CDATA #IMPLIED
    INSTITUTE_ID CDATA #IMPLIED
    SUPERCOLLECTION_ID CDATA #IMPLIED
>

<!ELEMENT COLLECTION_ANNOTATION EMPTY>
<!ATTLIST COLLECTION_ANNOTATION
    COLLECTION_ID CDATA #REQUIRED
    ANNOTATIONS_ID CDATA #REQUIRED
>

<!ELEMENT COLLECTION_EXTENSION EMPTY>
<!ATTLIST COLLECTION_EXTENSION
    COLLECTION_ID CDATA #REQUIRED
    EXTENSIONS_ID CDATA #REQUIRED
>

<!ELEMENT COLLECTION_MARKER EMPTY>
<!ATTLIST COLLECTION_MARKER
    COLLECTION_ID CDATA #REQUIRED
    MARKERS_ID CDATA #REQUIRED
>

<!ELEMENT COLLECTION_MEDIA EMPTY>
<!ATTLIST COLLECTION_MEDIA
    COLLECTION_ID CDATA #REQUIRED
    MEDIA_ID CDATA #REQUIRED
>

<!ELEMENT COLLECTION_ORIGINALSOURCE EMPTY>
<!ATTLIST COLLECTION_ORIGINALSOURCE
    COLLECTION_ID CDATA #REQUIRED
    SOURCES_ID CDATA #REQUIRED
>

<!ELEMENT COLLECTION_RIGHTS EMPTY>
<!ATTLIST COLLECTION_RIGHTS
    COLLECTION_ID CDATA #REQUIRED
    RIGHTS_ID CDATA #REQUIRED
>

<!ELEMENT CONTACT EMPTY>
<!ATTLIST CONTACT
    ID CDATA #REQUIRED
    CREATED CDATA #IMPLIED
    UUID CDATA #IMPLIED
    UPDATED CDATA #IMPLIED
    EMAIL CDATA #IMPLIED
    FAX CDATA #IMPLIED
    PHONE CDATA #IMPLIED
    URL CDATA #IMPLIED
    CREATEDBY_ID CDATA #IMPLIED
    UPDATEDBY_ID CDATA #IMPLIED
>

<!ELEMENT DB_VERSION EMPTY>
<!ATTLIST DB_VERSION
    VERSION_INDEX CDATA #IMPLIED
    VERSION_TIMESTAMP CDATA #IMPLIED
    LAST_UPDATE_SUCCEEDED CDATA #IMPLIED
    CODESCRIPTS_TIMESTAMP CDATA #IMPLIED
    LAST_CODEUPDATE_SUCCEEDED CDATA #IMPLIED
>

<!ELEMENT DEFINEDTERMBASE EMPTY>
<!ATTLIST DEFINEDTERMBASE
    DTYPE CDATA #IMPLIED
    ID CDATA #REQUIRED
    CREATED CDATA #IMPLIED
    UUID CDATA #IMPLIED
    UPDATED CDATA #IMPLIED
    URI CDATA #IMPLIED
    ORDERINDEX CDATA #IMPLIED
    ISO639_1 CDATA #IMPLIED
    ISO639_2 CDATA #IMPLIED
    SYMMETRIC CDATA #IMPLIED
    TRANSITIVE CDATA #IMPLIED
    DEFAULTCOLOR CDATA #IMPLIED
    SUPPORTSCOMMONTAXONNAME CDATA #IMPLIED
    SUPPORTSDISTRIBUTION CDATA #IMPLIED
    SUPPORTSINDIVIDUALASSOCIATION CDATA #IMPLIED
    SUPPORTSQUANTITATIVEDATA CDATA #IMPLIED
    SUPPORTSTAXONINTERACTION CDATA #IMPLIED
    SUPPORTSTEXTDATA CDATA #IMPLIED
    POINTAPPROXIMATION_ERRORRADIUS CDATA #IMPLIED
    POINTAPPROXIMATION_LATITUDE CDATA #IMPLIED
    POINTAPPROXIMATION_LONGITUDE CDATA #IMPLIED
    VALIDPERIOD_END CDATA #IMPLIED
    VALIDPERIOD_START CDATA #IMPLIED
    ISO3166_A2 CDATA #IMPLIED
    CREATEDBY_ID CDATA #IMPLIED
    UPDATEDBY_ID CDATA #IMPLIED
    KINDOF_ID CDATA #IMPLIED
    PARTOF_ID CDATA #IMPLIED
    VOCABULARY_ID CDATA #IMPLIED
    LEVEL_ID CDATA #IMPLIED
    POINTAPPROXIMATION_REFERENCESYSTEM_ID CDATA #IMPLIED
    SHAPE_ID CDATA #IMPLIED
    TYPE_ID CDATA #IMPLIED
>

<!ELEMENT DEFINEDTERMBASE_CONTINENT EMPTY>
<!ATTLIST DEFINEDTERMBASE_CONTINENT
    DEFINEDTERMBASE_ID CDATA #REQUIRED
    CONTINENTS_ID CDATA #REQUIRED
>

<!ELEMENT DEFINEDTERMBASE_MEDIA EMPTY>
<!ATTLIST DEFINEDTERMBASE_MEDIA
    DEFINEDTERMBASE_ID CDATA #REQUIRED
    MEDIA_ID CDATA #REQUIRED
>

<!ELEMENT DEFINEDTERMBASE_RECOMMENDEDMODIFIERENUMERATION EMPTY>
<!ATTLIST DEFINEDTERMBASE_RECOMMENDEDMODIFIERENUMERATION
    DEFINEDTERMBASE_ID CDATA #REQUIRED
    RECOMMENDEDMODIFIERENUMERATION_ID CDATA #REQUIRED
>

<!ELEMENT DEFINEDTERMBASE_REPRESENTATION EMPTY>
<!ATTLIST DEFINEDTERMBASE_REPRESENTATION
    DEFINEDTERMBASE_ID CDATA #REQUIRED
    REPRESENTATIONS_ID CDATA #REQUIRED
>

<!ELEMENT DEFINEDTERMBASE_STATISTICALMEASURE EMPTY>
<!ATTLIST DEFINEDTERMBASE_STATISTICALMEASURE
    DEFINEDTERMBASE_ID CDATA #REQUIRED
    RECOMMENDEDSTATISTICALMEASURES_ID CDATA #REQUIRED
>

<!ELEMENT DEFINEDTERMBASE_SUPPORTEDCATEGORICALENUMERATION EMPTY>
<!ATTLIST DEFINEDTERMBASE_SUPPORTEDCATEGORICALENUMERATION
    DEFINEDTERMBASE_ID CDATA #REQUIRED
    SUPPORTEDCATEGORICALENUMERATIONS_ID CDATA #REQUIRED
>

<!ELEMENT DEFINEDTERMBASE_WATERBODYORCOUNTRY EMPTY>
<!ATTLIST DEFINEDTERMBASE_WATERBODYORCOUNTRY
    DEFINEDTERMBASE_ID CDATA #REQUIRED
    WATERBODIESORCOUNTRIES_ID CDATA #REQUIRED
>

<!ELEMENT DERIVATIONEVENT EMPTY>
<!ATTLIST DERIVATIONEVENT
    ID CDATA #REQUIRED
    CREATED CDATA #IMPLIED
    UUID CDATA #IMPLIED
    UPDATED CDATA #IMPLIED
    DESCRIPTION CDATA #IMPLIED
    TIMEPERIOD_END CDATA #IMPLIED
    TIMEPERIOD_START CDATA #IMPLIED
    CREATEDBY_ID CDATA #IMPLIED
    UPDATEDBY_ID CDATA #IMPLIED
    ACTOR_ID CDATA #IMPLIED
    TYPE_ID CDATA #IMPLIED
>

<!ELEMENT DERIVATIONEVENT_ANNOTATION EMPTY>
<!ATTLIST DERIVATIONEVENT_ANNOTATION
    DERIVATIONEVENT_ID CDATA #REQUIRED
    ANNOTATIONS_ID CDATA #REQUIRED
>

<!ELEMENT DERIVATIONEVENT_MARKER EMPTY>
<!ATTLIST DERIVATIONEVENT_MARKER
    DERIVATIONEVENT_ID CDATA #REQUIRED
    MARKERS_ID CDATA #REQUIRED
>

<!ELEMENT DESCRIPTIONBASE EMPTY>
<!ATTLIST DESCRIPTIONBASE
    DTYPE CDATA #IMPLIED
    ID CDATA #REQUIRED
    CREATED CDATA #IMPLIED
    UUID CDATA #IMPLIED
    UPDATED CDATA #IMPLIED
    LSID CDATA #IMPLIED
    TITLECACHE CDATA #IMPLIED
    PROTECTEDTITLECACHE CDATA #IMPLIED
    CREATEDBY_ID CDATA #IMPLIED
    UPDATEDBY_ID CDATA #IMPLIED
    TAXON_FK CDATA #IMPLIED
    TAXONNAME_FK CDATA #IMPLIED
>

<!ELEMENT DESCRIPTIONBASE_ANNOTATION EMPTY>
<!ATTLIST DESCRIPTIONBASE_ANNOTATION
    DESCRIPTIONBASE_ID CDATA #REQUIRED
    ANNOTATIONS_ID CDATA #REQUIRED
>

<!ELEMENT DESCRIPTIONBASE_EXTENSION EMPTY>
<!ATTLIST DESCRIPTIONBASE_EXTENSION
    DESCRIPTIONBASE_ID CDATA #REQUIRED
    EXTENSIONS_ID CDATA #REQUIRED
>

<!ELEMENT DESCRIPTIONBASE_GEOSCOPE EMPTY>
<!ATTLIST DESCRIPTIONBASE_GEOSCOPE
    DESCRIPTIONBASE_ID CDATA #REQUIRED
    GEOSCOPES_ID CDATA #REQUIRED
>

<!ELEMENT DESCRIPTIONBASE_MARKER EMPTY>
<!ATTLIST DESCRIPTIONBASE_MARKER
    DESCRIPTIONBASE_ID CDATA #REQUIRED
    MARKERS_ID CDATA #REQUIRED
>

<!ELEMENT DESCRIPTIONBASE_ORIGINALSOURCE EMPTY>
<!ATTLIST DESCRIPTIONBASE_ORIGINALSOURCE
    DESCRIPTIONBASE_ID CDATA #REQUIRED
    SOURCES_ID CDATA #REQUIRED
>

<!ELEMENT DESCRIPTIONBASE_REFERENCEBASE EMPTY>
<!ATTLIST DESCRIPTIONBASE_REFERENCEBASE
    DESCRIPTIONBASE_ID CDATA #REQUIRED
    DESCRIPTIONSOURCES_ID CDATA #REQUIRED
>

<!ELEMENT DESCRIPTIONBASE_RIGHTS EMPTY>
<!ATTLIST DESCRIPTIONBASE_RIGHTS
    DESCRIPTIONBASE_ID CDATA #REQUIRED
    RIGHTS_ID CDATA #REQUIRED
>

<!ELEMENT DESCRIPTIONBASE_SCOPE EMPTY>
<!ATTLIST DESCRIPTIONBASE_SCOPE
    DESCRIPTIONBASE_ID CDATA #REQUIRED
    SCOPES_ID CDATA #REQUIRED
>

<!ELEMENT DESCRIPTIONELEMENTBASE EMPTY>
<!ATTLIST DESCRIPTIONELEMENTBASE
    DTYPE CDATA #IMPLIED
    ID CDATA #REQUIRED
    CREATED CDATA #IMPLIED
    UUID CDATA #IMPLIED
    UPDATED CDATA #IMPLIED
    CITATIONMICROREFERENCE CDATA #IMPLIED
    ORIGINALNAMESTRING CDATA #IMPLIED
    MODIFYINGTEXT CDATA #IMPLIED
    ORDERRELEVANT CDATA #IMPLIED
    NAME CDATA #IMPLIED
    DESCRIPTION CDATA #IMPLIED
    CREATEDBY_ID CDATA #IMPLIED
    UPDATEDBY_ID CDATA #IMPLIED
    CITATION_ID CDATA #IMPLIED
    FEATURE_ID CDATA #IMPLIED
    INDESCRIPTION_ID CDATA #IMPLIED
    LANGUAGE_ID CDATA #IMPLIED
    AREA_ID CDATA #IMPLIED
    STATUS_ID CDATA #IMPLIED
    ASSOCIATEDSPECIMENOROBSERVATION_ID CDATA #IMPLIED
    UNIT_ID CDATA #IMPLIED
    TAXON2_ID CDATA #IMPLIED
    FORMAT_ID CDATA #IMPLIED
>

<!ELEMENT DESCRIPTIONELEMENTBASE_ANNOTATION EMPTY>
<!ATTLIST DESCRIPTIONELEMENTBASE_ANNOTATION
    DESCRIPTIONELEMENTBASE_ID CDATA #REQUIRED
    ANNOTATIONS_ID CDATA #REQUIRED
>

<!ELEMENT DESCRIPTIONELEMENTBASE_LANGUAGESTRING EMPTY>
<!ATTLIST DESCRIPTIONELEMENTBASE_LANGUAGESTRING
    DESCRIPTIONELEMENTBASE_ID CDATA #REQUIRED
    MULTILANGUAGETEXT_ID CDATA #REQUIRED
>

<!ELEMENT DESCRIPTIONELEMENTBASE_MARKER EMPTY>
<!ATTLIST DESCRIPTIONELEMENTBASE_MARKER
    DESCRIPTIONELEMENTBASE_ID CDATA #REQUIRED
    MARKERS_ID CDATA #REQUIRED
>

<!ELEMENT DESCRIPTIONELEMENTBASE_MEDIA EMPTY>
<!ATTLIST DESCRIPTIONELEMENTBASE_MEDIA
    DESCRIPTIONELEMENTBASE_ID CDATA #REQUIRED
    MEDIA_ID CDATA #REQUIRED
>

<!ELEMENT DESCRIPTIONELEMENTBASE_MODIFIER EMPTY>
<!ATTLIST DESCRIPTIONELEMENTBASE_MODIFIER
    DESCRIPTIONELEMENTBASE_ID CDATA #REQUIRED
    MODIFIERS_ID CDATA #REQUIRED
>

<!ELEMENT DESCRIPTIONELEMENTBASE_STATEDATA EMPTY>
<!ATTLIST DESCRIPTIONELEMENTBASE_STATEDATA
    DESCRIPTIONELEMENTBASE_ID CDATA #IMPLIED
    STATES_ID CDATA #IMPLIED
>

<!ELEMENT DESCRIPTIONELEMENTBASE_STATISTICALMEASUREMENTVALUE EMPTY>
<!ATTLIST DESCRIPTIONELEMENTBASE_STATISTICALMEASUREMENTVALUE
    DESCRIPTIONELEMENTBASE_ID CDATA #REQUIRED
    STATISTICALVALUES_ID CDATA #REQUIRED
>

<!ELEMENT DETERMINATIONEVENT EMPTY>
<!ATTLIST DETERMINATIONEVENT
    ID CDATA #REQUIRED
    CREATED CDATA #IMPLIED
    UUID CDATA #IMPLIED
    UPDATED CDATA #IMPLIED
    DESCRIPTION CDATA #IMPLIED
    TIMEPERIOD_END CDATA #IMPLIED
    TIMEPERIOD_START CDATA #IMPLIED
    PREFERREDFLAG CDATA #IMPLIED
    CREATEDBY_ID CDATA #IMPLIED
    UPDATEDBY_ID CDATA #IMPLIED
    ACTOR_ID CDATA #IMPLIED
    IDENTIFIEDUNIT_ID CDATA #IMPLIED
    MODIFIER_ID CDATA #IMPLIED
    TAXON_ID CDATA #IMPLIED
>

<!ELEMENT DETERMINATIONEVENT_ANNOTATION EMPTY>
<!ATTLIST DETERMINATIONEVENT_ANNOTATION
    DETERMINATIONEVENT_ID CDATA #REQUIRED
    ANNOTATIONS_ID CDATA #REQUIRED
>

<!ELEMENT DETERMINATIONEVENT_MARKER EMPTY>
<!ATTLIST DETERMINATIONEVENT_MARKER
    DETERMINATIONEVENT_ID CDATA #REQUIRED
    MARKERS_ID CDATA #REQUIRED
>

<!ELEMENT DETERMINATIONEVENT_REFERENCEBASE EMPTY>
<!ATTLIST DETERMINATIONEVENT_REFERENCEBASE
    DETERMINATIONEVENT_ID CDATA #REQUIRED
    REFERENCES_ID CDATA #REQUIRED
>

<!ELEMENT EXTENSION EMPTY>
<!ATTLIST EXTENSION
    ID CDATA #REQUIRED
    CREATED CDATA #IMPLIED
    UUID CDATA #IMPLIED
    UPDATED CDATA #IMPLIED
    VALUE CDATA #IMPLIED
    CREATEDBY_ID CDATA #IMPLIED
    UPDATEDBY_ID CDATA #IMPLIED
    TYPE_ID CDATA #IMPLIED
>

<!ELEMENT FEATURENODE EMPTY>
<!ATTLIST FEATURENODE
    ID CDATA #REQUIRED
    CREATED CDATA #IMPLIED
    UUID CDATA #IMPLIED
    UPDATED CDATA #IMPLIED
    CREATEDBY_ID CDATA #IMPLIED
    UPDATEDBY_ID CDATA #IMPLIED
    FEATURE_ID CDATA #IMPLIED
    PARENT_FK CDATA #IMPLIED
>

<!ELEMENT FEATURETREE EMPTY>
<!ATTLIST FEATURETREE
    ID CDATA #REQUIRED
    CREATED CDATA #IMPLIED
    UUID CDATA #IMPLIED
    UPDATED CDATA #IMPLIED
    URI CDATA #IMPLIED
    DESCRIPTIONSEPARATED CDATA #IMPLIED
    CREATEDBY_ID CDATA #IMPLIED
    UPDATEDBY_ID CDATA #IMPLIED
    ROOT_ID CDATA #IMPLIED
>

<!ELEMENT FEATURETREE_REPRESENTATION EMPTY>
<!ATTLIST FEATURETREE_REPRESENTATION
    FEATURETREE_ID CDATA #REQUIRED
    REPRESENTATIONS_ID CDATA #REQUIRED
>

<!ELEMENT GATHERINGEVENT EMPTY>
<!ATTLIST GATHERINGEVENT
    ID CDATA #REQUIRED
    CREATED CDATA #IMPLIED
    UUID CDATA #IMPLIED
    UPDATED CDATA #IMPLIED
    DESCRIPTION CDATA #IMPLIED
    TIMEPERIOD_END CDATA #IMPLIED
    TIMEPERIOD_START CDATA #IMPLIED
    ABSOLUTEELEVATION CDATA #IMPLIED
    ABSOLUTEELEVATIONERROR CDATA #IMPLIED
    COLLECTINGMETHOD CDATA #IMPLIED
    DISTANCETOGROUND CDATA #IMPLIED
    DISTANCETOWATERSURFACE CDATA #IMPLIED
    EXACTLOCATION_ERRORRADIUS CDATA #IMPLIED
    EXACTLOCATION_LATITUDE CDATA #IMPLIED
    EXACTLOCATION_LONGITUDE CDATA #IMPLIED
    CREATEDBY_ID CDATA #IMPLIED
    UPDATEDBY_ID CDATA #IMPLIED
    ACTOR_ID CDATA #IMPLIED
    EXACTLOCATION_REFERENCESYSTEM_ID CDATA #IMPLIED
    LOCALITY_ID CDATA #IMPLIED
>

<!ELEMENT GATHERINGEVENT_ANNOTATION EMPTY>
<!ATTLIST GATHERINGEVENT_ANNOTATION
    GATHERINGEVENT_ID CDATA #REQUIRED
    ANNOTATIONS_ID CDATA #REQUIRED
>

<!ELEMENT GATHERINGEVENT_DEFINEDTERMBASE EMPTY>
<!ATTLIST GATHERINGEVENT_DEFINEDTERMBASE
    GATHERINGEVENT_ID CDATA #REQUIRED
    COLLECTINGAREAS_ID CDATA #REQUIRED
>

<!ELEMENT GATHERINGEVENT_MARKER EMPTY>
<!ATTLIST GATHERINGEVENT_MARKER
    GATHERINGEVENT_ID CDATA #REQUIRED
    MARKERS_ID CDATA #REQUIRED
>

<!ELEMENT GENBANKACCESSION EMPTY>
<!ATTLIST GENBANKACCESSION
    ID CDATA #REQUIRED
    CREATED CDATA #IMPLIED
    UUID CDATA #IMPLIED
    UPDATED CDATA #IMPLIED
    ACCESSIONNUMBER CDATA #IMPLIED
    URI CDATA #IMPLIED
    CREATEDBY_ID CDATA #IMPLIED
    UPDATEDBY_ID CDATA #IMPLIED
>

<!ELEMENT GRANTEDAUTHORITYIMPL EMPTY>
<!ATTLIST GRANTEDAUTHORITYIMPL
    ID CDATA #REQUIRED
    CREATED CDATA #IMPLIED
    UUID CDATA #IMPLIED
    AUTHORITY CDATA #IMPLIED
    CREATEDBY_ID CDATA #IMPLIED
>

<!ELEMENT HOMOTYPICALGROUP EMPTY>
<!ATTLIST HOMOTYPICALGROUP
    ID CDATA #REQUIRED
    CREATED CDATA #IMPLIED
    UUID CDATA #IMPLIED
    UPDATED CDATA #IMPLIED
    CREATEDBY_ID CDATA #IMPLIED
    UPDATEDBY_ID CDATA #IMPLIED
>

<!ELEMENT HOMOTYPICALGROUP_ANNOTATION EMPTY>
<!ATTLIST HOMOTYPICALGROUP_ANNOTATION
    HOMOTYPICALGROUP_ID CDATA #REQUIRED
    ANNOTATIONS_ID CDATA #REQUIRED
>

<!ELEMENT HOMOTYPICALGROUP_MARKER EMPTY>
<!ATTLIST HOMOTYPICALGROUP_MARKER
    HOMOTYPICALGROUP_ID CDATA #REQUIRED
    MARKERS_ID CDATA #REQUIRED
>

<!ELEMENT HYBRIDRELATIONSHIP EMPTY>
<!ATTLIST HYBRIDRELATIONSHIP
    ID CDATA #REQUIRED
    CREATED CDATA #IMPLIED
    UUID CDATA #IMPLIED
    UPDATED CDATA #IMPLIED
    CITATIONMICROREFERENCE CDATA #IMPLIED
    ORIGINALNAMESTRING CDATA #IMPLIED
    DOUBTFUL CDATA #IMPLIED
    RULECONSIDERED CDATA #IMPLIED
    CREATEDBY_ID CDATA #IMPLIED
    UPDATEDBY_ID CDATA #IMPLIED
    CITATION_ID CDATA #IMPLIED
    RELATEDFROM_ID CDATA #IMPLIED
    RELATEDTO_ID CDATA #IMPLIED
    TYPE_ID CDATA #IMPLIED
>

<!ELEMENT HYBRIDRELATIONSHIP_ANNOTATION EMPTY>
<!ATTLIST HYBRIDRELATIONSHIP_ANNOTATION
    HYBRIDRELATIONSHIP_ID CDATA #REQUIRED
    ANNOTATIONS_ID CDATA #REQUIRED
>

<!ELEMENT HYBRIDRELATIONSHIP_MARKER EMPTY>
<!ATTLIST HYBRIDRELATIONSHIP_MARKER
    HYBRIDRELATIONSHIP_ID CDATA #REQUIRED
    MARKERS_ID CDATA #REQUIRED
>

<!ELEMENT IDENTIFICATIONKEY_TAXON EMPTY>
<!ATTLIST IDENTIFICATIONKEY_TAXON
    IDENTIFICATIONKEY_FK CDATA #REQUIRED
    TAXON_FK CDATA #REQUIRED
>

<!ELEMENT INSTITUTIONALMEMBERSHIP EMPTY>
<!ATTLIST INSTITUTIONALMEMBERSHIP
    ID CDATA #REQUIRED
    CREATED CDATA #IMPLIED
    UUID CDATA #IMPLIED
    UPDATED CDATA #IMPLIED
    DEPARTMENT CDATA #IMPLIED
    PERIOD_END CDATA #IMPLIED
    PERIOD_START CDATA #IMPLIED
    ROLE CDATA #IMPLIED
    CREATEDBY_ID CDATA #IMPLIED
    UPDATEDBY_ID CDATA #IMPLIED
    INSTITUTE_ID CDATA #IMPLIED
    PERSON_ID CDATA #IMPLIED
>

<!ELEMENT LANGUAGESTRING EMPTY>
<!ATTLIST LANGUAGESTRING
    ID CDATA #REQUIRED
    CREATED CDATA #IMPLIED
    UUID CDATA #IMPLIED
    UPDATED CDATA #IMPLIED
    TEXT CDATA #IMPLIED
    CREATEDBY_ID CDATA #IMPLIED
    UPDATEDBY_ID CDATA #IMPLIED
    LANGUAGE_ID CDATA #IMPLIED
>

<!ELEMENT LANGUAGESTRING_ANNOTATION EMPTY>
<!ATTLIST LANGUAGESTRING_ANNOTATION
    LANGUAGESTRING_ID CDATA #REQUIRED
    ANNOTATIONS_ID CDATA #REQUIRED
>

<!ELEMENT LANGUAGESTRING_MARKER EMPTY>
<!ATTLIST LANGUAGESTRING_MARKER
    LANGUAGESTRING_ID CDATA #REQUIRED
    MARKERS_ID CDATA #REQUIRED
>

<!ELEMENT LOCUS EMPTY>
<!ATTLIST LOCUS
    ID CDATA #REQUIRED
    CREATED CDATA #IMPLIED
    UUID CDATA #IMPLIED
    UPDATED CDATA #IMPLIED
    DESCRIPTION CDATA #IMPLIED
    NAME CDATA #IMPLIED
    CREATEDBY_ID CDATA #IMPLIED
    UPDATEDBY_ID CDATA #IMPLIED
>

<!ELEMENT MARKER EMPTY>
<!ATTLIST MARKER
    ID CDATA #REQUIRED
    CREATED CDATA #IMPLIED
    UUID CDATA #IMPLIED
    UPDATED CDATA #IMPLIED
    FLAG CDATA #IMPLIED
    MARKEDOBJ_TYPE CDATA #IMPLIED
    MARKEDOBJ_ID CDATA #IMPLIED
    CREATEDBY_ID CDATA #IMPLIED
    UPDATEDBY_ID CDATA #IMPLIED
    MARKERTYPE_ID CDATA #IMPLIED
>

<!ELEMENT MEDIA EMPTY>
<!ATTLIST MEDIA
    DTYPE CDATA #IMPLIED
    ID CDATA #REQUIRED
    CREATED CDATA #IMPLIED
    UUID CDATA #IMPLIED
    UPDATED CDATA #IMPLIED
    DESCRIPTION CDATA #IMPLIED
    MEDIACREATED CDATA #IMPLIED
    TITLE CDATA #IMPLIED
    CITATIONMICROREFERENCE CDATA #IMPLIED
    CREATEDBY_ID CDATA #IMPLIED
    UPDATEDBY_ID CDATA #IMPLIED
    ARTIST_ID CDATA #IMPLIED
    CITATION_ID CDATA #IMPLIED
>

<!ELEMENT MEDIAREPRESENTATION EMPTY>
<!ATTLIST MEDIAREPRESENTATION
    ID CDATA #REQUIRED
    CREATED CDATA #IMPLIED
    UUID CDATA #IMPLIED
    UPDATED CDATA #IMPLIED
    MIMETYPE CDATA #IMPLIED
    SUFFIX CDATA #IMPLIED
    CREATEDBY_ID CDATA #IMPLIED
    UPDATEDBY_ID CDATA #IMPLIED
    MEDIA_ID CDATA #IMPLIED
>

<!ELEMENT MEDIAREPRESENTATIONPART EMPTY>
<!ATTLIST MEDIAREPRESENTATIONPART
    DTYPE CDATA #IMPLIED
    ID CDATA #REQUIRED
    CREATED CDATA #IMPLIED
    UUID CDATA #IMPLIED
    UPDATED CDATA #IMPLIED
    SIZE CDATA #IMPLIED
    URI CDATA #IMPLIED
    DURATION CDATA #IMPLIED
    HEIGHT CDATA #IMPLIED
    WIDTH CDATA #IMPLIED
    CREATEDBY_ID CDATA #IMPLIED
    UPDATEDBY_ID CDATA #IMPLIED
    REPRESENTATION_ID CDATA #IMPLIED
    SORTINDEX CDATA #IMPLIED
>

<!ELEMENT MEDIA_ANNOTATION EMPTY>
<!ATTLIST MEDIA_ANNOTATION
    MEDIA_ID CDATA #REQUIRED
    ANNOTATIONS_ID CDATA #REQUIRED
>

<!ELEMENT MEDIA_DEFINEDTERMBASE EMPTY>
<!ATTLIST MEDIA_DEFINEDTERMBASE
    MEDIA_ID CDATA #REQUIRED
    GEOSCOPES_ID CDATA #REQUIRED
>

<!ELEMENT MEDIA_MARKER EMPTY>
<!ATTLIST MEDIA_MARKER
    MEDIA_ID CDATA #REQUIRED
    MARKERS_ID CDATA #REQUIRED
>

<!ELEMENT MEDIA_RIGHTS EMPTY>
<!ATTLIST MEDIA_RIGHTS
    MEDIA_ID CDATA #REQUIRED
    RIGHTS_ID CDATA #REQUIRED
>

<!ELEMENT MEDIA_SEQUENCE EMPTY>
<!ATTLIST MEDIA_SEQUENCE
    MEDIA_ID CDATA #REQUIRED
    USEDSEQUENCES_ID CDATA #REQUIRED
>

<!ELEMENT MEDIA_TAXONBASE EMPTY>
<!ATTLIST MEDIA_TAXONBASE
    MEDIA_ID CDATA #REQUIRED
    COVEREDTAXA_ID CDATA #REQUIRED
>

<!ELEMENT NAMERELATIONSHIP EMPTY>
<!ATTLIST NAMERELATIONSHIP
    ID CDATA #REQUIRED
    CREATED CDATA #IMPLIED
    UUID CDATA #IMPLIED
    UPDATED CDATA #IMPLIED
    CITATIONMICROREFERENCE CDATA #IMPLIED
    ORIGINALNAMESTRING CDATA #IMPLIED
    DOUBTFUL CDATA #IMPLIED
    RULECONSIDERED CDATA #IMPLIED
    CREATEDBY_ID CDATA #IMPLIED
    UPDATEDBY_ID CDATA #IMPLIED
    CITATION_ID CDATA #IMPLIED
    RELATEDFROM_ID CDATA #IMPLIED
    RELATEDTO_ID CDATA #IMPLIED
    TYPE_ID CDATA #IMPLIED
>

<!ELEMENT NAMERELATIONSHIP_ANNOTATION EMPTY>
<!ATTLIST NAMERELATIONSHIP_ANNOTATION
    NAMERELATIONSHIP_ID CDATA #REQUIRED
    ANNOTATIONS_ID CDATA #REQUIRED
>

<!ELEMENT NAMERELATIONSHIP_MARKER EMPTY>
<!ATTLIST NAMERELATIONSHIP_MARKER
    NAMERELATIONSHIP_ID CDATA #REQUIRED
    MARKERS_ID CDATA #REQUIRED
>

<!ELEMENT NOMENCLATURALSTATUS EMPTY>
<!ATTLIST NOMENCLATURALSTATUS
    ID CDATA #REQUIRED
    CREATED CDATA #IMPLIED
    UUID CDATA #IMPLIED
    UPDATED CDATA #IMPLIED
    CITATIONMICROREFERENCE CDATA #IMPLIED
    ORIGINALNAMESTRING CDATA #IMPLIED
    RULECONSIDERED CDATA #IMPLIED
    CREATEDBY_ID CDATA #IMPLIED
    UPDATEDBY_ID CDATA #IMPLIED
    CITATION_ID CDATA #IMPLIED
    TYPE_ID CDATA #IMPLIED
>

<!ELEMENT NOMENCLATURALSTATUS_ANNOTATION EMPTY>
<!ATTLIST NOMENCLATURALSTATUS_ANNOTATION
    NOMENCLATURALSTATUS_ID CDATA #REQUIRED
    ANNOTATIONS_ID CDATA #REQUIRED
>

<!ELEMENT NOMENCLATURALSTATUS_MARKER EMPTY>
<!ATTLIST NOMENCLATURALSTATUS_MARKER
    NOMENCLATURALSTATUS_ID CDATA #REQUIRED
    MARKERS_ID CDATA #REQUIRED
>

<!ELEMENT ORIGINALSOURCE EMPTY>
<!ATTLIST ORIGINALSOURCE
    ID CDATA #REQUIRED
    CREATED CDATA #IMPLIED
    UUID CDATA #IMPLIED
    UPDATED CDATA #IMPLIED
    CITATIONMICROREFERENCE CDATA #IMPLIED
    ORIGINALNAMESTRING CDATA #IMPLIED
    IDINSOURCE CDATA #IMPLIED
    IDNAMESPACE CDATA #IMPLIED
    SOURCEDOBJ_TYPE CDATA #IMPLIED
    SOURCEDOBJ_ID CDATA #IMPLIED
    CREATEDBY_ID CDATA #IMPLIED
    UPDATEDBY_ID CDATA #IMPLIED
    CITATION_ID CDATA #IMPLIED
>

<!ELEMENT ORIGINALSOURCE_ANNOTATION EMPTY>
<!ATTLIST ORIGINALSOURCE_ANNOTATION
    ORIGINALSOURCE_ID CDATA #REQUIRED
    ANNOTATIONS_ID CDATA #REQUIRED
>

<!ELEMENT ORIGINALSOURCE_MARKER EMPTY>
<!ATTLIST ORIGINALSOURCE_MARKER
    ORIGINALSOURCE_ID CDATA #REQUIRED
    MARKERS_ID CDATA #REQUIRED
>

<!ELEMENT PERMISSIONGROUP EMPTY>
<!ATTLIST PERMISSIONGROUP
    ID CDATA #REQUIRED
    CREATED CDATA #IMPLIED
    UUID CDATA #IMPLIED
    NAME CDATA #IMPLIED
    CREATEDBY_ID CDATA #IMPLIED
>

<!ELEMENT PERMISSIONGROUP_GRANTEDAUTHORITYIMPL EMPTY>
<!ATTLIST PERMISSIONGROUP_GRANTEDAUTHORITYIMPL
    PERMISSIONGROUP_ID CDATA #REQUIRED
    GRANTEDAUTHORITIES_ID CDATA #REQUIRED
>

<!ELEMENT PERSON_KEYWORD EMPTY>
<!ATTLIST PERSON_KEYWORD
    PERSON_FK CDATA #REQUIRED
    KEYWORD_FK CDATA #REQUIRED
>

<!ELEMENT REFERENCEBASE EMPTY>
<!ATTLIST REFERENCEBASE
    DTYPE CDATA #IMPLIED
    ID CDATA #REQUIRED
    CREATED CDATA #IMPLIED
    UUID CDATA #IMPLIED
    UPDATED CDATA #IMPLIED
    LSID CDATA #IMPLIED
    TITLECACHE CDATA #IMPLIED
    PROTECTEDTITLECACHE CDATA #IMPLIED
    HASPROBLEM CDATA #IMPLIED
    NOMENCLATURALLYRELEVANT CDATA #IMPLIED
    PROBLEMENDS CDATA #IMPLIED
    PROBLEMSTARTS CDATA #IMPLIED
    URI CDATA #IMPLIED
    DATEPUBLISHED_END CDATA #IMPLIED
    DATEPUBLISHED_START CDATA #IMPLIED
    TITLE CDATA #IMPLIED
    PAGES CDATA #IMPLIED
    SERIES CDATA #IMPLIED
    VOLUME CDATA #IMPLIED
    ADDRESS CDATA #IMPLIED
    ANNOTE CDATA #IMPLIED
    BOOKTITLE CDATA #IMPLIED
    CHAPTER CDATA #IMPLIED
    EDITION CDATA #IMPLIED
    EDITOR CDATA #IMPLIED
    EPRINT CDATA #IMPLIED
    HOWPUBLISHED CDATA #IMPLIED
    INSTITUTION CDATA #IMPLIED
    JOURNAL CDATA #IMPLIED
    MONTH CDATA #IMPLIED
    NOTE CDATA #IMPLIED
    NUMBER CDATA #IMPLIED
    ORGANIZATION CDATA #IMPLIED
    PUBLISHER CDATA #IMPLIED
    REPORTTYPE CDATA #IMPLIED
    SCHOOL CDATA #IMPLIED
    YEAR CDATA #IMPLIED
    PLACEPUBLISHED CDATA #IMPLIED
    SERIESPART CDATA #IMPLIED
    ISBN CDATA #IMPLIED
    ISSN CDATA #IMPLIED
    CREATEDBY_ID CDATA #IMPLIED
    UPDATEDBY_ID CDATA #IMPLIED
    AUTHORTEAM_ID CDATA #IMPLIED
    INJOURNAL_ID CDATA #IMPLIED
    CROSSREF_ID CDATA #IMPLIED
    TYPE_ID CDATA #IMPLIED
    INSERIES_ID CDATA #IMPLIED
    INBOOK_ID CDATA #IMPLIED
    INPROCEEDINGS_ID CDATA #IMPLIED
    INSTITUTION_ID CDATA #IMPLIED
    SCHOOL_ID CDATA #IMPLIED
>

<!ELEMENT REFERENCEBASE_ANNOTATION EMPTY>
<!ATTLIST REFERENCEBASE_ANNOTATION
    REFERENCEBASE_ID CDATA #REQUIRED
    ANNOTATIONS_ID CDATA #REQUIRED
>

<!ELEMENT REFERENCEBASE_EXTENSION EMPTY>
<!ATTLIST REFERENCEBASE_EXTENSION
    REFERENCEBASE_ID CDATA #REQUIRED
    EXTENSIONS_ID CDATA #REQUIRED
>

<!ELEMENT REFERENCEBASE_MARKER EMPTY>
<!ATTLIST REFERENCEBASE_MARKER
    REFERENCEBASE_ID CDATA #REQUIRED
    MARKERS_ID CDATA #REQUIRED
>

<!ELEMENT REFERENCEBASE_MEDIA EMPTY>
<!ATTLIST REFERENCEBASE_MEDIA
    REFERENCEBASE_ID CDATA #REQUIRED
    MEDIA_ID CDATA #REQUIRED
>

<!ELEMENT REFERENCEBASE_ORIGINALSOURCE EMPTY>
<!ATTLIST REFERENCEBASE_ORIGINALSOURCE
    REFERENCEBASE_ID CDATA #REQUIRED
    SOURCES_ID CDATA #REQUIRED
>

<!ELEMENT REFERENCEBASE_RIGHTS EMPTY>
<!ATTLIST REFERENCEBASE_RIGHTS
    REFERENCEBASE_ID CDATA #REQUIRED
    RIGHTS_ID CDATA #REQUIRED
>

<!ELEMENT RELATIONSHIPTERMBASE_INVERSEREPRESENTATION EMPTY>
<!ATTLIST RELATIONSHIPTERMBASE_INVERSEREPRESENTATION
    DEFINEDTERMBASE_ID CDATA #REQUIRED
    INVERSEREPRESENTATIONS_ID CDATA #REQUIRED
>

<!ELEMENT REPRESENTATION EMPTY>
<!ATTLIST REPRESENTATION
    ID CDATA #REQUIRED
    CREATED CDATA #IMPLIED
    UUID CDATA #IMPLIED
    UPDATED CDATA #IMPLIED
    TEXT CDATA #IMPLIED
    ABBREVIATEDLABEL CDATA #IMPLIED
    LABEL CDATA #IMPLIED
    CREATEDBY_ID CDATA #IMPLIED
    UPDATEDBY_ID CDATA #IMPLIED
    LANGUAGE_ID CDATA #IMPLIED
>

<!ELEMENT REPRESENTATION_ANNOTATION EMPTY>
<!ATTLIST REPRESENTATION_ANNOTATION
    REPRESENTATION_ID CDATA #REQUIRED
    ANNOTATIONS_ID CDATA #REQUIRED
>

<!ELEMENT REPRESENTATION_MARKER EMPTY>
<!ATTLIST REPRESENTATION_MARKER
    REPRESENTATION_ID CDATA #REQUIRED
    MARKERS_ID CDATA #REQUIRED
>

<!ELEMENT RIGHTS EMPTY>
<!ATTLIST RIGHTS
    ID CDATA #REQUIRED
    CREATED CDATA #IMPLIED
    UUID CDATA #IMPLIED
    UPDATED CDATA #IMPLIED
    TEXT CDATA #IMPLIED
    ABBREVIATEDTEXT CDATA #IMPLIED
    URI CDATA #IMPLIED
    CREATEDBY_ID CDATA #IMPLIED
    UPDATEDBY_ID CDATA #IMPLIED
    LANGUAGE_ID CDATA #IMPLIED
    AGENT_ID CDATA #IMPLIED
    TYPE_ID CDATA #IMPLIED
>

<!ELEMENT RIGHTS_ANNOTATION EMPTY>
<!ATTLIST RIGHTS_ANNOTATION
    RIGHTS_ID CDATA #REQUIRED
    ANNOTATIONS_ID CDATA #REQUIRED
>

<!ELEMENT RIGHTS_MARKER EMPTY>
<!ATTLIST RIGHTS_MARKER
    RIGHTS_ID CDATA #REQUIRED
    MARKERS_ID CDATA #REQUIRED
>

<!ELEMENT SEQUENCE EMPTY>
<!ATTLIST SEQUENCE
    ID CDATA #REQUIRED
    CREATED CDATA #IMPLIED
    UUID CDATA #IMPLIED
    UPDATED CDATA #IMPLIED
    LSID CDATA #IMPLIED
    TITLECACHE CDATA #IMPLIED
    PROTECTEDTITLECACHE CDATA #IMPLIED
    BARCODE CDATA #IMPLIED
    CITATIONMICROREFERENCE CDATA #IMPLIED
    DATESEQUENCED CDATA #IMPLIED
    LENGTH CDATA #IMPLIED
    SEQUENCE CDATA #IMPLIED
    CREATEDBY_ID CDATA #IMPLIED
    UPDATEDBY_ID CDATA #IMPLIED
    LOCUS_ID CDATA #IMPLIED
    PUBLISHEDIN_ID CDATA #IMPLIED
>

<!ELEMENT SEQUENCE_ANNOTATION EMPTY>
<!ATTLIST SEQUENCE_ANNOTATION
    SEQUENCE_ID CDATA #REQUIRED
    ANNOTATIONS_ID CDATA #REQUIRED
>

<!ELEMENT SEQUENCE_EXTENSION EMPTY>
<!ATTLIST SEQUENCE_EXTENSION
    SEQUENCE_ID CDATA #REQUIRED
    EXTENSIONS_ID CDATA #REQUIRED
>

<!ELEMENT SEQUENCE_GENBANKACCESSION EMPTY>
<!ATTLIST SEQUENCE_GENBANKACCESSION
    SEQUENCE_ID CDATA #REQUIRED
    GENBANKACCESSION_ID CDATA #REQUIRED
>

<!ELEMENT SEQUENCE_MARKER EMPTY>
<!ATTLIST SEQUENCE_MARKER
    SEQUENCE_ID CDATA #REQUIRED
    MARKERS_ID CDATA #REQUIRED
>

<!ELEMENT SEQUENCE_MEDIA EMPTY>
<!ATTLIST SEQUENCE_MEDIA
    SEQUENCE_ID CDATA #REQUIRED
    CHROMATOGRAMS_ID CDATA #REQUIRED
>

<!ELEMENT SEQUENCE_ORIGINALSOURCE EMPTY>
<!ATTLIST SEQUENCE_ORIGINALSOURCE
    SEQUENCE_ID CDATA #REQUIRED
    SOURCES_ID CDATA #REQUIRED
>

<!ELEMENT SEQUENCE_REFERENCEBASE EMPTY>
<!ATTLIST SEQUENCE_REFERENCEBASE
    SEQUENCE_ID CDATA #REQUIRED
    CITATIONS_ID CDATA #REQUIRED
>

<!ELEMENT SEQUENCE_RIGHTS EMPTY>
<!ATTLIST SEQUENCE_RIGHTS
    SEQUENCE_ID CDATA #REQUIRED
    RIGHTS_ID CDATA #REQUIRED
>

<!ELEMENT SPECIMENOROBSERVATIONBASE EMPTY>
<!ATTLIST SPECIMENOROBSERVATIONBASE
    DTYPE CDATA #IMPLIED
    ID CDATA #REQUIRED
    CREATED CDATA #IMPLIED
    UUID CDATA #IMPLIED
    UPDATED CDATA #IMPLIED
    LSID CDATA #IMPLIED
    TITLECACHE CDATA #IMPLIED
    PROTECTEDTITLECACHE CDATA #IMPLIED
    DEFINITION CDATA #IMPLIED
    INDIVIDUALCOUNT CDATA #IMPLIED
    ACCESSIONNUMBER CDATA #IMPLIED
    CATALOGNUMBER CDATA #IMPLIED
    COLLECTORSNUMBER CDATA #IMPLIED
    FIELDNOTES CDATA #IMPLIED
    FIELDNUMBER CDATA #IMPLIED
    CREATEDBY_ID CDATA #IMPLIED
    UPDATEDBY_ID CDATA #IMPLIED
    LIFESTAGE_ID CDATA #IMPLIED
    SEX_ID CDATA #IMPLIED
    COLLECTION_ID CDATA #IMPLIED
    DERIVATIONEVENT_ID CDATA #IMPLIED
    STOREDUNDER_ID CDATA #IMPLIED
    PRESERVATION_ID CDATA #IMPLIED
    GATHERINGEVENT_ID CDATA #IMPLIED
>

<!ELEMENT SPECIMENOROBSERVATIONBASE_ANNOTATION EMPTY>
<!ATTLIST SPECIMENOROBSERVATIONBASE_ANNOTATION
    SPECIMENOROBSERVATIONBASE_ID CDATA #REQUIRED
    ANNOTATIONS_ID CDATA #REQUIRED
>

<!ELEMENT SPECIMENOROBSERVATIONBASE_DERIVATIONEVENT EMPTY>
<!ATTLIST SPECIMENOROBSERVATIONBASE_DERIVATIONEVENT
    ORIGINALS_ID CDATA #REQUIRED
    DERIVATIONEVENTS_ID CDATA #REQUIRED
>

<!ELEMENT SPECIMENOROBSERVATIONBASE_EXTENSION EMPTY>
<!ATTLIST SPECIMENOROBSERVATIONBASE_EXTENSION
    SPECIMENOROBSERVATIONBASE_ID CDATA #REQUIRED
    EXTENSIONS_ID CDATA #REQUIRED
>

<!ELEMENT SPECIMENOROBSERVATIONBASE_MARKER EMPTY>
<!ATTLIST SPECIMENOROBSERVATIONBASE_MARKER
    SPECIMENOROBSERVATIONBASE_ID CDATA #REQUIRED
    MARKERS_ID CDATA #REQUIRED
>

<!ELEMENT SPECIMENOROBSERVATIONBASE_MEDIA EMPTY>
<!ATTLIST SPECIMENOROBSERVATIONBASE_MEDIA
    SPECIMENOROBSERVATIONBASE_ID CDATA #REQUIRED
    MEDIA_ID CDATA #REQUIRED
>

<!ELEMENT SPECIMENOROBSERVATIONBASE_ORIGINALSOURCE EMPTY>
<!ATTLIST SPECIMENOROBSERVATIONBASE_ORIGINALSOURCE
    SPECIMENOROBSERVATIONBASE_ID CDATA #REQUIRED
    SOURCES_ID CDATA #REQUIRED
>

<!ELEMENT SPECIMENOROBSERVATIONBASE_RIGHTS EMPTY>
<!ATTLIST SPECIMENOROBSERVATIONBASE_RIGHTS
    SPECIMENOROBSERVATIONBASE_ID CDATA #REQUIRED
    RIGHTS_ID CDATA #REQUIRED
>

<!ELEMENT SPECIMENOROBSERVATIONBASE_SEQUENCE EMPTY>
<!ATTLIST SPECIMENOROBSERVATIONBASE_SEQUENCE
    SPECIMENOROBSERVATIONBASE_ID CDATA #REQUIRED
    SEQUENCES_ID CDATA #REQUIRED
>

<!ELEMENT STATEDATA EMPTY>
<!ATTLIST STATEDATA
    ID CDATA #REQUIRED
    CREATED CDATA #IMPLIED
    UUID CDATA #IMPLIED
    UPDATED CDATA #IMPLIED
    MODIFYINGTEXT CDATA #IMPLIED
    CREATEDBY_ID CDATA #IMPLIED
    UPDATEDBY_ID CDATA #IMPLIED
    STATE_ID CDATA #IMPLIED
>

<!ELEMENT STATEDATA_DEFINEDTERMBASE EMPTY>
<!ATTLIST STATEDATA_DEFINEDTERMBASE
    STATEDATA_ID CDATA #REQUIRED
    MODIFIERS_ID CDATA #REQUIRED
>

<!ELEMENT STATISTICALMEASUREMENTVALUE EMPTY>
<!ATTLIST STATISTICALMEASUREMENTVALUE
    ID CDATA #REQUIRED
    CREATED CDATA #IMPLIED
    UUID CDATA #IMPLIED
    UPDATED CDATA #IMPLIED
    VALUE CDATA #IMPLIED
    CREATEDBY_ID CDATA #IMPLIED
    UPDATEDBY_ID CDATA #IMPLIED
    TYPE_ID CDATA #IMPLIED
>

<!ELEMENT STATISTICALMEASUREMENTVALUE_DEFINEDTERMBASE EMPTY>
<!ATTLIST STATISTICALMEASUREMENTVALUE_DEFINEDTERMBASE
    STATISTICALMEASUREMENTVALUE_ID CDATA #REQUIRED
    MODIFIERS_ID CDATA #REQUIRED
>

<!ELEMENT SYNONYMRELATIONSHIP EMPTY>
<!ATTLIST SYNONYMRELATIONSHIP
    ID CDATA #REQUIRED
    CREATED CDATA #IMPLIED
    UUID CDATA #IMPLIED
    UPDATED CDATA #IMPLIED
    CITATIONMICROREFERENCE CDATA #IMPLIED
    ORIGINALNAMESTRING CDATA #IMPLIED
    DOUBTFUL CDATA #IMPLIED
    PARTIAL CDATA #IMPLIED
    PROPARTE CDATA #IMPLIED
    CREATEDBY_ID CDATA #IMPLIED
    UPDATEDBY_ID CDATA #IMPLIED
    CITATION_ID CDATA #IMPLIED
    RELATEDFROM_ID CDATA #IMPLIED
    RELATEDTO_ID CDATA #IMPLIED
    TYPE_ID CDATA #IMPLIED
>

<!ELEMENT SYNONYMRELATIONSHIP_ANNOTATION EMPTY>
<!ATTLIST SYNONYMRELATIONSHIP_ANNOTATION
    SYNONYMRELATIONSHIP_ID CDATA #REQUIRED
    ANNOTATIONS_ID CDATA #REQUIRED
>

<!ELEMENT SYNONYMRELATIONSHIP_MARKER EMPTY>
<!ATTLIST SYNONYMRELATIONSHIP_MARKER
    SYNONYMRELATIONSHIP_ID CDATA #REQUIRED
    MARKERS_ID CDATA #REQUIRED
>

<!ELEMENT TAXONBASE EMPTY>
<!ATTLIST TAXONBASE
    DTYPE CDATA #IMPLIED
    ID CDATA #REQUIRED
    CREATED CDATA #IMPLIED
    UUID CDATA #IMPLIED
    UPDATED CDATA #IMPLIED
    LSID CDATA #IMPLIED
    TITLECACHE CDATA #IMPLIED
    PROTECTEDTITLECACHE CDATA #IMPLIED
    DOUBTFUL CDATA #IMPLIED
    TAXONOMICCHILDRENCOUNT CDATA #IMPLIED
    CREATEDBY_ID CDATA #IMPLIED
    UPDATEDBY_ID CDATA #IMPLIED
    TAXONNAME_FK CDATA #IMPLIED
    SEC_ID CDATA #IMPLIED
    TAXONOMICPARENTCACHE_ID CDATA #IMPLIED
>

<!ELEMENT TAXONBASE_ANNOTATION EMPTY>
<!ATTLIST TAXONBASE_ANNOTATION
    TAXONBASE_ID CDATA #REQUIRED
    ANNOTATIONS_ID CDATA #REQUIRED
>

<!ELEMENT TAXONBASE_EXTENSION EMPTY>
<!ATTLIST TAXONBASE_EXTENSION
    TAXONBASE_ID CDATA #REQUIRED
    EXTENSIONS_ID CDATA #REQUIRED
>

<!ELEMENT TAXONBASE_MARKER EMPTY>
<!ATTLIST TAXONBASE_MARKER
    TAXONBASE_ID CDATA #REQUIRED
    MARKERS_ID CDATA #REQUIRED
>

<!ELEMENT TAXONBASE_ORIGINALSOURCE EMPTY>
<!ATTLIST TAXONBASE_ORIGINALSOURCE
    TAXONBASE_ID CDATA #REQUIRED
    SOURCES_ID CDATA #REQUIRED
>

<!ELEMENT TAXONBASE_RIGHTS EMPTY>
<!ATTLIST TAXONBASE_RIGHTS
    TAXONBASE_ID CDATA #REQUIRED
    RIGHTS_ID CDATA #REQUIRED
>

<!ELEMENT TAXONNAMEBASE EMPTY>
<!ATTLIST TAXONNAMEBASE
    DTYPE CDATA #IMPLIED
    ID CDATA #REQUIRED
    CREATED CDATA #IMPLIED
    UUID CDATA #IMPLIED
    UPDATED CDATA #IMPLIED
    LSID CDATA #IMPLIED
    TITLECACHE CDATA #IMPLIED
    PROTECTEDTITLECACHE CDATA #IMPLIED
    APPENDEDPHRASE CDATA #IMPLIED
    HASPROBLEM CDATA #IMPLIED
    NOMENCLATURALMICROREFERENCE CDATA #IMPLIED
    FULLTITLECACHE CDATA #IMPLIED
    PROBLEMENDS CDATA #IMPLIED
    PROBLEMSTARTS CDATA #IMPLIED
    PROTECTEDFULLTITLECACHE CDATA #IMPLIED
    AUTHORSHIPCACHE CDATA #IMPLIED
    GENUSORUNINOMIAL CDATA #IMPLIED
    INFRAGENERICEPITHET CDATA #IMPLIED
    INFRASPECIFICEPITHET CDATA #IMPLIED
    NAMECACHE CDATA #IMPLIED
    PROTECTEDAUTHORSHIPCACHE CDATA #IMPLIED
    PROTECTEDNAMECACHE CDATA #IMPLIED
    SPECIFICEPITHET CDATA #IMPLIED
    NAMEAPPROBATION CDATA #IMPLIED
    SUBGENUSAUTHORSHIP CDATA #IMPLIED
    ANAMORPHIC CDATA #IMPLIED
    BINOMHYBRID CDATA #IMPLIED
    HYBRIDFORMULA CDATA #IMPLIED
    MONOMHYBRID CDATA #IMPLIED
    TRINOMHYBRID CDATA #IMPLIED
    CULTIVARNAME CDATA #IMPLIED
    ACRONYM CDATA #IMPLIED
    BREED CDATA #IMPLIED
    ORIGINALPUBLICATIONYEAR CDATA #IMPLIED
    PUBLICATIONYEAR CDATA #IMPLIED
    CREATEDBY_ID CDATA #IMPLIED
    UPDATEDBY_ID CDATA #IMPLIED
    HOMOTYPICALGROUP_ID CDATA #IMPLIED
    NOMENCLATURALREFERENCE_ID CDATA #IMPLIED
    RANK_ID CDATA #IMPLIED
    BASIONYMAUTHORTEAM_ID CDATA #IMPLIED
    COMBINATIONAUTHORTEAM_ID CDATA #IMPLIED
    EXBASIONYMAUTHORTEAM_ID CDATA #IMPLIED
    EXCOMBINATIONAUTHORTEAM_ID CDATA #IMPLIED
>

<!ELEMENT TAXONNAMEBASE_ANNOTATION EMPTY>
<!ATTLIST TAXONNAMEBASE_ANNOTATION
    TAXONNAMEBASE_ID CDATA #REQUIRED
    ANNOTATIONS_ID CDATA #REQUIRED
>

<!ELEMENT TAXONNAMEBASE_EXTENSION EMPTY>
<!ATTLIST TAXONNAMEBASE_EXTENSION
    TAXONNAMEBASE_ID CDATA #REQUIRED
    EXTENSIONS_ID CDATA #REQUIRED
>

<!ELEMENT TAXONNAMEBASE_HYBRIDRELATIONSHIP EMPTY>
<!ATTLIST TAXONNAMEBASE_HYBRIDRELATIONSHIP
    TAXONNAMEBASE_ID CDATA #REQUIRED
    HYBRIDRELATIONSHIPS_ID CDATA #REQUIRED
>

<!ELEMENT TAXONNAMEBASE_MARKER EMPTY>
<!ATTLIST TAXONNAMEBASE_MARKER
    TAXONNAMEBASE_ID CDATA #REQUIRED
    MARKERS_ID CDATA #REQUIRED
>

<!ELEMENT TAXONNAMEBASE_NOMENCLATURALSTATUS EMPTY>
<!ATTLIST TAXONNAMEBASE_NOMENCLATURALSTATUS
    TAXONNAMEBASE_ID CDATA #REQUIRED
    STATUS_ID CDATA #REQUIRED
>

<!ELEMENT TAXONNAMEBASE_ORIGINALSOURCE EMPTY>
<!ATTLIST TAXONNAMEBASE_ORIGINALSOURCE
    TAXONNAMEBASE_ID CDATA #REQUIRED
    SOURCES_ID CDATA #REQUIRED
>

<!ELEMENT TAXONNAMEBASE_RIGHTS EMPTY>
<!ATTLIST TAXONNAMEBASE_RIGHTS
    TAXONNAMEBASE_ID CDATA #REQUIRED
    RIGHTS_ID CDATA #REQUIRED
>

<!ELEMENT TAXONNAMEBASE_TYPEDESIGNATIONBASE EMPTY>
<!ATTLIST TAXONNAMEBASE_TYPEDESIGNATIONBASE
    TAXONNAMEBASE_ID CDATA #REQUIRED
    TYPEDESIGNATIONS_ID CDATA #REQUIRED
>

<!ELEMENT TAXONRELATIONSHIP EMPTY>
<!ATTLIST TAXONRELATIONSHIP
    ID CDATA #REQUIRED
    CREATED CDATA #IMPLIED
    UUID CDATA #IMPLIED
    UPDATED CDATA #IMPLIED
    CITATIONMICROREFERENCE CDATA #IMPLIED
    ORIGINALNAMESTRING CDATA #IMPLIED
    DOUBTFUL CDATA #IMPLIED
    CREATEDBY_ID CDATA #IMPLIED
    UPDATEDBY_ID CDATA #IMPLIED
    CITATION_ID CDATA #IMPLIED
    RELATEDFROM_ID CDATA #IMPLIED
    RELATEDTO_ID CDATA #IMPLIED
    TYPE_ID CDATA #IMPLIED
>

<!ELEMENT TAXONRELATIONSHIP_ANNOTATION EMPTY>
<!ATTLIST TAXONRELATIONSHIP_ANNOTATION
    TAXONRELATIONSHIP_ID CDATA #REQUIRED
    ANNOTATIONS_ID CDATA #REQUIRED
>

<!ELEMENT TAXONRELATIONSHIP_MARKER EMPTY>
<!ATTLIST TAXONRELATIONSHIP_MARKER
    TAXONRELATIONSHIP_ID CDATA #REQUIRED
    MARKERS_ID CDATA #REQUIRED
>

<!ELEMENT TERMVOCABULARY EMPTY>
<!ATTLIST TERMVOCABULARY
    DTYPE CDATA #IMPLIED
    ID CDATA #REQUIRED
    CREATED CDATA #IMPLIED
    UUID CDATA #IMPLIED
    UPDATED CDATA #IMPLIED
    URI CDATA #IMPLIED
    TERMSOURCEURI CDATA #IMPLIED
    CREATEDBY_ID CDATA #IMPLIED
    UPDATEDBY_ID CDATA #IMPLIED
>

<!ELEMENT TERMVOCABULARY_REPRESENTATION EMPTY>
<!ATTLIST TERMVOCABULARY_REPRESENTATION
    TERMVOCABULARY_ID CDATA #REQUIRED
    REPRESENTATIONS_ID CDATA #REQUIRED
>

<!ELEMENT TYPEDESIGNATIONBASE EMPTY>
<!ATTLIST TYPEDESIGNATIONBASE
    DTYPE CDATA #IMPLIED
    ID CDATA #REQUIRED
    CREATED CDATA #IMPLIED
    UUID CDATA #IMPLIED
    UPDATED CDATA #IMPLIED
    CITATIONMICROREFERENCE CDATA #IMPLIED
    ORIGINALNAMESTRING CDATA #IMPLIED
    NOTDESIGNATED CDATA #IMPLIED
    CONSERVEDTYPE CDATA #IMPLIED
    LECTOTYPE CDATA #IMPLIED
    REJECTEDTYPE CDATA #IMPLIED
    CREATEDBY_ID CDATA #IMPLIED
    UPDATEDBY_ID CDATA #IMPLIED
    CITATION_ID CDATA #IMPLIED
    HOMOTYPICALGROUP_ID CDATA #IMPLIED
    TYPENAME_ID CDATA #IMPLIED
    TYPESPECIMEN_ID CDATA #IMPLIED
    TYPESTATUS_ID CDATA #IMPLIED
>

<!ELEMENT TYPEDESIGNATIONBASE_ANNOTATION EMPTY>
<!ATTLIST TYPEDESIGNATIONBASE_ANNOTATION
    TYPEDESIGNATIONBASE_ID CDATA #REQUIRED
    ANNOTATIONS_ID CDATA #REQUIRED
>

<!ELEMENT TYPEDESIGNATIONBASE_MARKER EMPTY>
<!ATTLIST TYPEDESIGNATIONBASE_MARKER
    TYPEDESIGNATIONBASE_ID CDATA #REQUIRED
    MARKERS_ID CDATA #REQUIRED
>

<!ELEMENT TYPEDESIGNATIONBASE_TAXONNAMEBASE EMPTY>
<!ATTLIST TYPEDESIGNATIONBASE_TAXONNAMEBASE
    TYPEDESIGNATIONBASE_ID CDATA #REQUIRED
    TYPIFIEDNAMES_ID CDATA #REQUIRED
>

<!ELEMENT USER EMPTY>
<!ATTLIST USER
    ID CDATA #REQUIRED
    CREATED CDATA #IMPLIED
    UUID CDATA #IMPLIED
    ACCOUNTNONEXPIRED CDATA #IMPLIED
    ACCOUNTNONLOCKED CDATA #IMPLIED
    CREDENTIALSNONEXPIRED CDATA #IMPLIED
    EMAILADDRESS CDATA #IMPLIED
    ENABLED CDATA #IMPLIED
    PASSWORD CDATA #IMPLIED
    USERNAME CDATA #IMPLIED
    CREATEDBY_ID CDATA #IMPLIED
>

<!ELEMENT USER_GRANTEDAUTHORITYIMPL EMPTY>
<!ATTLIST USER_GRANTEDAUTHORITYIMPL
    USER_ID CDATA #REQUIRED
    GRANTEDAUTHORITIES_ID CDATA #REQUIRED
>

<!ELEMENT USER_PERMISSIONGROUP EMPTY>
<!ATTLIST USER_PERMISSIONGROUP
    MEMBERS_ID CDATA #REQUIRED
    GROUPS_ID CDATA #REQUIRED
>

