cdmlib-services/src/test/resources/eu/etaxonomy/cdm/service/dataset.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" xmlns:dflt="PUBLIC">
	<xsd:import namespace="PUBLIC" schemaLocation="PUBLIC.xsd" />
	<xsd:element name="dataset">
		<xsd:complexType>
			<xsd:choice minOccurs="0" maxOccurs="unbounded">
				<xsd:element name="SPECIMENOROBSERVATIONBASE_ANNOTATION_AUD" type="dflt:SPECIMENOROBSERVATIONBASE_ANNOTATION_AUD__type" />
				<xsd:element name="DESCRIPTIONELEMENTBASE_LANGUAGESTRING" type="dflt:DESCRIPTIONELEMENTBASE_LANGUAGESTRING__type" />
				<xsd:element name="TAXONINTERACTION_LANGUAGESTRING_AUD" type="dflt:TAXONINTERACTION_LANGUAGESTRING_AUD__type" />
				<xsd:element name="AUDITEVENT" type="dflt:AUDITEVENT__type" />
				<xsd:element name="TERMVOCABULARY_AUD" type="dflt:TERMVOCABULARY_AUD__type" />
				<xsd:element name="DESCRIPTIONELEMENTBASE_STATEDATA_AUD" type="dflt:DESCRIPTIONELEMENTBASE_STATEDATA_AUD__type" />
				<xsd:element name="DEFINEDTERMBASE_CONTINENT" type="dflt:DEFINEDTERMBASE_CONTINENT__type" />
				<xsd:element name="TAXONNAMEBASE_HYBRIDRELATIONSHIP_AUD" type="dflt:TAXONNAMEBASE_HYBRIDRELATIONSHIP_AUD__type" />
				<xsd:element name="REFERENCE_ANNOTATION" type="dflt:REFERENCE_ANNOTATION__type" />
				<xsd:element name="DETERMINATIONEVENT_MARKER_AUD" type="dflt:DETERMINATIONEVENT_MARKER_AUD__type" />
				<xsd:element name="LANGUAGESTRING_ANNOTATION_AUD" type="dflt:LANGUAGESTRING_ANNOTATION_AUD__type" />
				<xsd:element name="TAXONRELATIONSHIP_ANNOTATION_AUD" type="dflt:TAXONRELATIONSHIP_ANNOTATION_AUD__type" />
				<xsd:element name="NOMENCLATURALSTATUS_AUD" type="dflt:NOMENCLATURALSTATUS_AUD__type" />
				<xsd:element name="AGENT_ORIGINALSOURCE" type="dflt:AGENT_ORIGINALSOURCE__type" />
				<xsd:element name="DESCRIPTIONBASE_ANNOTATION" type="dflt:DESCRIPTIONBASE_ANNOTATION__type" />
				<xsd:element name="SEQUENCE_MEDIA_AUD" type="dflt:SEQUENCE_MEDIA_AUD__type" />
				<xsd:element name="MEDIA" type="dflt:MEDIA__type" />
				<xsd:element name="COLLECTION_AUD" type="dflt:COLLECTION_AUD__type" />
				<xsd:element name="GATHERINGEVENT_MARKER" type="dflt:GATHERINGEVENT_MARKER__type" />
				<xsd:element name="DETERMINATIONEVENT" type="dflt:DETERMINATIONEVENT__type" />
				<xsd:element name="LSIDAUTHORITY" type="dflt:LSIDAUTHORITY__type" />
				<xsd:element name="RIGHTS_MARKER" type="dflt:RIGHTS_MARKER__type" />
				<xsd:element name="LANGUAGESTRING_MARKER_AUD" type="dflt:LANGUAGESTRING_MARKER_AUD__type" />
				<xsd:element name="SEQUENCE_GENBANKACCESSION" type="dflt:SEQUENCE_GENBANKACCESSION__type" />
				<xsd:element name="DETERMINATIONEVENT_MARKER" type="dflt:DETERMINATIONEVENT_MARKER__type" />
				<xsd:element name="REPRESENTATION" type="dflt:REPRESENTATION__type" />
				<xsd:element name="REFERENCE_ANNOTATION_AUD" type="dflt:REFERENCE_ANNOTATION_AUD__type" />
				<xsd:element name="TERMVOCABULARY_REPRESENTATION" type="dflt:TERMVOCABULARY_REPRESENTATION__type" />
				<xsd:element name="FEATURENODE" type="dflt:FEATURENODE__type" />
				<xsd:element name="REPRESENTATION_MARKER_AUD" type="dflt:REPRESENTATION_MARKER_AUD__type" />
				<xsd:element name="NAMERELATIONSHIP_ANNOTATION" type="dflt:NAMERELATIONSHIP_ANNOTATION__type" />
				<xsd:element name="FEATURETREE" type="dflt:FEATURETREE__type" />
				<xsd:element name="SPECIMENOROBSERVATIONBASE_RIGHTS" type="dflt:SPECIMENOROBSERVATIONBASE_RIGHTS__type" />
				<xsd:element name="DESCRIPTIONBASE" type="dflt:DESCRIPTIONBASE__type" />
				<xsd:element name="STATISTICALMEASUREMENTVALUE" type="dflt:STATISTICALMEASUREMENTVALUE__type" />
				<xsd:element name="STATEDATA_DEFINEDTERMBASE_AUD" type="dflt:STATEDATA_DEFINEDTERMBASE_AUD__type" />
				<xsd:element name="SPECIMENOROBSERVATIONBASE_MARKER_AUD" type="dflt:SPECIMENOROBSERVATIONBASE_MARKER_AUD__type" />
				<xsd:element name="TAXONNAMEBASE_NOMENCLATURALSTATUS" type="dflt:TAXONNAMEBASE_NOMENCLATURALSTATUS__type" />
				<xsd:element name="DETERMINATIONEVENT_ANNOTATION_AUD" type="dflt:DETERMINATIONEVENT_ANNOTATION_AUD__type" />
				<xsd:element name="LOCUS" type="dflt:LOCUS__type" />
				<xsd:element name="MEDIA_ANNOTATION" type="dflt:MEDIA_ANNOTATION__type" />
				<xsd:element name="GRANTEDAUTHORITYIMPL" type="dflt:GRANTEDAUTHORITYIMPL__type" />
				<xsd:element name="TAXONNAMEBASE_ORIGINALSOURCE" type="dflt:TAXONNAMEBASE_ORIGINALSOURCE__type" />
				<xsd:element name="HYBRIDRELATIONSHIP_MARKER" type="dflt:HYBRIDRELATIONSHIP_MARKER__type" />
				<xsd:element name="SEQUENCE_RIGHTS_AUD" type="dflt:SEQUENCE_RIGHTS_AUD__type" />
				<xsd:element name="DESCRIPTIONBASE_EXTENSION_AUD" type="dflt:DESCRIPTIONBASE_EXTENSION_AUD__type" />
				<xsd:element name="SYNONYMRELATIONSHIP_MARKER_AUD" type="dflt:SYNONYMRELATIONSHIP_MARKER_AUD__type" />
				<xsd:element name="TAXONNAMEBASE_TYPEDESIGNATIONBASE_AUD" type="dflt:TAXONNAMEBASE_TYPEDESIGNATIONBASE_AUD__type" />
				<xsd:element name="MEDIA_AUD" type="dflt:MEDIA_AUD__type" />
				<xsd:element name="SPECIMENOROBSERVATIONBASE_EXTENSION" type="dflt:SPECIMENOROBSERVATIONBASE_EXTENSION__type" />
				<xsd:element name="RIGHTS_AUD" type="dflt:RIGHTS_AUD__type" />
				<xsd:element name="TYPEDESIGNATIONBASE_ANNOTATION_AUD" type="dflt:TYPEDESIGNATIONBASE_ANNOTATION_AUD__type" />
				<xsd:element name="SPECIMENOROBSERVATIONBASE_MEDIA_AUD" type="dflt:SPECIMENOROBSERVATIONBASE_MEDIA_AUD__type" />
				<xsd:element name="REPRESENTATION_MARKER" type="dflt:REPRESENTATION_MARKER__type" />
				<xsd:element name="REFERENCE_MEDIA_AUD" type="dflt:REFERENCE_MEDIA_AUD__type" />
				<xsd:element name="TAXONBASE_MARKER_AUD" type="dflt:TAXONBASE_MARKER_AUD__type" />
				<xsd:element name="DEFINEDTERMBASE_REPRESENTATION_AUD" type="dflt:DEFINEDTERMBASE_REPRESENTATION_AUD__type" />
				<xsd:element name="ORIGINALSOURCE_MARKER_AUD" type="dflt:ORIGINALSOURCE_MARKER_AUD__type" />
				<xsd:element name="SPECIMENOROBSERVATIONBASE_LANGUAGESTRING_AUD" type="dflt:SPECIMENOROBSERVATIONBASE_LANGUAGESTRING_AUD__type" />
				<xsd:element name="DESCRIPTIONBASE_ANNOTATION_AUD" type="dflt:DESCRIPTIONBASE_ANNOTATION_AUD__type" />
				<xsd:element name="DEFINEDTERMBASE_STATISTICALMEASURE_AUD" type="dflt:DEFINEDTERMBASE_STATISTICALMEASURE_AUD__type" />
				<xsd:element name="HOMOTYPICALGROUP_ANNOTATION" type="dflt:HOMOTYPICALGROUP_ANNOTATION__type" />
				<xsd:element name="DESCRIPTIONBASE_REFERENCE" type="dflt:DESCRIPTIONBASE_REFERENCE__type" />
				<xsd:element name="NAMERELATIONSHIP_MARKER_AUD" type="dflt:NAMERELATIONSHIP_MARKER_AUD__type" />
				<xsd:element name="SEQUENCE_AUD" type="dflt:SEQUENCE_AUD__type" />
				<xsd:element name="EXTENSION" type="dflt:EXTENSION__type" />
				<xsd:element name="AGENT_ANNOTATION" type="dflt:AGENT_ANNOTATION__type" />
				<xsd:element name="DESCRIPTIONBASE_RIGHTS_AUD" type="dflt:DESCRIPTIONBASE_RIGHTS_AUD__type" />
				<xsd:element name="DESCRIPTIONBASE_RIGHTS" type="dflt:DESCRIPTIONBASE_RIGHTS__type" />
				<xsd:element name="ADDRESS" type="dflt:ADDRESS__type" />
				<xsd:element name="AGENT_MARKER_AUD" type="dflt:AGENT_MARKER_AUD__type" />
				<xsd:element name="SEQUENCE_ANNOTATION_AUD" type="dflt:SEQUENCE_ANNOTATION_AUD__type" />
				<xsd:element name="HYBRIDRELATIONSHIP_AUD" type="dflt:HYBRIDRELATIONSHIP_AUD__type" />
				<xsd:element name="HYBRIDRELATIONSHIP_ANNOTATION_AUD" type="dflt:HYBRIDRELATIONSHIP_ANNOTATION_AUD__type" />
				<xsd:element name="NAMERELATIONSHIP_AUD" type="dflt:NAMERELATIONSHIP_AUD__type" />
				<xsd:element name="ANNOTATION_ANNOTATION" type="dflt:ANNOTATION_ANNOTATION__type" />
				<xsd:element name="COLLECTION" type="dflt:COLLECTION__type" />
				<xsd:element name="DEFINEDTERMBASE_CONTINENT_AUD" type="dflt:DEFINEDTERMBASE_CONTINENT_AUD__type" />
				<xsd:element name="TAXONNAMEBASE_RIGHTS_AUD" type="dflt:TAXONNAMEBASE_RIGHTS_AUD__type" />
				<xsd:element name="TAXONNAMEBASE_ORIGINALSOURCE_AUD" type="dflt:TAXONNAMEBASE_ORIGINALSOURCE_AUD__type" />
				<xsd:element name="MEDIA_TAXONBASE" type="dflt:MEDIA_TAXONBASE__type" />
				<xsd:element name="SPECIMENOROBSERVATIONBASE_MARKER" type="dflt:SPECIMENOROBSERVATIONBASE_MARKER__type" />
				<xsd:element name="DEFINEDTERMBASE_AUD" type="dflt:DEFINEDTERMBASE_AUD__type" />
				<xsd:element name="COLLECTION_ANNOTATION_AUD" type="dflt:COLLECTION_ANNOTATION_AUD__type" />
				<xsd:element name="DESCRIPTIONELEMENTBASE_MODIFIER_AUD" type="dflt:DESCRIPTIONELEMENTBASE_MODIFIER_AUD__type" />
				<xsd:element name="EXTENSION_AUD" type="dflt:EXTENSION_AUD__type" />
				<xsd:element name="SEQUENCE_REFERENCE_AUD" type="dflt:SEQUENCE_REFERENCE_AUD__type" />
				<xsd:element name="REFERENCE_EXTENSION_AUD" type="dflt:REFERENCE_EXTENSION_AUD__type" />
				<xsd:element name="HOMOTYPICALGROUP" type="dflt:HOMOTYPICALGROUP__type" />
				<xsd:element name="SEQUENCE_REFERENCE" type="dflt:SEQUENCE_REFERENCE__type" />
				<xsd:element name="TYPEDESIGNATIONBASE_ANNOTATION" type="dflt:TYPEDESIGNATIONBASE_ANNOTATION__type" />
				<xsd:element name="DESCRIPTIONELEMENTBASE_MARKER_AUD" type="dflt:DESCRIPTIONELEMENTBASE_MARKER_AUD__type" />
				<xsd:element name="ORIGINALSOURCE_MARKER" type="dflt:ORIGINALSOURCE_MARKER__type" />
				<xsd:element name="AGENT_AUD" type="dflt:AGENT_AUD__type" />
				<xsd:element name="TAXONNAMEBASE_AUD" type="dflt:TAXONNAMEBASE_AUD__type" />
				<xsd:element name="ANNOTATION_AUD" type="dflt:ANNOTATION_AUD__type" />
				<xsd:element name="AGENT_EXTENSION_AUD" type="dflt:AGENT_EXTENSION_AUD__type" />
				<xsd:element name="GATHERINGEVENT_DEFINEDTERMBASE" type="dflt:GATHERINGEVENT_DEFINEDTERMBASE__type" />
				<xsd:element name="HYBRIDRELATIONSHIP_ANNOTATION" type="dflt:HYBRIDRELATIONSHIP_ANNOTATION__type" />
				<xsd:element name="SYNONYMRELATIONSHIP" type="dflt:SYNONYMRELATIONSHIP__type" />
				<xsd:element name="DEFINEDTERMBASE" type="dflt:DEFINEDTERMBASE__type" />
				<xsd:element name="PERSON_KEYWORD" type="dflt:PERSON_KEYWORD__type" />
				<xsd:element name="TYPEDESIGNATIONBASE_MARKER" type="dflt:TYPEDESIGNATIONBASE_MARKER__type" />
				<xsd:element name="DESCRIPTIONBASE_GEOSCOPE" type="dflt:DESCRIPTIONBASE_GEOSCOPE__type" />
				<xsd:element name="MARKER_AUD" type="dflt:MARKER_AUD__type" />
				<xsd:element name="TAXONBASE_ANNOTATION" type="dflt:TAXONBASE_ANNOTATION__type" />
				<xsd:element name="DESCRIPTIONBASE_AUD" type="dflt:DESCRIPTIONBASE_AUD__type" />
				<xsd:element name="REFERENCE_EXTENSION" type="dflt:REFERENCE_EXTENSION__type" />
				<xsd:element name="LANGUAGESTRING_ANNOTATION" type="dflt:LANGUAGESTRING_ANNOTATION__type" />
				<xsd:element name="TAXONBASE_MARKER" type="dflt:TAXONBASE_MARKER__type" />
				<xsd:element name="CDM_VIEW_CDM_VIEW" type="dflt:CDM_VIEW_CDM_VIEW__type" />
				<xsd:element name="DESCRIPTIONELEMENTBASE_STATISTICALMEASUREMENTVALUE_AUD" type="dflt:DESCRIPTIONELEMENTBASE_STATISTICALMEASUREMENTVALUE_AUD__type" />
				<xsd:element name="MEDIAKEY_TAXON_AUD" type="dflt:MEDIAKEY_TAXON_AUD__type" />
				<xsd:element name="TERMVOCABULARY" type="dflt:TERMVOCABULARY__type" />
				<xsd:element name="DESCRIPTIONBASE_ORIGINALSOURCE_AUD" type="dflt:DESCRIPTIONBASE_ORIGINALSOURCE_AUD__type" />
				<xsd:element name="DERIVATIONEVENT_MARKER" type="dflt:DERIVATIONEVENT_MARKER__type" />
				<xsd:element name="ORIGINALSOURCE_AUD" type="dflt:ORIGINALSOURCE_AUD__type" />
				<xsd:element name="DESCRIPTIONBASE_SCOPE_AUD" type="dflt:DESCRIPTIONBASE_SCOPE_AUD__type" />
				<xsd:element name="DESCRIPTIONELEMENTBASE_AUD" type="dflt:DESCRIPTIONELEMENTBASE_AUD__type" />
				<xsd:element name="MEDIAREPRESENTATION" type="dflt:MEDIAREPRESENTATION__type" />
				<xsd:element name="AGENT_MEDIA" type="dflt:AGENT_MEDIA__type" />
				<xsd:element name="REPRESENTATION_AUD" type="dflt:REPRESENTATION_AUD__type" />
				<xsd:element name="AGENT" type="dflt:AGENT__type" />
				<xsd:element name="DESCRIPTIONELEMENTBASE_STATISTICALMEASUREMENTVALUE" type="dflt:DESCRIPTIONELEMENTBASE_STATISTICALMEASUREMENTVALUE__type" />
				<xsd:element name="AGENT_DEFINEDTERMBASE_AUD" type="dflt:AGENT_DEFINEDTERMBASE_AUD__type" />
				<xsd:element name="MEDIA_TAXONBASE_AUD" type="dflt:MEDIA_TAXONBASE_AUD__type" />
				<xsd:element name="DESCRIPTIONELEMENTBASE_ANNOTATION_AUD" type="dflt:DESCRIPTIONELEMENTBASE_ANNOTATION_AUD__type" />
				<xsd:element name="ANNOTATION_MARKER" type="dflt:ANNOTATION_MARKER__type" />
				<xsd:element name="STATISTICALMEASUREMENTVALUE_AUD" type="dflt:STATISTICALMEASUREMENTVALUE_AUD__type" />
				<xsd:element name="REPRESENTATION_ANNOTATION" type="dflt:REPRESENTATION_ANNOTATION__type" />
				<xsd:element name="TAXONNAMEBASE_RIGHTS" type="dflt:TAXONNAMEBASE_RIGHTS__type" />
				<xsd:element name="DESCRIPTIONELEMENTBASE_LANGUAGESTRING_AUD" type="dflt:DESCRIPTIONELEMENTBASE_LANGUAGESTRING_AUD__type" />
				<xsd:element name="NAMERELATIONSHIP" type="dflt:NAMERELATIONSHIP__type" />
				<xsd:element name="REFERENCE_ORIGINALSOURCE" type="dflt:REFERENCE_ORIGINALSOURCE__type" />
				<xsd:element name="DESCRIPTIONELEMENTBASE_MARKER" type="dflt:DESCRIPTIONELEMENTBASE_MARKER__type" />
				<xsd:element name="STATISTICALMEASUREMENTVALUE_DEFINEDTERMBASE" type="dflt:STATISTICALMEASUREMENTVALUE_DEFINEDTERMBASE__type" />
				<xsd:element name="SEQUENCE_ORIGINALSOURCE" type="dflt:SEQUENCE_ORIGINALSOURCE__type" />
				<xsd:element name="COLLECTION_EXTENSION" type="dflt:COLLECTION_EXTENSION__type" />
				<xsd:element name="TAXONNAMEBASE_HYBRIDRELATIONSHIP" type="dflt:TAXONNAMEBASE_HYBRIDRELATIONSHIP__type" />
				<xsd:element name="SYNONYMRELATIONSHIP_MARKER" type="dflt:SYNONYMRELATIONSHIP_MARKER__type" />
				<xsd:element name="COLLECTION_ANNOTATION" type="dflt:COLLECTION_ANNOTATION__type" />
				<xsd:element name="AGENT_EXTENSION" type="dflt:AGENT_EXTENSION__type" />
				<xsd:element name="MEDIA_LANGUAGESTRING" type="dflt:MEDIA_LANGUAGESTRING__type" />
				<xsd:element name="TAXONBASE_EXTENSION" type="dflt:TAXONBASE_EXTENSION__type" />
				<xsd:element name="MEDIA_SEQUENCE" type="dflt:MEDIA_SEQUENCE__type" />
				<xsd:element name="MEDIA_DESCRIPTION" type="dflt:MEDIA_DESCRIPTION__type" />
				<xsd:element name="COLLECTION_RIGHTS_AUD" type="dflt:COLLECTION_RIGHTS_AUD__type" />
				<xsd:element name="NOMENCLATURALSTATUS_MARKER" type="dflt:NOMENCLATURALSTATUS_MARKER__type" />
				<xsd:element name="SPECIMENOROBSERVATIONBASE_ORIGINALSOURCE" type="dflt:SPECIMENOROBSERVATIONBASE_ORIGINALSOURCE__type" />
				<xsd:element name="TYPEDESIGNATIONBASE_AUD" type="dflt:TYPEDESIGNATIONBASE_AUD__type" />
				<xsd:element name="AGENT_ANNOTATION_AUD" type="dflt:AGENT_ANNOTATION_AUD__type" />
				<xsd:element name="COLLECTION_RIGHTS" type="dflt:COLLECTION_RIGHTS__type" />
				<xsd:element name="RIGHTS" type="dflt:RIGHTS__type" />
				<xsd:element name="TAXONNAMEBASE_EXTENSION_AUD" type="dflt:TAXONNAMEBASE_EXTENSION_AUD__type" />
				<xsd:element name="PERSON_KEYWORD_AUD" type="dflt:PERSON_KEYWORD_AUD__type" />
				<xsd:element name="SPECIMENOROBSERVATIONBASE_ORIGINALSOURCE_AUD" type="dflt:SPECIMENOROBSERVATIONBASE_ORIGINALSOURCE_AUD__type" />
				<xsd:element name="DERIVATIONEVENT_ANNOTATION_AUD" type="dflt:DERIVATIONEVENT_ANNOTATION_AUD__type" />
				<xsd:element name="MEDIA_DESCRIPTION_AUD" type="dflt:MEDIA_DESCRIPTION_AUD__type" />
				<xsd:element name="COLLECTION_MARKER" type="dflt:COLLECTION_MARKER__type" />
				<xsd:element name="TAXONNAMEBASE" type="dflt:TAXONNAMEBASE__type" />
				<xsd:element name="SEQUENCE_GENBANKACCESSION_AUD" type="dflt:SEQUENCE_GENBANKACCESSION_AUD__type" />
				<xsd:element name="STATEDATA_LANGUAGESTRING" type="dflt:STATEDATA_LANGUAGESTRING__type" />
				<xsd:element name="COLLECTION_MEDIA_AUD" type="dflt:COLLECTION_MEDIA_AUD__type" />
				<xsd:element name="DESCRIPTIONELEMENTBASE_MODIFYINGTEXT_AUD" type="dflt:DESCRIPTIONELEMENTBASE_MODIFYINGTEXT_AUD__type" />
				<xsd:element name="DESCRIPTIONELEMENTBASE_ANNOTATION" type="dflt:DESCRIPTIONELEMENTBASE_ANNOTATION__type" />
				<xsd:element name="TAXONRELATIONSHIP" type="dflt:TAXONRELATIONSHIP__type" />
				<xsd:element name="SYNONYMRELATIONSHIP_ANNOTATION_AUD" type="dflt:SYNONYMRELATIONSHIP_ANNOTATION_AUD__type" />
				<xsd:element name="SYNONYMRELATIONSHIP_AUD" type="dflt:SYNONYMRELATIONSHIP_AUD__type" />
				<xsd:element name="NAMERELATIONSHIP_ANNOTATION_AUD" type="dflt:NAMERELATIONSHIP_ANNOTATION_AUD__type" />
				<xsd:element name="AGENT_AGENT_AUD" type="dflt:AGENT_AGENT_AUD__type" />
				<xsd:element name="COLLECTION_ORIGINALSOURCE" type="dflt:COLLECTION_ORIGINALSOURCE__type" />
				<xsd:element name="AGENT_ORIGINALSOURCE_AUD" type="dflt:AGENT_ORIGINALSOURCE_AUD__type" />
				<xsd:element name="COLLECTION_ORIGINALSOURCE_AUD" type="dflt:COLLECTION_ORIGINALSOURCE_AUD__type" />
				<xsd:element name="SPECIMENOROBSERVATIONBASE" type="dflt:SPECIMENOROBSERVATIONBASE__type" />
				<xsd:element name="RELATIONSHIPTERMBASE_INVERSEREPRESENTATION_AUD" type="dflt:RELATIONSHIPTERMBASE_INVERSEREPRESENTATION_AUD__type" />
				<xsd:element name="FEATURENODE_AUD" type="dflt:FEATURENODE_AUD__type" />
				<xsd:element name="ORIGINALSOURCE" type="dflt:ORIGINALSOURCE__type" />
				<xsd:element name="HOMOTYPICALGROUP_MARKER_AUD" type="dflt:HOMOTYPICALGROUP_MARKER_AUD__type" />
				<xsd:element name="DESCRIPTIONBASE_SPECIMENOROBSERVATIONBASE_AUD" type="dflt:DESCRIPTIONBASE_SPECIMENOROBSERVATIONBASE_AUD__type" />
				<xsd:element name="LOCUS_AUD" type="dflt:LOCUS_AUD__type" />
				<xsd:element name="HYBRIDRELATIONSHIP" type="dflt:HYBRIDRELATIONSHIP__type" />
				<xsd:element name="SYNONYMRELATIONSHIP_ANNOTATION" type="dflt:SYNONYMRELATIONSHIP_ANNOTATION__type" />
				<xsd:element name="COLLECTION_MEDIA" type="dflt:COLLECTION_MEDIA__type" />
				<xsd:element name="STATEDATA" type="dflt:STATEDATA__type" />
				<xsd:element name="SEQUENCE_MEDIA" type="dflt:SEQUENCE_MEDIA__type" />
				<xsd:element name="SPECIMENOROBSERVATIONBASE_EXTENSION_AUD" type="dflt:SPECIMENOROBSERVATIONBASE_EXTENSION_AUD__type" />
				<xsd:element name="DEFINEDTERMBASE_MEDIA_AUD" type="dflt:DEFINEDTERMBASE_MEDIA_AUD__type" />
				<xsd:element name="SEQUENCE_RIGHTS" type="dflt:SEQUENCE_RIGHTS__type" />
				<xsd:element name="RIGHTS_ANNOTATION_AUD" type="dflt:RIGHTS_ANNOTATION_AUD__type" />
				<xsd:element name="DEFINEDTERMBASE_SUPPORTEDCATEGORICALENUMERATION" type="dflt:DEFINEDTERMBASE_SUPPORTEDCATEGORICALENUMERATION__type" />
				<xsd:element name="DESCRIPTIONBASE_SCOPE" type="dflt:DESCRIPTIONBASE_SCOPE__type" />
				<xsd:element name="DERIVATIONEVENT_ANNOTATION" type="dflt:DERIVATIONEVENT_ANNOTATION__type" />
				<xsd:element name="DESCRIPTIONBASE_REFERENCE_AUD" type="dflt:DESCRIPTIONBASE_REFERENCE_AUD__type" />
				<xsd:element name="SPECIMENOROBSERVATIONBASE_RIGHTS_AUD" type="dflt:SPECIMENOROBSERVATIONBASE_RIGHTS_AUD__type" />
				<xsd:element name="TAXONBASE" type="dflt:TAXONBASE__type" />
				<xsd:element name="STATISTICALMEASUREMENTVALUE_DEFINEDTERMBASE_AUD" type="dflt:STATISTICALMEASUREMENTVALUE_DEFINEDTERMBASE_AUD__type" />
				<xsd:element name="REPRESENTATION_ANNOTATION_AUD" type="dflt:REPRESENTATION_ANNOTATION_AUD__type" />
				<xsd:element name="TAXONNAMEBASE_TYPEDESIGNATIONBASE_AUD" type="dflt:TAXONNAMEBASE_TYPEDESIGNATIONBASE_AUD__type" />
				<xsd:element name="DESCRIPTIONBASE_MARKER" type="dflt:DESCRIPTIONBASE_MARKER__type" />
				<xsd:element name="MEDIAREPRESENTATIONPART_AUD" type="dflt:MEDIAREPRESENTATIONPART_AUD__type" />
				<xsd:element name="REFERENCE_MEDIA" type="dflt:REFERENCE_MEDIA__type" />
				<xsd:element name="DETERMINATIONEVENT_REFERENCE_AUD" type="dflt:DETERMINATIONEVENT_REFERENCE_AUD__type" />
				<xsd:element name="RIGHTS_MARKER_AUD" type="dflt:RIGHTS_MARKER_AUD__type" />
				<xsd:element name="REFERENCE_RIGHTS_AUD" type="dflt:REFERENCE_RIGHTS_AUD__type" />
				<xsd:element name="GATHERINGEVENT_MARKER_AUD" type="dflt:GATHERINGEVENT_MARKER_AUD__type" />
				<xsd:element name="NAMERELATIONSHIP_MARKER" type="dflt:NAMERELATIONSHIP_MARKER__type" />
				<xsd:element name="MEDIA_MARKER_AUD" type="dflt:MEDIA_MARKER_AUD__type" />
				<xsd:element name="TAXONRELATIONSHIP_AUD" type="dflt:TAXONRELATIONSHIP_AUD__type" />
				<xsd:element name="SEQUENCE_ANNOTATION" type="dflt:SEQUENCE_ANNOTATION__type" />
				<xsd:element name="DEFINEDTERMBASE_WATERBODYORCOUNTRY_AUD" type="dflt:DEFINEDTERMBASE_WATERBODYORCOUNTRY_AUD__type" />
				<xsd:element name="TAXONRELATIONSHIP_MARKER" type="dflt:TAXONRELATIONSHIP_MARKER__type" />
				<xsd:element name="TAXONRELATIONSHIP_MARKER_AUD" type="dflt:TAXONRELATIONSHIP_MARKER_AUD__type" />
				<xsd:element name="TAXONNAMEBASE_TYPEDESIGNATIONBASE" type="dflt:TAXONNAMEBASE_TYPEDESIGNATIONBASE__type" />
				<xsd:element name="DERIVATIONEVENT" type="dflt:DERIVATIONEVENT__type" />
				<xsd:element name="COLLECTION_MARKER_AUD" type="dflt:COLLECTION_MARKER_AUD__type" />
				<xsd:element name="FEATURETREE_REPRESENTATION_AUD" type="dflt:FEATURETREE_REPRESENTATION_AUD__type" />
				<xsd:element name="TAXONNAMEBASE_TYPEDESIGNATIONBASE" type="dflt:TAXONNAMEBASE_TYPEDESIGNATIONBASE__type" />
				<xsd:element name="MEDIA_LANGUAGESTRING_AUD" type="dflt:MEDIA_LANGUAGESTRING_AUD__type" />
				<xsd:element name="MEDIAREPRESENTATION_MEDIAREPRESENTATIONPART_AUD" type="dflt:MEDIAREPRESENTATION_MEDIAREPRESENTATIONPART_AUD__type" />
				<xsd:element name="INDIVIDUALASSOCIATION_LANGUAGESTRING" type="dflt:INDIVIDUALASSOCIATION_LANGUAGESTRING__type" />
				<xsd:element name="PERMISSIONGROUP" type="dflt:PERMISSIONGROUP__type" />
				<xsd:element name="MEDIA_SEQUENCE_AUD" type="dflt:MEDIA_SEQUENCE_AUD__type" />
				<xsd:element name="SEQUENCE_EXTENSION" type="dflt:SEQUENCE_EXTENSION__type" />
				<xsd:element name="FEATURETREE_REPRESENTATION" type="dflt:FEATURETREE_REPRESENTATION__type" />
				<xsd:element name="SPECIMENOROBSERVATIONBASE_DERIVATIONEVENT" type="dflt:SPECIMENOROBSERVATIONBASE_DERIVATIONEVENT__type" />
				<xsd:element name="CONTACT_AUD" type="dflt:CONTACT_AUD__type" />
				<xsd:element name="REFERENCE" type="dflt:REFERENCE__type" />
				<xsd:element name="FEATURETREE_AUD" type="dflt:FEATURETREE_AUD__type" />
				<xsd:element name="LANGUAGESTRING" type="dflt:LANGUAGESTRING__type" />
				<xsd:element name="TAXONBASE_ORIGINALSOURCE_AUD" type="dflt:TAXONBASE_ORIGINALSOURCE_AUD__type" />
				<xsd:element name="DEFINEDTERMBASE_RECOMMENDEDMODIFIERENUMERATION_AUD" type="dflt:DEFINEDTERMBASE_RECOMMENDEDMODIFIERENUMERATION_AUD__type" />
				<xsd:element name="TERMVOCABULARY_REPRESENTATION_AUD" type="dflt:TERMVOCABULARY_REPRESENTATION_AUD__type" />
				<xsd:element name="DERIVATIONEVENT_AUD" type="dflt:DERIVATIONEVENT_AUD__type" />
				<xsd:element name="STATEDATA_DEFINEDTERMBASE" type="dflt:STATEDATA_DEFINEDTERMBASE__type" />
				<xsd:element name="ORIGINALSOURCE_ANNOTATION_AUD" type="dflt:ORIGINALSOURCE_ANNOTATION_AUD__type" />
				<xsd:element name="GATHERINGEVENT" type="dflt:GATHERINGEVENT__type" />
				<xsd:element name="SPECIMENOROBSERVATIONBASE_LANGUAGESTRING" type="dflt:SPECIMENOROBSERVATIONBASE_LANGUAGESTRING__type" />
				<xsd:element name="SEQUENCE_MARKER_AUD" type="dflt:SEQUENCE_MARKER_AUD__type" />
				<xsd:element name="CONTACT" type="dflt:CONTACT__type" />
				<xsd:element name="DESCRIPTIONELEMENTBASE_MEDIA_AUD" type="dflt:DESCRIPTIONELEMENTBASE_MEDIA_AUD__type" />
				<xsd:element name="TAXONINTERACTION_LANGUAGESTRING" type="dflt:TAXONINTERACTION_LANGUAGESTRING__type" />
				<xsd:element name="DESCRIPTIONBASE_GEOSCOPE_AUD" type="dflt:DESCRIPTIONBASE_GEOSCOPE_AUD__type" />
				<xsd:element name="DEFINEDTERMBASE_WATERBODYORCOUNTRY" type="dflt:DEFINEDTERMBASE_WATERBODYORCOUNTRY__type" />
				<xsd:element name="TAXONBASE_RIGHTS" type="dflt:TAXONBASE_RIGHTS__type" />
				<xsd:element name="DESCRIPTIONBASE_ORIGINALSOURCE" type="dflt:DESCRIPTIONBASE_ORIGINALSOURCE__type" />
				<xsd:element name="TAXONNAMEBASE_ANNOTATION_AUD" type="dflt:TAXONNAMEBASE_ANNOTATION_AUD__type" />
				<xsd:element name="SPECIMENOROBSERVATIONBASE_SEQUENCE_AUD" type="dflt:SPECIMENOROBSERVATIONBASE_SEQUENCE_AUD__type" />
				<xsd:element name="ANNOTATION" type="dflt:ANNOTATION__type" />
				<xsd:element name="INSTITUTIONALMEMBERSHIP" type="dflt:INSTITUTIONALMEMBERSHIP__type" />
				<xsd:element name="LANGUAGESTRING_MARKER" type="dflt:LANGUAGESTRING_MARKER__type" />
				<xsd:element name="STATEDATA_LANGUAGESTRING_AUD" type="dflt:STATEDATA_LANGUAGESTRING_AUD__type" />
				<xsd:element name="LSIDAUTHORITY_NAMESPACES" type="dflt:LSIDAUTHORITY_NAMESPACES__type" />
				<xsd:element name="RELATIONSHIPTERMBASE_INVERSEREPRESENTATION" type="dflt:RELATIONSHIPTERMBASE_INVERSEREPRESENTATION__type" />
				<xsd:element name="MEDIA_RIGHTS_AUD" type="dflt:MEDIA_RIGHTS_AUD__type" />
				<xsd:element name="HYBRIDRELATIONSHIP_MARKER_AUD" type="dflt:HYBRIDRELATIONSHIP_MARKER_AUD__type" />
				<xsd:element name="TAXONNAMEBASE_NOMENCLATURALSTATUS_AUD" type="dflt:TAXONNAMEBASE_NOMENCLATURALSTATUS_AUD__type" />
				<xsd:element name="DESCRIPTIONBASE_SPECIMENOROBSERVATIONBASE" type="dflt:DESCRIPTIONBASE_SPECIMENOROBSERVATIONBASE__type" />
				<xsd:element name="ANNOTATION_ANNOTATION_AUD" type="dflt:ANNOTATION_ANNOTATION_AUD__type" />
				<xsd:element name="GATHERINGEVENT_DEFINEDTERMBASE_AUD" type="dflt:GATHERINGEVENT_DEFINEDTERMBASE_AUD__type" />
				<xsd:element name="SEQUENCE_EXTENSION_AUD" type="dflt:SEQUENCE_EXTENSION_AUD__type" />
				<xsd:element name="DESCRIPTIONBASE_MARKER_AUD" type="dflt:DESCRIPTIONBASE_MARKER_AUD__type" />
				<xsd:element name="MEDIA_MARKER" type="dflt:MEDIA_MARKER__type" />
				<xsd:element name="DETERMINATIONEVENT_REFERENCE" type="dflt:DETERMINATIONEVENT_REFERENCE__type" />
				<xsd:element name="REFERENCE_AUD" type="dflt:REFERENCE_AUD__type" />
				<xsd:element name="SEQUENCE_MARKER" type="dflt:SEQUENCE_MARKER__type" />
				<xsd:element name="GATHERINGEVENT_AUD" type="dflt:GATHERINGEVENT_AUD__type" />
				<xsd:element name="GENBANKACCESSION_AUD" type="dflt:GENBANKACCESSION_AUD__type" />
				<xsd:element name="TYPEDESIGNATIONBASE" type="dflt:TYPEDESIGNATIONBASE__type" />
				<xsd:element name="REFERENCE_MARKER" type="dflt:REFERENCE_MARKER__type" />
				<xsd:element name="NOMENCLATURALSTATUS_ANNOTATION" type="dflt:NOMENCLATURALSTATUS_ANNOTATION__type" />
				<xsd:element name="TAXONNAMEBASE_EXTENSION" type="dflt:TAXONNAMEBASE_EXTENSION__type" />
				<xsd:element name="TAXONNAMEBASE_MARKER" type="dflt:TAXONNAMEBASE_MARKER__type" />
				<xsd:element name="CDM_VIEW" type="dflt:CDM_VIEW__type" />
				<xsd:element name="MEDIA_RIGHTS" type="dflt:MEDIA_RIGHTS__type" />
				<xsd:element name="TAXONNAMEBASE_MARKER_AUD" type="dflt:TAXONNAMEBASE_MARKER_AUD__type" />
				<xsd:element name="DESCRIPTIONELEMENTBASE_MODIFYINGTEXT" type="dflt:DESCRIPTIONELEMENTBASE_MODIFYINGTEXT__type" />
				<xsd:element name="AGENT_RIGHTS_AUD" type="dflt:AGENT_RIGHTS_AUD__type" />
				<xsd:element name="SPECIMENOROBSERVATIONBASE_ANNOTATION" type="dflt:SPECIMENOROBSERVATIONBASE_ANNOTATION__type" />
				<xsd:element name="MEDIAKEY_TAXON" type="dflt:MEDIAKEY_TAXON__type" />
				<xsd:element name="USER_GRANTEDAUTHORITYIMPL" type="dflt:USER_GRANTEDAUTHORITYIMPL__type" />
				<xsd:element name="SPECIMENOROBSERVATIONBASE_DERIVATIONEVENT_AUD" type="dflt:SPECIMENOROBSERVATIONBASE_DERIVATIONEVENT_AUD__type" />
				<xsd:element name="RIGHTS_ANNOTATION" type="dflt:RIGHTS_ANNOTATION__type" />
				<xsd:element name="NOMENCLATURALSTATUS_MARKER_AUD" type="dflt:NOMENCLATURALSTATUS_MARKER_AUD__type" />
				<xsd:element name="REFERENCE_RIGHTS" type="dflt:REFERENCE_RIGHTS__type" />
				<xsd:element name="DB_VERSION" type="dflt:DB_VERSION__type" />
				<xsd:element name="TAXONBASE_ORIGINALSOURCE" type="dflt:TAXONBASE_ORIGINALSOURCE__type" />
				<xsd:element name="GATHERINGEVENT_ANNOTATION" type="dflt:GATHERINGEVENT_ANNOTATION__type" />
				<xsd:element name="DEFINEDTERMBASE_STATISTICALMEASURE" type="dflt:DEFINEDTERMBASE_STATISTICALMEASURE__type" />
				<xsd:element name="DEFINEDTERMBASE_MEDIA" type="dflt:DEFINEDTERMBASE_MEDIA__type" />
				<xsd:element name="MEDIAREPRESENTATIONPART" type="dflt:MEDIAREPRESENTATIONPART__type" />
				<xsd:element name="TAXONNAMEBASE_ANNOTATION" type="dflt:TAXONNAMEBASE_ANNOTATION__type" />
				<xsd:element name="AGENT_AGENT" type="dflt:AGENT_AGENT__type" />
				<xsd:element name="SPECIMENOROBSERVATIONBASE_SEQUENCE" type="dflt:SPECIMENOROBSERVATIONBASE_SEQUENCE__type" />
				<xsd:element name="COLLECTION_EXTENSION_AUD" type="dflt:COLLECTION_EXTENSION_AUD__type" />
				<xsd:element name="DESCRIPTIONELEMENTBASE_MEDIA" type="dflt:DESCRIPTIONELEMENTBASE_MEDIA__type" />
				<xsd:element name="DETERMINATIONEVENT_ANNOTATION" type="dflt:DETERMINATIONEVENT_ANNOTATION__type" />
				<xsd:element name="DESCRIPTIONBASE_EXTENSION" type="dflt:DESCRIPTIONBASE_EXTENSION__type" />
				<xsd:element name="DEFINEDTERMBASE_RECOMMENDEDMODIFIERENUMERATION" type="dflt:DEFINEDTERMBASE_RECOMMENDEDMODIFIERENUMERATION__type" />
				<xsd:element name="DESCRIPTIONELEMENTBASE_MODIFIER" type="dflt:DESCRIPTIONELEMENTBASE_MODIFIER__type" />
				<xsd:element name="SPECIMENOROBSERVATIONBASE_MEDIA" type="dflt:SPECIMENOROBSERVATIONBASE_MEDIA__type" />
				<xsd:element name="REFERENCE_ORIGINALSOURCE_AUD" type="dflt:REFERENCE_ORIGINALSOURCE_AUD__type" />
				<xsd:element name="USER" type="dflt:USER__type" />
				<xsd:element name="TAXONBASE_AUD" type="dflt:TAXONBASE_AUD__type" />
				<xsd:element name="USER_PERMISSIONGROUP" type="dflt:USER_PERMISSIONGROUP__type" />
				<xsd:element name="NOMENCLATURALSTATUS" type="dflt:NOMENCLATURALSTATUS__type" />
				<xsd:element name="ORIGINALSOURCE_ANNOTATION" type="dflt:ORIGINALSOURCE_ANNOTATION__type" />
				<xsd:element name="DERIVATIONEVENT_MARKER_AUD" type="dflt:DERIVATIONEVENT_MARKER_AUD__type" />
				<xsd:element name="DEFINEDTERMBASE_REPRESENTATION" type="dflt:DEFINEDTERMBASE_REPRESENTATION__type" />
				<xsd:element name="AGENT_MARKER" type="dflt:AGENT_MARKER__type" />
				<xsd:element name="GENBANKACCESSION" type="dflt:GENBANKACCESSION__type" />
				<xsd:element name="REFERENCE_MARKER_AUD" type="dflt:REFERENCE_MARKER_AUD__type" />
				<xsd:element name="HOMOTYPICALGROUP_MARKER" type="dflt:HOMOTYPICALGROUP_MARKER__type" />
				<xsd:element name="MEDIA_DEFINEDTERMBASE" type="dflt:MEDIA_DEFINEDTERMBASE__type" />
				<xsd:element name="DESCRIPTIONELEMENTBASE" type="dflt:DESCRIPTIONELEMENTBASE__type" />
				<xsd:element name="MEDIA_ANNOTATION_AUD" type="dflt:MEDIA_ANNOTATION_AUD__type" />
				<xsd:element name="TAXONBASE_RIGHTS_AUD" type="dflt:TAXONBASE_RIGHTS_AUD__type" />
				<xsd:element name="GATHERINGEVENT_ANNOTATION_AUD" type="dflt:GATHERINGEVENT_ANNOTATION_AUD__type" />
				<xsd:element name="MEDIA_DEFINEDTERMBASE_AUD" type="dflt:MEDIA_DEFINEDTERMBASE_AUD__type" />
				<xsd:element name="SEQUENCE_ORIGINALSOURCE_AUD" type="dflt:SEQUENCE_ORIGINALSOURCE_AUD__type" />
				<xsd:element name="SEQUENCE" type="dflt:SEQUENCE__type" />
				<xsd:element name="AGENT_RIGHTS" type="dflt:AGENT_RIGHTS__type" />
				<xsd:element name="STATEDATA_AUD" type="dflt:STATEDATA_AUD__type" />
				<xsd:element name="SPECIMENOROBSERVATIONBASE_AUD" type="dflt:SPECIMENOROBSERVATIONBASE_AUD__type" />
				<xsd:element name="AGENT_MEDIA_AUD" type="dflt:AGENT_MEDIA_AUD__type" />
				<xsd:element name="DESCRIPTIONELEMENTBASE_STATEDATA" type="dflt:DESCRIPTIONELEMENTBASE_STATEDATA__type" />
				<xsd:element name="HOMOTYPICALGROUP_ANNOTATION_AUD" type="dflt:HOMOTYPICALGROUP_ANNOTATION_AUD__type" />
				<xsd:element name="LANGUAGESTRING_AUD" type="dflt:LANGUAGESTRING_AUD__type" />
				<xsd:element name="NOMENCLATURALSTATUS_ANNOTATION_AUD" type="dflt:NOMENCLATURALSTATUS_ANNOTATION_AUD__type" />
				<xsd:element name="TAXONBASE_EXTENSION_AUD" type="dflt:TAXONBASE_EXTENSION_AUD__type" />
				<xsd:element name="MEDIAREPRESENTATION_AUD" type="dflt:MEDIAREPRESENTATION_AUD__type" />
				<xsd:element name="DETERMINATIONEVENT_AUD" type="dflt:DETERMINATIONEVENT_AUD__type" />
				<xsd:element name="INSTITUTIONALMEMBERSHIP_AUD" type="dflt:INSTITUTIONALMEMBERSHIP_AUD__type" />
				<xsd:element name="TAXONRELATIONSHIP_ANNOTATION" type="dflt:TAXONRELATIONSHIP_ANNOTATION__type" />
				<xsd:element name="ANNOTATION_MARKER_AUD" type="dflt:ANNOTATION_MARKER_AUD__type" />
				<xsd:element name="ADDRESS_AUD" type="dflt:ADDRESS_AUD__type" />
				<xsd:element name="HOMOTYPICALGROUP_AUD" type="dflt:HOMOTYPICALGROUP_AUD__type" />
				<xsd:element name="MARKER" type="dflt:MARKER__type" />
				<xsd:element name="TYPEDESIGNATIONBASE_MARKER_AUD" type="dflt:TYPEDESIGNATIONBASE_MARKER_AUD__type" />
				<xsd:element name="DEFINEDTERMBASE_SUPPORTEDCATEGORICALENUMERATION_AUD" type="dflt:DEFINEDTERMBASE_SUPPORTEDCATEGORICALENUMERATION_AUD__type" />
				<xsd:element name="INDIVIDUALASSOCIATION_LANGUAGESTRING_AUD" type="dflt:INDIVIDUALASSOCIATION_LANGUAGESTRING_AUD__type" />
				<xsd:element name="TAXONBASE_ANNOTATION_AUD" type="dflt:TAXONBASE_ANNOTATION_AUD__type" />
				<xsd:element name="PERMISSIONGROUP_GRANTEDAUTHORITYIMPL" type="dflt:PERMISSIONGROUP_GRANTEDAUTHORITYIMPL__type" />
				<xsd:element name="AGENT_DEFINEDTERMBASE" type="dflt:AGENT_DEFINEDTERMBASE__type" />
				<xsd:any namespace="PUBLIC" />
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
