edit-svn/cdmlib-services/src/test/resources/eu/etaxonomy/cdm/service/dataset.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" xmlns:dflt="PUBLIC">
	<xsd:import namespace="PUBLIC" schemaLocation="PUBLIC.xsd" />
	<xsd:element name="dataset">
		<xsd:complexType>
			<xsd:choice minOccurs="0" maxOccurs="unbounded">
				<xsd:element name="TAXONNAMEBASE" type="dflt:TAXONNAMEBASE__type" />
				<xsd:element name="MEDIA_SEQUENCE_AUD" type="dflt:MEDIA_SEQUENCE_AUD__type" />
				<xsd:element name="COLLECTION_CREDIT" type="dflt:COLLECTION_CREDIT__type" />
				<xsd:element name="TAXONBASE_ANNOTATION_AUD" type="dflt:TAXONBASE_ANNOTATION_AUD__type" />
				<xsd:element name="DETERMINATIONEVENT_ANNOTATION" type="dflt:DETERMINATIONEVENT_ANNOTATION__type" />
				<xsd:element name="AGENTBASE_CREDIT_AUD" type="dflt:AGENTBASE_CREDIT_AUD__type" />
				<xsd:element name="MEDIA_REPRESENTATION_AUD" type="dflt:MEDIA_REPRESENTATION_AUD__type" />
				<xsd:element name="AGENTBASE" type="dflt:AGENTBASE__type" />
				<xsd:element name="CLASSIFICATION_TAXONNODE" type="dflt:CLASSIFICATION_TAXONNODE__type" />
				<xsd:element name="COLLECTION_EXTENSION" type="dflt:COLLECTION_EXTENSION__type" />
				<xsd:element name="AGENTBASE_CONTACT_URLS_AUD" type="dflt:AGENTBASE_CONTACT_URLS_AUD__type" />
				<xsd:element name="STATISTICALMEASUREMENTVALUE_DEFINEDTERMBASE_AUD" type="dflt:STATISTICALMEASUREMENTVALUE_DEFINEDTERMBASE_AUD__type" />
				<xsd:element name="WORKINGSET_TAXONBASE_AUD" type="dflt:WORKINGSET_TAXONBASE_AUD__type" />
				<xsd:element name="FEATURETREE_RIGHTS" type="dflt:FEATURETREE_RIGHTS__type" />
				<xsd:element name="COLLECTION_MEDIA_AUD" type="dflt:COLLECTION_MEDIA_AUD__type" />
				<xsd:element name="REFERENCE_EXTENSION" type="dflt:REFERENCE_EXTENSION__type" />
				<xsd:element name="CDM_VIEW_CDM_VIEW" type="dflt:CDM_VIEW_CDM_VIEW__type" />
				<xsd:element name="REFERENCE_ANNOTATION" type="dflt:REFERENCE_ANNOTATION__type" />
				<xsd:element name="DESCRIPTIONBASE_SPECIMENOROBSERVATIONBASE" type="dflt:DESCRIPTIONBASE_SPECIMENOROBSERVATIONBASE__type" />
				<xsd:element name="WORKINGSET_REPRESENTATION" type="dflt:WORKINGSET_REPRESENTATION__type" />
				<xsd:element name="TERMVOCABULARY_MARKER" type="dflt:TERMVOCABULARY_MARKER__type" />
				<xsd:element name="TAXONRELATIONSHIP_ANNOTATION_AUD" type="dflt:TAXONRELATIONSHIP_ANNOTATION_AUD__type" />
				<xsd:element name="MEDIA_MARKER_AUD" type="dflt:MEDIA_MARKER_AUD__type" />
				<xsd:element name="REFERENCE_RIGHTS" type="dflt:REFERENCE_RIGHTS__type" />
				<xsd:element name="FEATURENODE_AUD" type="dflt:FEATURENODE_AUD__type" />
				<xsd:element name="ADDRESS_AUD" type="dflt:ADDRESS_AUD__type" />
				<xsd:element name="MEDIA_EXTENSION_AUD" type="dflt:MEDIA_EXTENSION_AUD__type" />
				<xsd:element name="TAXONNAMEBASE_TYPEDESIGNATIONBASE_AUD" type="dflt:TAXONNAMEBASE_TYPEDESIGNATIONBASE_AUD__type" />
				<xsd:element name="TAXONNAMEBASE_AUD" type="dflt:TAXONNAMEBASE_AUD__type" />
				<xsd:element name="DEFINEDTERMBASE_SUPPORTEDCATEGORICALENUMERATION" type="dflt:DEFINEDTERMBASE_SUPPORTEDCATEGORICALENUMERATION__type" />
				<xsd:element name="REFERENCE_ANNOTATION_AUD" type="dflt:REFERENCE_ANNOTATION_AUD__type" />
				<xsd:element name="DESCRIPTIONELEMENTBASE_MEDIA" type="dflt:DESCRIPTIONELEMENTBASE_MEDIA__type" />
				<xsd:element name="DESCRIPTIONELEMENTBASE_ORIGINALSOURCEBASE_AUD" type="dflt:DESCRIPTIONELEMENTBASE_ORIGINALSOURCEBASE_AUD__type" />
				<xsd:element name="POLYTOMOUSKEY_NAMEDAREA" type="dflt:POLYTOMOUSKEY_NAMEDAREA__type" />
				<xsd:element name="AGENTBASE_ORIGINALSOURCEBASE" type="dflt:AGENTBASE_ORIGINALSOURCEBASE__type" />
				<xsd:element name="DESCRIPTIONBASE_MARKER" type="dflt:DESCRIPTIONBASE_MARKER__type" />
				<xsd:element name="TAXONBASE_RIGHTS_AUD" type="dflt:TAXONBASE_RIGHTS_AUD__type" />
				<xsd:element name="REFERENCE_CREDIT_AUD" type="dflt:REFERENCE_CREDIT_AUD__type" />
				<xsd:element name="SEQUENCE_CREDIT_AUD" type="dflt:SEQUENCE_CREDIT_AUD__type" />
				<xsd:element name="CLASSIFICATION_MARKER_AUD" type="dflt:CLASSIFICATION_MARKER_AUD__type" />
				<xsd:element name="REFERENCE_ORIGINALSOURCEBASE_AUD" type="dflt:REFERENCE_ORIGINALSOURCEBASE_AUD__type" />
				<xsd:element name="POLYTOMOUSKEY_SCOPE_AUD" type="dflt:POLYTOMOUSKEY_SCOPE_AUD__type" />
				<xsd:element name="TAXONRELATIONSHIP_ANNOTATION" type="dflt:TAXONRELATIONSHIP_ANNOTATION__type" />
				<xsd:element name="FEATURETREE_MARKER" type="dflt:FEATURETREE_MARKER__type" />
				<xsd:element name="REFERENCE_MARKER_AUD" type="dflt:REFERENCE_MARKER_AUD__type" />
				<xsd:element name="PERMISSIONGROUP" type="dflt:PERMISSIONGROUP__type" />
				<xsd:element name="TAXONINTERACTION_LANGUAGESTRING_AUD" type="dflt:TAXONINTERACTION_LANGUAGESTRING_AUD__type" />
				<xsd:element name="HOMOTYPICALGROUP_MARKER_AUD" type="dflt:HOMOTYPICALGROUP_MARKER_AUD__type" />
				<xsd:element name="ORIGINALSOURCEBASE_ANNOTATION" type="dflt:ORIGINALSOURCEBASE_ANNOTATION__type" />
				<xsd:element name="COLLECTION_ANNOTATION" type="dflt:COLLECTION_ANNOTATION__type" />
				<xsd:element name="MEDIAREPRESENTATION" type="dflt:MEDIAREPRESENTATION__type" />
				<xsd:element name="MEDIA_RIGHTS" type="dflt:MEDIA_RIGHTS__type" />
				<xsd:element name="MEDIA_ORIGINALSOURCEBASE" type="dflt:MEDIA_ORIGINALSOURCEBASE__type" />
				<xsd:element name="STATISTICALMEASUREMENTVALUE_DEFINEDTERMBASE" type="dflt:STATISTICALMEASUREMENTVALUE_DEFINEDTERMBASE__type" />
				<xsd:element name="DEFINEDTERMBASE_MEDIA" type="dflt:DEFINEDTERMBASE_MEDIA__type" />
				<xsd:element name="DESCRIPTIONELEMENTBASE_ORIGINALSOURCEBASE" type="dflt:DESCRIPTIONELEMENTBASE_ORIGINALSOURCEBASE__type" />
				<xsd:element name="ANNOTATION_MARKER" type="dflt:ANNOTATION_MARKER__type" />
				<xsd:element name="DESCRIPTIONELEMENTBASE_MODIFYINGTEXT_AUD" type="dflt:DESCRIPTIONELEMENTBASE_MODIFYINGTEXT_AUD__type" />
				<xsd:element name="POLYTOMOUSKEY_ANNOTATION" type="dflt:POLYTOMOUSKEY_ANNOTATION__type" />
				<xsd:element name="GATHERINGEVENT_DEFINEDTERMBASE_AUD" type="dflt:GATHERINGEVENT_DEFINEDTERMBASE_AUD__type" />
				<xsd:element name="POLYTOMOUSKEY_ORIGINALSOURCEBASE_AUD" type="dflt:POLYTOMOUSKEY_ORIGINALSOURCEBASE_AUD__type" />
				<xsd:element name="DESCRIPTIONBASE_ANNOTATION" type="dflt:DESCRIPTIONBASE_ANNOTATION__type" />
				<xsd:element name="DEFINEDTERMBASE_RECOMMENDEDMODIFIERENUMERATION" type="dflt:DEFINEDTERMBASE_RECOMMENDEDMODIFIERENUMERATION__type" />
				<xsd:element name="DEFINEDTERMBASE_AUD" type="dflt:DEFINEDTERMBASE_AUD__type" />
				<xsd:element name="NOMENCLATURALSTATUS" type="dflt:NOMENCLATURALSTATUS__type" />
				<xsd:element name="KEYSTATEMENT_AUD" type="dflt:KEYSTATEMENT_AUD__type" />
				<xsd:element name="MULTIACCESSKEY_SCOPE" type="dflt:MULTIACCESSKEY_SCOPE__type" />
				<xsd:element name="TAXONNODE_ANNOTATION_AUD" type="dflt:TAXONNODE_ANNOTATION_AUD__type" />
				<xsd:element name="CREDIT_ANNOTATION" type="dflt:CREDIT_ANNOTATION__type" />
				<xsd:element name="RIGHTS_AUD" type="dflt:RIGHTS_AUD__type" />
				<xsd:element name="REFERENCE_CREDIT" type="dflt:REFERENCE_CREDIT__type" />
				<xsd:element name="AGENTBASE_AGENTBASE_AUD" type="dflt:AGENTBASE_AGENTBASE_AUD__type" />
				<xsd:element name="TERMVOCABULARY_ANNOTATION" type="dflt:TERMVOCABULARY_ANNOTATION__type" />
				<xsd:element name="RIGHTS_MARKER" type="dflt:RIGHTS_MARKER__type" />
				<xsd:element name="DEFINEDTERMBASE_RIGHTS_AUD" type="dflt:DEFINEDTERMBASE_RIGHTS_AUD__type" />
				<xsd:element name="ORIGINALSOURCEBASE_AUD" type="dflt:ORIGINALSOURCEBASE_AUD__type" />
				<xsd:element name="TAXONNODE" type="dflt:TAXONNODE__type" />
				<xsd:element name="FEATURETREE_ORIGINALSOURCEBASE_AUD" type="dflt:FEATURETREE_ORIGINALSOURCEBASE_AUD__type" />
				<xsd:element name="DESCRIPTIONBASE_RIGHTS" type="dflt:DESCRIPTIONBASE_RIGHTS__type" />
				<xsd:element name="LANGUAGESTRING_MARKER_AUD" type="dflt:LANGUAGESTRING_MARKER_AUD__type" />
				<xsd:element name="TAXONBASE_ANNOTATION" type="dflt:TAXONBASE_ANNOTATION__type" />
				<xsd:element name="CLASSIFICATION_EXTENSION_AUD" type="dflt:CLASSIFICATION_EXTENSION_AUD__type" />
				<xsd:element name="RELATIONSHIPTERMBASE_INVERSEREPRESENTATION" type="dflt:RELATIONSHIPTERMBASE_INVERSEREPRESENTATION__type" />
				<xsd:element name="POLYTOMOUSKEY_ANNOTATION_AUD" type="dflt:POLYTOMOUSKEY_ANNOTATION_AUD__type" />
				<xsd:element name="DESCRIPTIONBASE_ANNOTATION_AUD" type="dflt:DESCRIPTIONBASE_ANNOTATION_AUD__type" />
				<xsd:element name="ANNOTATION_ANNOTATION_AUD" type="dflt:ANNOTATION_ANNOTATION_AUD__type" />
				<xsd:element name="FEATURETREE_EXTENSION" type="dflt:FEATURETREE_EXTENSION__type" />
				<xsd:element name="GATHERINGEVENT_AUD" type="dflt:GATHERINGEVENT_AUD__type" />
				<xsd:element name="TAXONBASE" type="dflt:TAXONBASE__type" />
				<xsd:element name="AGENTBASE_MARKER_AUD" type="dflt:AGENTBASE_MARKER_AUD__type" />
				<xsd:element name="REPRESENTATION" type="dflt:REPRESENTATION__type" />
				<xsd:element name="SYNONYMRELATIONSHIP_AUD" type="dflt:SYNONYMRELATIONSHIP_AUD__type" />
				<xsd:element name="MEDIAREPRESENTATION_MEDIAREPRESENTATIONPART_AUD" type="dflt:MEDIAREPRESENTATION_MEDIAREPRESENTATIONPART_AUD__type" />
				<xsd:element name="MEDIA_LANGUAGESTRING" type="dflt:MEDIA_LANGUAGESTRING__type" />
				<xsd:element name="DEFINEDTERMBASE" type="dflt:DEFINEDTERMBASE__type" />
				<xsd:element name="ORIGINALSOURCEBASE_MARKER_AUD" type="dflt:ORIGINALSOURCEBASE_MARKER_AUD__type" />
				<xsd:element name="CLASSIFICATION_EXTENSION" type="dflt:CLASSIFICATION_EXTENSION__type" />
				<xsd:element name="DESCRIPTIONELEMENTBASE_ANNOTATION" type="dflt:DESCRIPTIONELEMENTBASE_ANNOTATION__type" />
				<xsd:element name="FEATURETREE_REPRESENTATION_AUD" type="dflt:FEATURETREE_REPRESENTATION_AUD__type" />
				<xsd:element name="AGENTBASE_ADDRESS_AUD" type="dflt:AGENTBASE_ADDRESS_AUD__type" />
				<xsd:element name="MEDIAREPRESENTATIONPART" type="dflt:MEDIAREPRESENTATIONPART__type" />
				<xsd:element name="HYBRIDRELATIONSHIP_ANNOTATION" type="dflt:HYBRIDRELATIONSHIP_ANNOTATION__type" />
				<xsd:element name="POLYTOMOUSKEY_AUD" type="dflt:POLYTOMOUSKEY_AUD__type" />
				<xsd:element name="CLASSIFICATION_CREDIT_AUD" type="dflt:CLASSIFICATION_CREDIT_AUD__type" />
				<xsd:element name="SEQUENCE_MARKER" type="dflt:SEQUENCE_MARKER__type" />
				<xsd:element name="SEQUENCE_EXTENSION" type="dflt:SEQUENCE_EXTENSION__type" />
				<xsd:element name="RIGHTS_MARKER_AUD" type="dflt:RIGHTS_MARKER_AUD__type" />
				<xsd:element name="GATHERINGEVENT_ANNOTATION_AUD" type="dflt:GATHERINGEVENT_ANNOTATION_AUD__type" />
				<xsd:element name="EXTENSION" type="dflt:EXTENSION__type" />
				<xsd:element name="SPECIMENOROBSERVATIONBASE_SEQUENCE" type="dflt:SPECIMENOROBSERVATIONBASE_SEQUENCE__type" />
				<xsd:element name="POLYTOMOUSKEY_MARKER" type="dflt:POLYTOMOUSKEY_MARKER__type" />
				<xsd:element name="SPECIMENOROBSERVATIONBASE_CREDIT" type="dflt:SPECIMENOROBSERVATIONBASE_CREDIT__type" />
				<xsd:element name="NAMERELATIONSHIP_MARKER_AUD" type="dflt:NAMERELATIONSHIP_MARKER_AUD__type" />
				<xsd:element name="SEQUENCE_RIGHTS_AUD" type="dflt:SEQUENCE_RIGHTS_AUD__type" />
				<xsd:element name="TERMVOCABULARY_RIGHTS" type="dflt:TERMVOCABULARY_RIGHTS__type" />
				<xsd:element name="MEDIA_REPRESENTATION" type="dflt:MEDIA_REPRESENTATION__type" />
				<xsd:element name="TAXONBASE_EXTENSION" type="dflt:TAXONBASE_EXTENSION__type" />
				<xsd:element name="DESCRIPTIONBASE_EXTENSION" type="dflt:DESCRIPTIONBASE_EXTENSION__type" />
				<xsd:element name="DESCRIPTIONELEMENTBASE_MODIFIER_AUD" type="dflt:DESCRIPTIONELEMENTBASE_MODIFIER_AUD__type" />
				<xsd:element name="TAXONNAMEBASE_RIGHTS_AUD" type="dflt:TAXONNAMEBASE_RIGHTS_AUD__type" />
				<xsd:element name="CLASSIFICATION_ORIGINALSOURCEBASE_AUD" type="dflt:CLASSIFICATION_ORIGINALSOURCEBASE_AUD__type" />
				<xsd:element name="RIGHTS_ANNOTATION_AUD" type="dflt:RIGHTS_ANNOTATION_AUD__type" />
				<xsd:element name="AGENTBASE_CONTACT_PHONENUMBERS_AUD" type="dflt:AGENTBASE_CONTACT_PHONENUMBERS_AUD__type" />
				<xsd:element name="DESCRIPTIONBASE_RIGHTS_AUD" type="dflt:DESCRIPTIONBASE_RIGHTS_AUD__type" />
				<xsd:element name="SPECIMENOROBSERVATIONBASE_AUD" type="dflt:SPECIMENOROBSERVATIONBASE_AUD__type" />
				<xsd:element name="MARKER_AUD" type="dflt:MARKER_AUD__type" />
				<xsd:element name="POLYTOMOUSKEY_TAXONBASE_AUD" type="dflt:POLYTOMOUSKEY_TAXONBASE_AUD__type" />
				<xsd:element name="CREDIT_MARKER_AUD" type="dflt:CREDIT_MARKER_AUD__type" />
				<xsd:element name="DESCRIPTIONBASE_SCOPE" type="dflt:DESCRIPTIONBASE_SCOPE__type" />
				<xsd:element name="POLYTOMOUSKEY_MARKER_AUD" type="dflt:POLYTOMOUSKEY_MARKER_AUD__type" />
				<xsd:element name="DETERMINATIONEVENT_ANNOTATION_AUD" type="dflt:DETERMINATIONEVENT_ANNOTATION_AUD__type" />
				<xsd:element name="SPECIMENOROBSERVATIONBASE_MEDIA_AUD" type="dflt:SPECIMENOROBSERVATIONBASE_MEDIA_AUD__type" />
				<xsd:element name="TAXONBASE_MARKER" type="dflt:TAXONBASE_MARKER__type" />
				<xsd:element name="DEFINEDTERMBASE_MARKER_AUD" type="dflt:DEFINEDTERMBASE_MARKER_AUD__type" />
				<xsd:element name="WORKINGSET_DESCRIPTIONBASE_AUD" type="dflt:WORKINGSET_DESCRIPTIONBASE_AUD__type" />
				<xsd:element name="TAXONNAMEBASE_EXTENSION_AUD" type="dflt:TAXONNAMEBASE_EXTENSION_AUD__type" />
				<xsd:element name="DETERMINATIONEVENT_MARKER_AUD" type="dflt:DETERMINATIONEVENT_MARKER_AUD__type" />
				<xsd:element name="CLASSIFICATION_ORIGINALSOURCEBASE" type="dflt:CLASSIFICATION_ORIGINALSOURCEBASE__type" />
				<xsd:element name="TAXONNAMEBASE_NOMENCLATURALSTATUS" type="dflt:TAXONNAMEBASE_NOMENCLATURALSTATUS__type" />
				<xsd:element name="LANGUAGESTRING_ANNOTATION" type="dflt:LANGUAGESTRING_ANNOTATION__type" />
				<xsd:element name="LSIDAUTHORITY_NAMESPACES" type="dflt:LSIDAUTHORITY_NAMESPACES__type" />
				<xsd:element name="REFERENCE_RIGHTS_AUD" type="dflt:REFERENCE_RIGHTS_AUD__type" />
				<xsd:element name="MULTIACCESSKEY_TAXON" type="dflt:MULTIACCESSKEY_TAXON__type" />
				<xsd:element name="CLASSIFICATION_AUD" type="dflt:CLASSIFICATION_AUD__type" />
				<xsd:element name="CLASSIFICATION_ANNOTATION_AUD" type="dflt:CLASSIFICATION_ANNOTATION_AUD__type" />
				<xsd:element name="SPECIMENOROBSERVATIONBASE_SEQUENCE_AUD" type="dflt:SPECIMENOROBSERVATIONBASE_SEQUENCE_AUD__type" />
				<xsd:element name="SEQUENCE_ANNOTATION_AUD" type="dflt:SEQUENCE_ANNOTATION_AUD__type" />
				<xsd:element name="FEATURETREE_CREDIT_AUD" type="dflt:FEATURETREE_CREDIT_AUD__type" />
				<xsd:element name="TAXONNAMEBASE_ORIGINALSOURCEBASE_AUD" type="dflt:TAXONNAMEBASE_ORIGINALSOURCEBASE_AUD__type" />
				<xsd:element name="REFERENCE_ORIGINALSOURCEBASE" type="dflt:REFERENCE_ORIGINALSOURCEBASE__type" />
				<xsd:element name="DERIVATIONEVENT_ANNOTATION_AUD" type="dflt:DERIVATIONEVENT_ANNOTATION_AUD__type" />
				<xsd:element name="TERMVOCABULARY_ORIGINALSOURCEBASE" type="dflt:TERMVOCABULARY_ORIGINALSOURCEBASE__type" />
				<xsd:element name="MARKER" type="dflt:MARKER__type" />
				<xsd:element name="DEFINEDTERMBASE_WATERBODYORCOUNTRY" type="dflt:DEFINEDTERMBASE_WATERBODYORCOUNTRY__type" />
				<xsd:element name="LOCUS" type="dflt:LOCUS__type" />
				<xsd:element name="CREDIT_AUD" type="dflt:CREDIT_AUD__type" />
				<xsd:element name="AGENTBASE_CREDIT" type="dflt:AGENTBASE_CREDIT__type" />
				<xsd:element name="DEFINEDTERMBASE_ORIGINALSOURCEBASE" type="dflt:DEFINEDTERMBASE_ORIGINALSOURCEBASE__type" />
				<xsd:element name="AGENTBASE_CONTACT_PHONENUMBERS" type="dflt:AGENTBASE_CONTACT_PHONENUMBERS__type" />
				<xsd:element name="WORKINGSET_MARKER_AUD" type="dflt:WORKINGSET_MARKER_AUD__type" />
				<xsd:element name="TERMVOCABULARY_EXTENSION_AUD" type="dflt:TERMVOCABULARY_EXTENSION_AUD__type" />
				<xsd:element name="SPECIMENOROBSERVATIONBASE_MARKER" type="dflt:SPECIMENOROBSERVATIONBASE_MARKER__type" />
				<xsd:element name="PERMISSIONGROUP_GRANTEDAUTHORITYIMPL" type="dflt:PERMISSIONGROUP_GRANTEDAUTHORITYIMPL__type" />
				<xsd:element name="TYPEDESIGNATIONBASE_MARKER_AUD" type="dflt:TYPEDESIGNATIONBASE_MARKER_AUD__type" />
				<xsd:element name="MEDIAKEY_NAMEDAREA" type="dflt:MEDIAKEY_NAMEDAREA__type" />
				<xsd:element name="DEFINEDTERMBASE_CONTINENT_AUD" type="dflt:DEFINEDTERMBASE_CONTINENT_AUD__type" />
				<xsd:element name="TAXONNODE_AUD" type="dflt:TAXONNODE_AUD__type" />
				<xsd:element name="SPECIMENOROBSERVATIONBASE_LANGUAGESTRING_AUD" type="dflt:SPECIMENOROBSERVATIONBASE_LANGUAGESTRING_AUD__type" />
				<xsd:element name="TERMVOCABULARY_REPRESENTATION_AUD" type="dflt:TERMVOCABULARY_REPRESENTATION_AUD__type" />
				<xsd:element name="ORIGINALSOURCEBASE_ANNOTATION_AUD" type="dflt:ORIGINALSOURCEBASE_ANNOTATION_AUD__type" />
				<xsd:element name="FEATURETREE_REPRESENTATION" type="dflt:FEATURETREE_REPRESENTATION__type" />
				<xsd:element name="POLYTOMOUSKEY_CREDIT_AUD" type="dflt:POLYTOMOUSKEY_CREDIT_AUD__type" />
				<xsd:element name="DEFINEDTERMBASE_EXTENSION_AUD" type="dflt:DEFINEDTERMBASE_EXTENSION_AUD__type" />
				<xsd:element name="DEFINEDTERMBASE_SUPPORTEDCATEGORICALENUMERATION_AUD" type="dflt:DEFINEDTERMBASE_SUPPORTEDCATEGORICALENUMERATION_AUD__type" />
				<xsd:element name="DEFINEDTERMBASE_EXTENSION" type="dflt:DEFINEDTERMBASE_EXTENSION__type" />
				<xsd:element name="DEFINEDTERMBASE_STATISTICALMEASURE" type="dflt:DEFINEDTERMBASE_STATISTICALMEASURE__type" />
				<xsd:element name="COLLECTION_ORIGINALSOURCEBASE" type="dflt:COLLECTION_ORIGINALSOURCEBASE__type" />
				<xsd:element name="GATHERINGEVENT" type="dflt:GATHERINGEVENT__type" />
				<xsd:element name="DEFINEDTERMBASE_ORIGINALSOURCEBASE_AUD" type="dflt:DEFINEDTERMBASE_ORIGINALSOURCEBASE_AUD__type" />
				<xsd:element name="TAXONNAMEBASE_ANNOTATION_AUD" type="dflt:TAXONNAMEBASE_ANNOTATION_AUD__type" />
				<xsd:element name="INDIVIDUALASSOCIATION_LANGUAGESTRING" type="dflt:INDIVIDUALASSOCIATION_LANGUAGESTRING__type" />
				<xsd:element name="DESCRIPTIONELEMENTBASE_LANGUAGESTRING_AUD" type="dflt:DESCRIPTIONELEMENTBASE_LANGUAGESTRING_AUD__type" />
				<xsd:element name="TAXONNAMEBASE_RIGHTS" type="dflt:TAXONNAMEBASE_RIGHTS__type" />
				<xsd:element name="COLLECTION_RIGHTS_AUD" type="dflt:COLLECTION_RIGHTS_AUD__type" />
				<xsd:element name="INDIVIDUALASSOCIATION_LANGUAGESTRING_AUD" type="dflt:INDIVIDUALASSOCIATION_LANGUAGESTRING_AUD__type" />
				<xsd:element name="AGENTBASE_DEFINEDTERMBASE_AUD" type="dflt:AGENTBASE_DEFINEDTERMBASE_AUD__type" />
				<xsd:element name="WORKINGSET_DESCRIPTIONBASE" type="dflt:WORKINGSET_DESCRIPTIONBASE__type" />
				<xsd:element name="GENBANKACCESSION_AUD" type="dflt:GENBANKACCESSION_AUD__type" />
				<xsd:element name="POLYTOMOUSKEY_EXTENSION_AUD" type="dflt:POLYTOMOUSKEY_EXTENSION_AUD__type" />
				<xsd:element name="DESCRIPTIONELEMENTBASE_STATEDATA_AUD" type="dflt:DESCRIPTIONELEMENTBASE_STATEDATA_AUD__type" />
				<xsd:element name="WORKINGSET_ANNOTATION" type="dflt:WORKINGSET_ANNOTATION__type" />
				<xsd:element name="FEATURETREE_ORIGINALSOURCEBASE" type="dflt:FEATURETREE_ORIGINALSOURCEBASE__type" />
				<xsd:element name="TAXONBASE_MARKER_AUD" type="dflt:TAXONBASE_MARKER_AUD__type" />
				<xsd:element name="MEDIA_ANNOTATION_AUD" type="dflt:MEDIA_ANNOTATION_AUD__type" />
				<xsd:element name="TAXONNODE_MARKER_AUD" type="dflt:TAXONNODE_MARKER_AUD__type" />
				<xsd:element name="AUDITEVENT" type="dflt:AUDITEVENT__type" />
				<xsd:element name="MEDIA_CREDIT" type="dflt:MEDIA_CREDIT__type" />
				<xsd:element name="KEYSTATEMENT_LANGUAGESTRING" type="dflt:KEYSTATEMENT_LANGUAGESTRING__type" />
				<xsd:element name="DEFINEDTERMBASE_STATISTICALMEASURE_AUD" type="dflt:DEFINEDTERMBASE_STATISTICALMEASURE_AUD__type" />
				<xsd:element name="DEFINEDTERMBASE_ANNOTATION_AUD" type="dflt:DEFINEDTERMBASE_ANNOTATION_AUD__type" />
				<xsd:element name="AGENTBASE_EXTENSION" type="dflt:AGENTBASE_EXTENSION__type" />
				<xsd:element name="FEATURETREE_EXTENSION_AUD" type="dflt:FEATURETREE_EXTENSION_AUD__type" />
				<xsd:element name="DESCRIPTIONBASE_REFERENCE_AUD" type="dflt:DESCRIPTIONBASE_REFERENCE_AUD__type" />
				<xsd:element name="HOMOTYPICALGROUP" type="dflt:HOMOTYPICALGROUP__type" />
				<xsd:element name="NOMENCLATURALSTATUS_MARKER_AUD" type="dflt:NOMENCLATURALSTATUS_MARKER_AUD__type" />
				<xsd:element name="COLLECTION" type="dflt:COLLECTION__type" />
				<xsd:element name="TAXONRELATIONSHIP" type="dflt:TAXONRELATIONSHIP__type" />
				<xsd:element name="HOMOTYPICALGROUP_MARKER" type="dflt:HOMOTYPICALGROUP_MARKER__type" />
				<xsd:element name="MULTIACCESSKEY_SCOPE_AUD" type="dflt:MULTIACCESSKEY_SCOPE_AUD__type" />
				<xsd:element name="DESCRIPTIONBASE_FEATURE_AUD" type="dflt:DESCRIPTIONBASE_FEATURE_AUD__type" />
				<xsd:element name="CDMMETADATA" type="dflt:CDMMETADATA__type" />
				<xsd:element name="RELATIONSHIPTERMBASE_INVERSEREPRESENTATION_AUD" type="dflt:RELATIONSHIPTERMBASE_INVERSEREPRESENTATION_AUD__type" />
				<xsd:element name="SPECIMENOROBSERVATIONBASE" type="dflt:SPECIMENOROBSERVATIONBASE__type" />
				<xsd:element name="WORKINGSET" type="dflt:WORKINGSET__type" />
				<xsd:element name="MEDIA_SEQUENCE" type="dflt:MEDIA_SEQUENCE__type" />
				<xsd:element name="TERMVOCABULARY_RIGHTS_AUD" type="dflt:TERMVOCABULARY_RIGHTS_AUD__type" />
				<xsd:element name="FEATURENODE_DEFINEDTERMBASE_ONLYAPPLICABLE" type="dflt:FEATURENODE_DEFINEDTERMBASE_ONLYAPPLICABLE__type" />
				<xsd:element name="GATHERINGEVENT_DEFINEDTERMBASE" type="dflt:GATHERINGEVENT_DEFINEDTERMBASE__type" />
				<xsd:element name="ANNOTATION_AUD" type="dflt:ANNOTATION_AUD__type" />
				<xsd:element name="MEDIAKEY_TAXON_AUD" type="dflt:MEDIAKEY_TAXON_AUD__type" />
				<xsd:element name="ORIGINALSOURCEBASE" type="dflt:ORIGINALSOURCEBASE__type" />
				<xsd:element name="HYBRIDRELATIONSHIP_ANNOTATION_AUD" type="dflt:HYBRIDRELATIONSHIP_ANNOTATION_AUD__type" />
				<xsd:element name="TAXONNAMEBASE_MARKER" type="dflt:TAXONNAMEBASE_MARKER__type" />
				<xsd:element name="DERIVATIONEVENT" type="dflt:DERIVATIONEVENT__type" />
				<xsd:element name="AGENTBASE_CONTACT_FAXNUMBERS" type="dflt:AGENTBASE_CONTACT_FAXNUMBERS__type" />
				<xsd:element name="TERMVOCABULARY_ORIGINALSOURCEBASE_AUD" type="dflt:TERMVOCABULARY_ORIGINALSOURCEBASE_AUD__type" />
				<xsd:element name="TYPEDESIGNATIONBASE_ANNOTATION" type="dflt:TYPEDESIGNATIONBASE_ANNOTATION__type" />
				<xsd:element name="NAMERELATIONSHIP_ANNOTATION" type="dflt:NAMERELATIONSHIP_ANNOTATION__type" />
				<xsd:element name="ADDRESS" type="dflt:ADDRESS__type" />
				<xsd:element name="WORKINGSET_TAXONBASE" type="dflt:WORKINGSET_TAXONBASE__type" />
				<xsd:element name="TAXONBASE_AUD" type="dflt:TAXONBASE_AUD__type" />
				<xsd:element name="COLLECTION_MARKER_AUD" type="dflt:COLLECTION_MARKER_AUD__type" />
				<xsd:element name="POLYTOMOUSKEY_TAXON_AUD" type="dflt:POLYTOMOUSKEY_TAXON_AUD__type" />
				<xsd:element name="WORKINGSET_ANNOTATION_AUD" type="dflt:WORKINGSET_ANNOTATION_AUD__type" />
				<xsd:element name="TYPEDESIGNATIONBASE" type="dflt:TYPEDESIGNATIONBASE__type" />
				<xsd:element name="AGENTBASE_RIGHTS" type="dflt:AGENTBASE_RIGHTS__type" />
				<xsd:element name="COLLECTION_ORIGINALSOURCEBASE_AUD" type="dflt:COLLECTION_ORIGINALSOURCEBASE_AUD__type" />
				<xsd:element name="AGENTBASE_EXTENSION_AUD" type="dflt:AGENTBASE_EXTENSION_AUD__type" />
				<xsd:element name="DESCRIPTIONELEMENTBASE_MODIFYINGTEXT" type="dflt:DESCRIPTIONELEMENTBASE_MODIFYINGTEXT__type" />
				<xsd:element name="SYNONYMRELATIONSHIP_ANNOTATION" type="dflt:SYNONYMRELATIONSHIP_ANNOTATION__type" />
				<xsd:element name="SPECIMENOROBSERVATIONBASE_EXTENSION_AUD" type="dflt:SPECIMENOROBSERVATIONBASE_EXTENSION_AUD__type" />
				<xsd:element name="CLASSIFICATION_TAXONNODE_AUD" type="dflt:CLASSIFICATION_TAXONNODE_AUD__type" />
				<xsd:element name="POLYTOMOUSKEY" type="dflt:POLYTOMOUSKEY__type" />
				<xsd:element name="SEQUENCE_ORIGINALSOURCEBASE" type="dflt:SEQUENCE_ORIGINALSOURCEBASE__type" />
				<xsd:element name="TERMVOCABULARY" type="dflt:TERMVOCABULARY__type" />
				<xsd:element name="TAXONNODE_MARKER" type="dflt:TAXONNODE_MARKER__type" />
				<xsd:element name="SEQUENCE_CREDIT" type="dflt:SEQUENCE_CREDIT__type" />
				<xsd:element name="TERMVOCABULARY_MARKER_AUD" type="dflt:TERMVOCABULARY_MARKER_AUD__type" />
				<xsd:element name="MEDIA_DESCRIPTION" type="dflt:MEDIA_DESCRIPTION__type" />
				<xsd:element name="MEDIAREPRESENTATIONPART_AUD" type="dflt:MEDIAREPRESENTATIONPART_AUD__type" />
				<xsd:element name="TAXONRELATIONSHIP_MARKER" type="dflt:TAXONRELATIONSHIP_MARKER__type" />
				<xsd:element name="DESCRIPTIONBASE_CREDIT" type="dflt:DESCRIPTIONBASE_CREDIT__type" />
				<xsd:element name="TAXONNAMEBASE_NOMENCLATURALSTATUS_AUD" type="dflt:TAXONNAMEBASE_NOMENCLATURALSTATUS_AUD__type" />
				<xsd:element name="AGENTBASE_ANNOTATION" type="dflt:AGENTBASE_ANNOTATION__type" />
				<xsd:element name="SEQUENCE_GENBANKACCESSION" type="dflt:SEQUENCE_GENBANKACCESSION__type" />
				<xsd:element name="DESCRIPTIONBASE_MARKER_AUD" type="dflt:DESCRIPTIONBASE_MARKER_AUD__type" />
				<xsd:element name="CLASSIFICATION_MARKER" type="dflt:CLASSIFICATION_MARKER__type" />
				<xsd:element name="STATISTICALMEASUREMENTVALUE" type="dflt:STATISTICALMEASUREMENTVALUE__type" />
				<xsd:element name="NAMERELATIONSHIP_MARKER" type="dflt:NAMERELATIONSHIP_MARKER__type" />
				<xsd:element name="DESCRIPTIONELEMENTBASE_STATISTICALMEASUREMENTVALUE" type="dflt:DESCRIPTIONELEMENTBASE_STATISTICALMEASUREMENTVALUE__type" />
				<xsd:element name="USERACCOUNT_PERMISSIONGROUP" type="dflt:USERACCOUNT_PERMISSIONGROUP__type" />
				<xsd:element name="SYNONYMRELATIONSHIP_MARKER" type="dflt:SYNONYMRELATIONSHIP_MARKER__type" />
				<xsd:element name="DESCRIPTIONBASE_GEOSCOPE_AUD" type="dflt:DESCRIPTIONBASE_GEOSCOPE_AUD__type" />
				<xsd:element name="TAXONNAMEBASE_TYPEDESIGNATIONBASE" type="dflt:TAXONNAMEBASE_TYPEDESIGNATIONBASE__type" />
				<xsd:element name="TYPEDESIGNATIONBASE_MARKER" type="dflt:TYPEDESIGNATIONBASE_MARKER__type" />
				<xsd:element name="REFERENCE_AUD" type="dflt:REFERENCE_AUD__type" />
				<xsd:element name="HYBRIDRELATIONSHIP_AUD" type="dflt:HYBRIDRELATIONSHIP_AUD__type" />
				<xsd:element name="DEFINEDTERMBASE_ANNOTATION" type="dflt:DEFINEDTERMBASE_ANNOTATION__type" />
				<xsd:element name="POLYTOMOUSKEY_ORIGINALSOURCEBASE" type="dflt:POLYTOMOUSKEY_ORIGINALSOURCEBASE__type" />
				<xsd:element name="FEATURETREE_CREDIT" type="dflt:FEATURETREE_CREDIT__type" />
				<xsd:element name="WORKINGSET_AUD" type="dflt:WORKINGSET_AUD__type" />
				<xsd:element name="NOMENCLATURALSTATUS_ANNOTATION_AUD" type="dflt:NOMENCLATURALSTATUS_ANNOTATION_AUD__type" />
				<xsd:element name="FEATURENODE" type="dflt:FEATURENODE__type" />
				<xsd:element name="TYPEDESIGNATIONBASE_ANNOTATION_AUD" type="dflt:TYPEDESIGNATIONBASE_ANNOTATION_AUD__type" />
				<xsd:element name="DESCRIPTIONBASE_FEATURE" type="dflt:DESCRIPTIONBASE_FEATURE__type" />
				<xsd:element name="DETERMINATIONEVENT" type="dflt:DETERMINATIONEVENT__type" />
				<xsd:element name="HIBERNATE_SEQUENCES" type="dflt:HIBERNATE_SEQUENCES__type" />
				<xsd:element name="MEDIAKEY_NAMEDAREA_AUD" type="dflt:MEDIAKEY_NAMEDAREA_AUD__type" />
				<xsd:element name="SEQUENCE_MEDIA_AUD" type="dflt:SEQUENCE_MEDIA_AUD__type" />
				<xsd:element name="COLLECTION_AUD" type="dflt:COLLECTION_AUD__type" />
				<xsd:element name="TAXONNAMEBASE_ORIGINALSOURCEBASE" type="dflt:TAXONNAMEBASE_ORIGINALSOURCEBASE__type" />
				<xsd:element name="DESCRIPTIONELEMENTBASE_MODIFIER" type="dflt:DESCRIPTIONELEMENTBASE_MODIFIER__type" />
				<xsd:element name="SPECIMENOROBSERVATIONBASE_MEDIA" type="dflt:SPECIMENOROBSERVATIONBASE_MEDIA__type" />
				<xsd:element name="GENBANKACCESSION" type="dflt:GENBANKACCESSION__type" />
				<xsd:element name="SPECIMENOROBSERVATIONBASE_CREDIT_AUD" type="dflt:SPECIMENOROBSERVATIONBASE_CREDIT_AUD__type" />
				<xsd:element name="MULTIACCESSKEY_NAMEDAREA_AUD" type="dflt:MULTIACCESSKEY_NAMEDAREA_AUD__type" />
				<xsd:element name="SPECIMENOROBSERVATIONBASE_EXTENSION" type="dflt:SPECIMENOROBSERVATIONBASE_EXTENSION__type" />
				<xsd:element name="DESCRIPTIONELEMENTBASE_ANNOTATION_AUD" type="dflt:DESCRIPTIONELEMENTBASE_ANNOTATION_AUD__type" />
				<xsd:element name="FEATURETREE_AUD" type="dflt:FEATURETREE_AUD__type" />
				<xsd:element name="TAXONNAMEBASE_CREDIT_AUD" type="dflt:TAXONNAMEBASE_CREDIT_AUD__type" />
				<xsd:element name="MEDIA_CREDIT_AUD" type="dflt:MEDIA_CREDIT_AUD__type" />
				<xsd:element name="DEFINEDTERMBASE_MEASUREMENTUNIT_AUD" type="dflt:DEFINEDTERMBASE_MEASUREMENTUNIT_AUD__type" />
				<xsd:element name="MEDIA_RIGHTS_AUD" type="dflt:MEDIA_RIGHTS_AUD__type" />
				<xsd:element name="EXTENSION_AUD" type="dflt:EXTENSION_AUD__type" />
				<xsd:element name="DESCRIPTIONBASE_ORIGINALSOURCEBASE" type="dflt:DESCRIPTIONBASE_ORIGINALSOURCEBASE__type" />
				<xsd:element name="DETERMINATIONEVENT_REFERENCE" type="dflt:DETERMINATIONEVENT_REFERENCE__type" />
				<xsd:element name="ANNOTATION_MARKER_AUD" type="dflt:ANNOTATION_MARKER_AUD__type" />
				<xsd:element name="SPECIMENOROBSERVATIONBASE_RIGHTS_AUD" type="dflt:SPECIMENOROBSERVATIONBASE_RIGHTS_AUD__type" />
				<xsd:element name="DEFINEDTERMBASE_MEASUREMENTUNIT" type="dflt:DEFINEDTERMBASE_MEASUREMENTUNIT__type" />
				<xsd:element name="MEDIA_TAXONBASE" type="dflt:MEDIA_TAXONBASE__type" />
				<xsd:element name="MEDIAKEY_SCOPE_AUD" type="dflt:MEDIAKEY_SCOPE_AUD__type" />
				<xsd:element name="NOMENCLATURALSTATUS_AUD" type="dflt:NOMENCLATURALSTATUS_AUD__type" />
				<xsd:element name="AGENTBASE_DEFINEDTERMBASE" type="dflt:AGENTBASE_DEFINEDTERMBASE__type" />
				<xsd:element name="DESCRIPTIONELEMENTBASE_STATEDATA" type="dflt:DESCRIPTIONELEMENTBASE_STATEDATA__type" />
				<xsd:element name="DESCRIPTIONBASE_EXTENSION_AUD" type="dflt:DESCRIPTIONBASE_EXTENSION_AUD__type" />
				<xsd:element name="MEDIA_ANNOTATION" type="dflt:MEDIA_ANNOTATION__type" />
				<xsd:element name="STATEDATA" type="dflt:STATEDATA__type" />
				<xsd:element name="TAXONNAMEBASE_CREDIT" type="dflt:TAXONNAMEBASE_CREDIT__type" />
				<xsd:element name="LANGUAGESTRING_AUD" type="dflt:LANGUAGESTRING_AUD__type" />
				<xsd:element name="FEATURENODE_DEFINEDTERMBASE_ONLYAPPLICABLE_AUD" type="dflt:FEATURENODE_DEFINEDTERMBASE_ONLYAPPLICABLE_AUD__type" />
				<xsd:element name="SPECIMENOROBSERVATIONBASE_DERIVATIONEVENT" type="dflt:SPECIMENOROBSERVATIONBASE_DERIVATIONEVENT__type" />
				<xsd:element name="AGENTBASE_AUD" type="dflt:AGENTBASE_AUD__type" />
				<xsd:element name="POLYTOMOUSKEYNODE" type="dflt:POLYTOMOUSKEYNODE__type" />
				<xsd:element name="FEATURETREE_RIGHTS_AUD" type="dflt:FEATURETREE_RIGHTS_AUD__type" />
				<xsd:element name="DERIVATIONEVENT_AUD" type="dflt:DERIVATIONEVENT_AUD__type" />
				<xsd:element name="ANNOTATION" type="dflt:ANNOTATION__type" />
				<xsd:element name="AGENTBASE_CONTACT_FAXNUMBERS_AUD" type="dflt:AGENTBASE_CONTACT_FAXNUMBERS_AUD__type" />
				<xsd:element name="MEDIA_TAXONBASE_AUD" type="dflt:MEDIA_TAXONBASE_AUD__type" />
				<xsd:element name="WORKINGSET_REPRESENTATION_AUD" type="dflt:WORKINGSET_REPRESENTATION_AUD__type" />
				<xsd:element name="TAXONBASE_CREDIT" type="dflt:TAXONBASE_CREDIT__type" />
				<xsd:element name="CREDIT" type="dflt:CREDIT__type" />
				<xsd:element name="POLYTOMOUSKEY_CREDIT" type="dflt:POLYTOMOUSKEY_CREDIT__type" />
				<xsd:element name="DESCRIPTIONBASE_ORIGINALSOURCEBASE_AUD" type="dflt:DESCRIPTIONBASE_ORIGINALSOURCEBASE_AUD__type" />
				<xsd:element name="COLLECTION_MARKER" type="dflt:COLLECTION_MARKER__type" />
				<xsd:element name="MULTIACCESSKEY_TAXON_AUD" type="dflt:MULTIACCESSKEY_TAXON_AUD__type" />
				<xsd:element name="TAXONNAMEBASE_MARKER_AUD" type="dflt:TAXONNAMEBASE_MARKER_AUD__type" />
				<xsd:element name="FEATURETREE" type="dflt:FEATURETREE__type" />
				<xsd:element name="COLLECTION_RIGHTS" type="dflt:COLLECTION_RIGHTS__type" />
				<xsd:element name="RIGHTS_ANNOTATION" type="dflt:RIGHTS_ANNOTATION__type" />
				<xsd:element name="SEQUENCE_MARKER_AUD" type="dflt:SEQUENCE_MARKER_AUD__type" />
				<xsd:element name="REFERENCE_MARKER" type="dflt:REFERENCE_MARKER__type" />
				<xsd:element name="DEFINEDTERMBASE_CREDIT_AUD" type="dflt:DEFINEDTERMBASE_CREDIT_AUD__type" />
				<xsd:element name="USERACCOUNT" type="dflt:USERACCOUNT__type" />
				<xsd:element name="TERMVOCABULARY_EXTENSION" type="dflt:TERMVOCABULARY_EXTENSION__type" />
				<xsd:element name="DESCRIPTIONELEMENTBASE" type="dflt:DESCRIPTIONELEMENTBASE__type" />
				<xsd:element name="POLYTOMOUSKEYNODE_LANGUAGESTRING_AUD" type="dflt:POLYTOMOUSKEYNODE_LANGUAGESTRING_AUD__type" />
				<xsd:element name="STATEDATA_DEFINEDTERMBASE_AUD" type="dflt:STATEDATA_DEFINEDTERMBASE_AUD__type" />
				<xsd:element name="MEDIA_LANGUAGESTRING_AUD" type="dflt:MEDIA_LANGUAGESTRING_AUD__type" />
				<xsd:element name="STATEDATA_AUD" type="dflt:STATEDATA_AUD__type" />
				<xsd:element name="REPRESENTATION_MARKER_AUD" type="dflt:REPRESENTATION_MARKER_AUD__type" />
				<xsd:element name="SPECIMENOROBSERVATIONBASE_MARKER_AUD" type="dflt:SPECIMENOROBSERVATIONBASE_MARKER_AUD__type" />
				<xsd:element name="AGENTBASE_AGENTBASE" type="dflt:AGENTBASE_AGENTBASE__type" />
				<xsd:element name="REFERENCE_EXTENSION_AUD" type="dflt:REFERENCE_EXTENSION_AUD__type" />
				<xsd:element name="CREDIT_MARKER" type="dflt:CREDIT_MARKER__type" />
				<xsd:element name="RIGHTS" type="dflt:RIGHTS__type" />
				<xsd:element name="POLYTOMOUSKEY_TAXONBASE" type="dflt:POLYTOMOUSKEY_TAXONBASE__type" />
				<xsd:element name="MEDIA_ORIGINALSOURCEBASE_AUD" type="dflt:MEDIA_ORIGINALSOURCEBASE_AUD__type" />
				<xsd:element name="MEDIA_MARKER" type="dflt:MEDIA_MARKER__type" />
				<xsd:element name="SEQUENCE_EXTENSION_AUD" type="dflt:SEQUENCE_EXTENSION_AUD__type" />
				<xsd:element name="DEFINEDTERMBASE_CREDIT" type="dflt:DEFINEDTERMBASE_CREDIT__type" />
				<xsd:element name="GRANTEDAUTHORITYIMPL" type="dflt:GRANTEDAUTHORITYIMPL__type" />
				<xsd:element name="MEDIAREPRESENTATION_AUD" type="dflt:MEDIAREPRESENTATION_AUD__type" />
				<xsd:element name="SPECIMENOROBSERVATIONBASE_LANGUAGESTRING" type="dflt:SPECIMENOROBSERVATIONBASE_LANGUAGESTRING__type" />
				<xsd:element name="TERMVOCABULARY_CREDIT_AUD" type="dflt:TERMVOCABULARY_CREDIT_AUD__type" />
				<xsd:element name="AGENTBASE_MEDIA" type="dflt:AGENTBASE_MEDIA__type" />
				<xsd:element name="REPRESENTATION_ANNOTATION" type="dflt:REPRESENTATION_ANNOTATION__type" />
				<xsd:element name="DESCRIPTIONBASE" type="dflt:DESCRIPTIONBASE__type" />
				<xsd:element name="DESCRIPTIONBASE_AUD" type="dflt:DESCRIPTIONBASE_AUD__type" />
				<xsd:element name="AGENTBASE_ANNOTATION_AUD" type="dflt:AGENTBASE_ANNOTATION_AUD__type" />
				<xsd:element name="STATISTICALMEASUREMENTVALUE_AUD" type="dflt:STATISTICALMEASUREMENTVALUE_AUD__type" />
				<xsd:element name="NAMERELATIONSHIP" type="dflt:NAMERELATIONSHIP__type" />
				<xsd:element name="CLASSIFICATION_ANNOTATION" type="dflt:CLASSIFICATION_ANNOTATION__type" />
				<xsd:element name="COLLECTION_ANNOTATION_AUD" type="dflt:COLLECTION_ANNOTATION_AUD__type" />
				<xsd:element name="POLYTOMOUSKEY_EXTENSION" type="dflt:POLYTOMOUSKEY_EXTENSION__type" />
				<xsd:element name="CLASSIFICATION_RIGHTS_AUD" type="dflt:CLASSIFICATION_RIGHTS_AUD__type" />
				<xsd:element name="TAXONNAMEBASE_ANNOTATION" type="dflt:TAXONNAMEBASE_ANNOTATION__type" />
				<xsd:element name="REFERENCE_MEDIA_AUD" type="dflt:REFERENCE_MEDIA_AUD__type" />
				<xsd:element name="NOMENCLATURALSTATUS_MARKER" type="dflt:NOMENCLATURALSTATUS_MARKER__type" />
				<xsd:element name="INSTITUTIONALMEMBERSHIP_AUD" type="dflt:INSTITUTIONALMEMBERSHIP_AUD__type" />
				<xsd:element name="AGENTBASE_CONTACT_EMAILADDRESSES_AUD" type="dflt:AGENTBASE_CONTACT_EMAILADDRESSES_AUD__type" />
				<xsd:element name="HOMOTYPICALGROUP_AUD" type="dflt:HOMOTYPICALGROUP_AUD__type" />
				<xsd:element name="MEDIA_AUD" type="dflt:MEDIA_AUD__type" />
				<xsd:element name="WORKINGSET_MARKER" type="dflt:WORKINGSET_MARKER__type" />
				<xsd:element name="SEQUENCE_GENBANKACCESSION_AUD" type="dflt:SEQUENCE_GENBANKACCESSION_AUD__type" />
				<xsd:element name="REPRESENTATION_AUD" type="dflt:REPRESENTATION_AUD__type" />
				<xsd:element name="DESCRIPTIONBASE_SCOPE_AUD" type="dflt:DESCRIPTIONBASE_SCOPE_AUD__type" />
				<xsd:element name="LANGUAGESTRING" type="dflt:LANGUAGESTRING__type" />
				<xsd:element name="HOMOTYPICALGROUP_ANNOTATION" type="dflt:HOMOTYPICALGROUP_ANNOTATION__type" />
				<xsd:element name="AGENTBASE_CONTACT_EMAILADDRESSES" type="dflt:AGENTBASE_CONTACT_EMAILADDRESSES__type" />
				<xsd:element name="HYBRIDRELATIONSHIP_MARKER" type="dflt:HYBRIDRELATIONSHIP_MARKER__type" />
				<xsd:element name="POLYTOMOUSKEYNODE_AUD" type="dflt:POLYTOMOUSKEYNODE_AUD__type" />
				<xsd:element name="SEQUENCE_ANNOTATION" type="dflt:SEQUENCE_ANNOTATION__type" />
				<xsd:element name="FEATURENODE_DEFINEDTERMBASE_INAPPLICABLEIF_AUD" type="dflt:FEATURENODE_DEFINEDTERMBASE_INAPPLICABLEIF_AUD__type" />
				<xsd:element name="ORIGINALSOURCEBASE_MARKER" type="dflt:ORIGINALSOURCEBASE_MARKER__type" />
				<xsd:element name="AGENTBASE_MEDIA_AUD" type="dflt:AGENTBASE_MEDIA_AUD__type" />
				<xsd:element name="REPRESENTATION_ANNOTATION_AUD" type="dflt:REPRESENTATION_ANNOTATION_AUD__type" />
				<xsd:element name="POLYTOMOUSKEY_RIGHTS_AUD" type="dflt:POLYTOMOUSKEY_RIGHTS_AUD__type" />
				<xsd:element name="GATHERINGEVENT_ANNOTATION" type="dflt:GATHERINGEVENT_ANNOTATION__type" />
				<xsd:element name="AGENTBASE_RIGHTS_AUD" type="dflt:AGENTBASE_RIGHTS_AUD__type" />
				<xsd:element name="CDM_VIEW" type="dflt:CDM_VIEW__type" />
				<xsd:element name="DESCRIPTIONELEMENTBASE_AUD" type="dflt:DESCRIPTIONELEMENTBASE_AUD__type" />
				<xsd:element name="SPECIMENOROBSERVATIONBASE_ORIGINALSOURCEBASE_AUD" type="dflt:SPECIMENOROBSERVATIONBASE_ORIGINALSOURCEBASE_AUD__type" />
				<xsd:element name="MEDIA_DESCRIPTION_AUD" type="dflt:MEDIA_DESCRIPTION_AUD__type" />
				<xsd:element name="SEQUENCE_ORIGINALSOURCEBASE_AUD" type="dflt:SEQUENCE_ORIGINALSOURCEBASE_AUD__type" />
				<xsd:element name="MEDIA" type="dflt:MEDIA__type" />
				<xsd:element name="HYBRIDRELATIONSHIP" type="dflt:HYBRIDRELATIONSHIP__type" />
				<xsd:element name="COLLECTION_CREDIT_AUD" type="dflt:COLLECTION_CREDIT_AUD__type" />
				<xsd:element name="SEQUENCE_AUD" type="dflt:SEQUENCE_AUD__type" />
				<xsd:element name="TAXONBASE_ORIGINALSOURCEBASE_AUD" type="dflt:TAXONBASE_ORIGINALSOURCEBASE_AUD__type" />
				<xsd:element name="DESCRIPTIONELEMENTBASE_MARKER" type="dflt:DESCRIPTIONELEMENTBASE_MARKER__type" />
				<xsd:element name="TAXONBASE_CREDIT_AUD" type="dflt:TAXONBASE_CREDIT_AUD__type" />
				<xsd:element name="MEDIA_EXTENSION" type="dflt:MEDIA_EXTENSION__type" />
				<xsd:element name="SPECIMENOROBSERVATIONBASE_ORIGINALSOURCEBASE" type="dflt:SPECIMENOROBSERVATIONBASE_ORIGINALSOURCEBASE__type" />
				<xsd:element name="USERACCOUNT_AUD" type="dflt:USERACCOUNT_AUD__type" />
				<xsd:element name="TAXONBASE_ORIGINALSOURCEBASE" type="dflt:TAXONBASE_ORIGINALSOURCEBASE__type" />
				<xsd:element name="COLLECTION_MEDIA" type="dflt:COLLECTION_MEDIA__type" />
				<xsd:element name="SYNONYMRELATIONSHIP_ANNOTATION_AUD" type="dflt:SYNONYMRELATIONSHIP_ANNOTATION_AUD__type" />
				<xsd:element name="TERMVOCABULARY_REPRESENTATION" type="dflt:TERMVOCABULARY_REPRESENTATION__type" />
				<xsd:element name="SEQUENCE_MEDIA" type="dflt:SEQUENCE_MEDIA__type" />
				<xsd:element name="POLYTOMOUSKEY_RIGHTS" type="dflt:POLYTOMOUSKEY_RIGHTS__type" />
				<xsd:element name="GATHERINGEVENT_MARKER" type="dflt:GATHERINGEVENT_MARKER__type" />
				<xsd:element name="SYNONYMRELATIONSHIP_MARKER_AUD" type="dflt:SYNONYMRELATIONSHIP_MARKER_AUD__type" />
				<xsd:element name="MEDIAKEY_TAXON" type="dflt:MEDIAKEY_TAXON__type" />
				<xsd:element name="REFERENCE_MEDIA" type="dflt:REFERENCE_MEDIA__type" />
				<xsd:element name="TAXONNODE_ANNOTATION" type="dflt:TAXONNODE_ANNOTATION__type" />
				<xsd:element name="DEFINEDTERMBASE_MARKER" type="dflt:DEFINEDTERMBASE_MARKER__type" />
				<xsd:element name="TERMVOCABULARY_AUD" type="dflt:TERMVOCABULARY_AUD__type" />
				<xsd:element name="DESCRIPTIONELEMENTBASE_MARKER_AUD" type="dflt:DESCRIPTIONELEMENTBASE_MARKER_AUD__type" />
				<xsd:element name="NAMERELATIONSHIP_ANNOTATION_AUD" type="dflt:NAMERELATIONSHIP_ANNOTATION_AUD__type" />
				<xsd:element name="FEATURETREE_ANNOTATION_AUD" type="dflt:FEATURETREE_ANNOTATION_AUD__type" />
				<xsd:element name="HYBRIDRELATIONSHIP_MARKER_AUD" type="dflt:HYBRIDRELATIONSHIP_MARKER_AUD__type" />
				<xsd:element name="STATEDATA_LANGUAGESTRING" type="dflt:STATEDATA_LANGUAGESTRING__type" />
				<xsd:element name="LANGUAGESTRING_MARKER" type="dflt:LANGUAGESTRING_MARKER__type" />
				<xsd:element name="LSIDAUTHORITY" type="dflt:LSIDAUTHORITY__type" />
				<xsd:element name="TYPEDESIGNATIONBASE_AUD" type="dflt:TYPEDESIGNATIONBASE_AUD__type" />
				<xsd:element name="SEQUENCE" type="dflt:SEQUENCE__type" />
				<xsd:element name="DESCRIPTIONELEMENTBASE_MEDIA_AUD" type="dflt:DESCRIPTIONELEMENTBASE_MEDIA_AUD__type" />
				<xsd:element name="NOMENCLATURALSTATUS_ANNOTATION" type="dflt:NOMENCLATURALSTATUS_ANNOTATION__type" />
				<xsd:element name="DEFINEDTERMBASE_RIGHTS" type="dflt:DEFINEDTERMBASE_RIGHTS__type" />
				<xsd:element name="HOMOTYPICALGROUP_ANNOTATION_AUD" type="dflt:HOMOTYPICALGROUP_ANNOTATION_AUD__type" />
				<xsd:element name="DEFINEDTERMBASE_RECOMMENDEDMODIFIERENUMERATION_AUD" type="dflt:DEFINEDTERMBASE_RECOMMENDEDMODIFIERENUMERATION_AUD__type" />
				<xsd:element name="DESCRIPTIONBASE_CREDIT_AUD" type="dflt:DESCRIPTIONBASE_CREDIT_AUD__type" />
				<xsd:element name="DESCRIPTIONELEMENTBASE_LANGUAGESTRING" type="dflt:DESCRIPTIONELEMENTBASE_LANGUAGESTRING__type" />
				<xsd:element name="ANNOTATION_ANNOTATION" type="dflt:ANNOTATION_ANNOTATION__type" />
				<xsd:element name="AGENTBASE_MARKER" type="dflt:AGENTBASE_MARKER__type" />
				<xsd:element name="DEFINEDTERMBASE_CONTINENT" type="dflt:DEFINEDTERMBASE_CONTINENT__type" />
				<xsd:element name="TAXONNAMEBASE_EXTENSION" type="dflt:TAXONNAMEBASE_EXTENSION__type" />
				<xsd:element name="DETERMINATIONEVENT_MARKER" type="dflt:DETERMINATIONEVENT_MARKER__type" />
				<xsd:element name="NAMERELATIONSHIP_AUD" type="dflt:NAMERELATIONSHIP_AUD__type" />
				<xsd:element name="DERIVATIONEVENT_MARKER" type="dflt:DERIVATIONEVENT_MARKER__type" />
				<xsd:element name="SPECIMENOROBSERVATIONBASE_RIGHTS" type="dflt:SPECIMENOROBSERVATIONBASE_RIGHTS__type" />
				<xsd:element name="DBMAINTAIN_SCRIPTS" type="dflt:DBMAINTAIN_SCRIPTS__type" />
				<xsd:element name="COLLECTION_EXTENSION_AUD" type="dflt:COLLECTION_EXTENSION_AUD__type" />
				<xsd:element name="DEFINEDTERMBASE_MEDIA_AUD" type="dflt:DEFINEDTERMBASE_MEDIA_AUD__type" />
				<xsd:element name="MEDIAKEY_SCOPE" type="dflt:MEDIAKEY_SCOPE__type" />
				<xsd:element name="DETERMINATIONEVENT_REFERENCE_AUD" type="dflt:DETERMINATIONEVENT_REFERENCE_AUD__type" />
				<xsd:element name="KEYSTATEMENT" type="dflt:KEYSTATEMENT__type" />
				<xsd:element name="LANGUAGESTRING_ANNOTATION_AUD" type="dflt:LANGUAGESTRING_ANNOTATION_AUD__type" />
				<xsd:element name="TERMVOCABULARY_ANNOTATION_AUD" type="dflt:TERMVOCABULARY_ANNOTATION_AUD__type" />
				<xsd:element name="SEQUENCE_RIGHTS" type="dflt:SEQUENCE_RIGHTS__type" />
				<xsd:element name="CLASSIFICATION_RIGHTS" type="dflt:CLASSIFICATION_RIGHTS__type" />
				<xsd:element name="TAXONINTERACTION_LANGUAGESTRING" type="dflt:TAXONINTERACTION_LANGUAGESTRING__type" />
				<xsd:element name="SPECIMENOROBSERVATIONBASE_ANNOTATION_AUD" type="dflt:SPECIMENOROBSERVATIONBASE_ANNOTATION_AUD__type" />
				<xsd:element name="POLYTOMOUSKEY_SCOPE" type="dflt:POLYTOMOUSKEY_SCOPE__type" />
				<xsd:element name="MULTIACCESSKEY_NAMEDAREA" type="dflt:MULTIACCESSKEY_NAMEDAREA__type" />
				<xsd:element name="USERACCOUNT_GRANTEDAUTHORITYIMPL" type="dflt:USERACCOUNT_GRANTEDAUTHORITYIMPL__type" />
				<xsd:element name="AGENTBASE_CONTACT_URLS" type="dflt:AGENTBASE_CONTACT_URLS__type" />
				<xsd:element name="TAXONBASE_RIGHTS" type="dflt:TAXONBASE_RIGHTS__type" />
				<xsd:element name="DESCRIPTIONBASE_REFERENCE" type="dflt:DESCRIPTIONBASE_REFERENCE__type" />
				<xsd:element name="DERIVATIONEVENT_MARKER_AUD" type="dflt:DERIVATIONEVENT_MARKER_AUD__type" />
				<xsd:element name="SEQUENCE_REFERENCE_AUD" type="dflt:SEQUENCE_REFERENCE_AUD__type" />
				<xsd:element name="DEFINEDTERMBASE_REPRESENTATION_AUD" type="dflt:DEFINEDTERMBASE_REPRESENTATION_AUD__type" />
				<xsd:element name="FEATURENODE_DEFINEDTERMBASE_INAPPLICABLEIF" type="dflt:FEATURENODE_DEFINEDTERMBASE_INAPPLICABLEIF__type" />
				<xsd:element name="CLASSIFICATION_CREDIT" type="dflt:CLASSIFICATION_CREDIT__type" />
				<xsd:element name="DESCRIPTIONBASE_SPECIMENOROBSERVATIONBASE_AUD" type="dflt:DESCRIPTIONBASE_SPECIMENOROBSERVATIONBASE_AUD__type" />
				<xsd:element name="AGENTBASE_ADDRESS" type="dflt:AGENTBASE_ADDRESS__type" />
				<xsd:element name="FEATURETREE_ANNOTATION" type="dflt:FEATURETREE_ANNOTATION__type" />
				<xsd:element name="GATHERINGEVENT_MARKER_AUD" type="dflt:GATHERINGEVENT_MARKER_AUD__type" />
				<xsd:element name="FEATURETREE_MARKER_AUD" type="dflt:FEATURETREE_MARKER_AUD__type" />
				<xsd:element name="POLYTOMOUSKEY_TAXON" type="dflt:POLYTOMOUSKEY_TAXON__type" />
				<xsd:element name="STATEDATA_LANGUAGESTRING_AUD" type="dflt:STATEDATA_LANGUAGESTRING_AUD__type" />
				<xsd:element name="POLYTOMOUSKEYNODE_LANGUAGESTRING" type="dflt:POLYTOMOUSKEYNODE_LANGUAGESTRING__type" />
				<xsd:element name="SPECIMENOROBSERVATIONBASE_DERIVATIONEVENT_AUD" type="dflt:SPECIMENOROBSERVATIONBASE_DERIVATIONEVENT_AUD__type" />
				<xsd:element name="TAXONRELATIONSHIP_MARKER_AUD" type="dflt:TAXONRELATIONSHIP_MARKER_AUD__type" />
				<xsd:element name="REPRESENTATION_MARKER" type="dflt:REPRESENTATION_MARKER__type" />
				<xsd:element name="DEFINEDTERMBASE_WATERBODYORCOUNTRY_AUD" type="dflt:DEFINEDTERMBASE_WATERBODYORCOUNTRY_AUD__type" />
				<xsd:element name="DESCRIPTIONELEMENTBASE_STATISTICALMEASUREMENTVALUE_AUD" type="dflt:DESCRIPTIONELEMENTBASE_STATISTICALMEASUREMENTVALUE_AUD__type" />
				<xsd:element name="TERMVOCABULARY_CREDIT" type="dflt:TERMVOCABULARY_CREDIT__type" />
				<xsd:element name="REFERENCE" type="dflt:REFERENCE__type" />
				<xsd:element name="KEYSTATEMENT_LANGUAGESTRING_AUD" type="dflt:KEYSTATEMENT_LANGUAGESTRING_AUD__type" />
				<xsd:element name="DETERMINATIONEVENT_AUD" type="dflt:DETERMINATIONEVENT_AUD__type" />
				<xsd:element name="LOCUS_AUD" type="dflt:LOCUS_AUD__type" />
				<xsd:element name="CLASSIFICATION" type="dflt:CLASSIFICATION__type" />
				<xsd:element name="TAXONRELATIONSHIP_AUD" type="dflt:TAXONRELATIONSHIP_AUD__type" />
				<xsd:element name="POLYTOMOUSKEY_NAMEDAREA_AUD" type="dflt:POLYTOMOUSKEY_NAMEDAREA_AUD__type" />
				<xsd:element name="DEFINEDTERMBASE_REPRESENTATION" type="dflt:DEFINEDTERMBASE_REPRESENTATION__type" />
				<xsd:element name="DESCRIPTIONBASE_GEOSCOPE" type="dflt:DESCRIPTIONBASE_GEOSCOPE__type" />
				<xsd:element name="INSTITUTIONALMEMBERSHIP" type="dflt:INSTITUTIONALMEMBERSHIP__type" />
				<xsd:element name="TAXONBASE_EXTENSION_AUD" type="dflt:TAXONBASE_EXTENSION_AUD__type" />
				<xsd:element name="STATEDATA_DEFINEDTERMBASE" type="dflt:STATEDATA_DEFINEDTERMBASE__type" />
				<xsd:element name="CREDIT_ANNOTATION_AUD" type="dflt:CREDIT_ANNOTATION_AUD__type" />
				<xsd:element name="SYNONYMRELATIONSHIP" type="dflt:SYNONYMRELATIONSHIP__type" />
				<xsd:element name="SEQUENCE_REFERENCE" type="dflt:SEQUENCE_REFERENCE__type" />
				<xsd:element name="AGENTBASE_ORIGINALSOURCEBASE_AUD" type="dflt:AGENTBASE_ORIGINALSOURCEBASE_AUD__type" />
				<xsd:element name="SPECIMENOROBSERVATIONBASE_ANNOTATION" type="dflt:SPECIMENOROBSERVATIONBASE_ANNOTATION__type" />
				<xsd:element name="DERIVATIONEVENT_ANNOTATION" type="dflt:DERIVATIONEVENT_ANNOTATION__type" />
				<xsd:any namespace="PUBLIC" />
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
