cdmlib-io/src/main/resources/schema/cdm/cdm.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" 
  targetNamespace="http://etaxonomy.eu/cdm/model/1.0"
  xmlns="http://etaxonomy.eu/cdm/model/1.0"
  xmlns:description="http://etaxonomy.eu/cdm/model/description/1.0" 
  xmlns:common="http://etaxonomy.eu/cdm/model/common/1.0"
  xmlns:reference="http://etaxonomy.eu/cdm/model/reference/1.0"
  xmlns:location="http://etaxonomy.eu/cdm/model/location/1.0"
  xmlns:occurrence="http://etaxonomy.eu/cdm/model/occurrence/1.0"
  xmlns:name="http://etaxonomy.eu/cdm/model/name/1.0"
  xmlns:agent="http://etaxonomy.eu/cdm/model/agent/1.0"
  xmlns:media="http://etaxonomy.eu/cdm/model/media/1.0"
  xmlns:taxon="http://etaxonomy.eu/cdm/model/taxon/1.0"
  xmlns:molecular="http://etaxonomy.eu/cdm/model/molecular/1.0"
  xmlns:jxb="http://java.sun.com/xml/ns/jaxb"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:xml="http://www.w3.org/XML/1998/namespace"
  xmlns:xjc="http://java.sun.com/xml/ns/jaxb/xjc"
  jxb:extensionBindingPrefixes="xjc"
  jxb:version="2.1"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
  xsi:schemaLocation="http://www.w3.org/XML/1998/namespace
    http://www.w3.org/2005/08/xml.xsd
    http://www.w3.org/2001/XMLSchema
    http://www.w3.org/2001/XMLSchema.xsd">
    <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="http://www.w3.org/2005/08/xml.xsd"/> 
  <xs:import namespace="http://etaxonomy.eu/cdm/model/common/1.0" schemaLocation="common.xsd"/> 
  <xs:import namespace="http://etaxonomy.eu/cdm/model/description/1.0" schemaLocation="description.xsd"/>
  <xs:import namespace="http://etaxonomy.eu/cdm/model/reference/1.0" schemaLocation="reference.xsd"/>
  <xs:import namespace="http://etaxonomy.eu/cdm/model/location/1.0" schemaLocation="location.xsd"/>
  <xs:import namespace="http://etaxonomy.eu/cdm/model/occurrence/1.0" schemaLocation="occurrence.xsd"/>
  <xs:import namespace="http://etaxonomy.eu/cdm/model/name/1.0" schemaLocation="name.xsd"/>
  <xs:import namespace="http://etaxonomy.eu/cdm/model/agent/1.0" schemaLocation="agent.xsd"/>
  <xs:import namespace="http://etaxonomy.eu/cdm/model/media/1.0" schemaLocation="media.xsd"/>
  <xs:import namespace="http://etaxonomy.eu/cdm/model/taxon/1.0" schemaLocation="taxon.xsd"/>
  <xs:import namespace="http://etaxonomy.eu/cdm/model/molecular/1.0" schemaLocation="molecular.xsd"/>
  <xs:annotation>
        <xs:appinfo>
            <jxb:schemaBindings>
                <jxb:package name="eu.etaxonomy.cdm.io.jaxb"/>
            </jxb:schemaBindings>
        </xs:appinfo>
  </xs:annotation>
  
  <xs:element name="DataSet" type="DataSet"/>
    
  <xs:complexType name="DataSet">
      <xs:sequence>
        <xs:element name="Terms" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="description:AbsenceTerm"/>
                <xs:element ref="common:AnnotationType"/>
                <xs:element ref="reference:BibtexEntryType"/>
                <xs:element ref="location:Continent"/>
                <xs:element ref="occurrence:DerivationEventType"/>
                <xs:element ref="occurrence:DeterminationModifier"/>
                <xs:element ref="common:ExtensionType"/>
                <xs:element ref="description:Feature"/>
                <xs:element ref="name:HybridRelationshipType"/>
                <xs:element ref="agent:InstitutionType"/>
                <xs:element ref="common:Keyword"/>
                <xs:element ref="common:Language"/>
                <xs:element ref="common:MarkerType"/>
                <xs:element ref="description:MeasurementUnit"/>
                <xs:element ref="description:Modifier"/>
                <xs:element ref="location:NamedArea"/>
                <xs:element ref="location:NamedAreaLevel"/>
                <xs:element ref="location:NamedAreaType"/>
                <xs:element ref="name:NameRelationshipType"/>
                <xs:element ref="name:NomenclaturalCode"/>
                <xs:element ref="name:NomenclaturalStatusType"/>
                <xs:element ref="description:PresenceTerm"/>
                <xs:element ref="occurrence:PreservationMethod"/>
                <xs:element ref="name:Rank"/>
                <xs:element ref="location:ReferenceSystem"/>
                <xs:element ref="media:RightsTerm"/>
                <xs:element ref="description:Scope"/>
                <xs:element ref="description:Sex"/>
                <xs:element ref="description:Stage"/>
                <xs:element ref="description:State"/>
                <xs:element ref="description:StatisticalMeasure"/>
                <xs:element ref="taxon:SynonymRelationshipType"/>
                <xs:element ref="taxon:TaxonRelationshipType"/>
                <xs:element ref="description:TextFormat"/>
                <xs:element ref="name:SpecimenTypeDesignationStatus"/>
                <xs:element ref="location:WaterbodyOrCountry"/>
              </xs:choice>
            </xs:sequence>
            <xs:attribute ref="xml:base"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="TermVocabularies" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="common:TermVocabulary"/>
                <xs:element ref="common:OrderedTermVocabulary"/>
              </xs:choice>
            </xs:sequence>
            <xs:attribute ref="xml:base"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="Agents" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="agent:Team"/>
                <xs:element ref="agent:Institution"/>
                <xs:element ref="agent:Person"/>
              </xs:choice>
            </xs:sequence>
            <xs:attribute ref="xml:base"/>  
          </xs:complexType>
        </xs:element>
        <xs:element name="Collections" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="occurrence:Collection" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute ref="xml:base"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="Occurrences" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="occurrence:DnaSample"/>
                <xs:element ref="occurrence:FieldObservation"/>
                <xs:element ref="occurrence:Fossil"/>
                <xs:element ref="occurrence:LivingBeing"/>
                <xs:element ref="occurrence:Observation"/>
                <xs:element ref="occurrence:Specimen"/>
              </xs:choice>
            </xs:sequence>
            <xs:attribute ref="xml:base"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="EventBases" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="occurrence:GatheringEvent"/>
                <xs:element ref="occurrence:DerivationEvent"/>
              </xs:choice>
            </xs:sequence>
            <xs:attribute ref="xml:base"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="References" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="reference:Article"/>
                <xs:element ref="reference:Book"/>
                <xs:element ref="reference:BookSection"/>
                <xs:element ref="reference:CdDvd"/>
                <xs:element ref="reference:Database"/>
                <xs:element ref="reference:Generic"/>
                <xs:element ref="reference:InProceedings"/>
                <xs:element ref="reference:Journal"/>
                <xs:element ref="reference:Map"/>
                <xs:element ref="reference:Patent"/>
                <xs:element ref="reference:PersonalCommunication"/>
                <xs:element ref="reference:PrintSeries"/>
                <xs:element ref="reference:Proceedings"/>
                <xs:element ref="reference:Report"/>
                <xs:element ref="reference:Thesis"/>
                <xs:element ref="reference:WebPage"/>
              </xs:choice>
            </xs:sequence>
            <xs:attribute ref="xml:base"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="TypeDesignations" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="name:NameTypeDesignation"/>
                <xs:element ref="name:SpecimenTypeDesignation"/>
              </xs:choice>
            </xs:sequence>
            <xs:attribute ref="xml:base"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="FeatureTrees" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="description:FeatureTree" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute ref="xml:base"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="TaxonomicNames" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="name:BacterialName"/>
                <xs:element ref="name:BotanicalName"/>
                <xs:element ref="name:CultivarPlantName"/>
                <xs:element ref="name:ViralName"/>
                <xs:element ref="name:ZoologicalName"/>
              </xs:choice>
            </xs:sequence>
            <xs:attribute ref="xml:base"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="HomotypicalGroups" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="name:HomotypicalGroup" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute ref="xml:base"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="TaxonBases" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="taxon:Taxon" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="taxon:Synonym" minOccurs="0" maxOccurs="unbounded"/>
              </xs:choice>
            </xs:sequence>
            <xs:attribute ref="xml:base"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="Media" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="media:Media" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="description:IdentificationKey" minOccurs="0" maxOccurs="unbounded"/>
              </xs:choice>
            </xs:sequence>
            <xs:attribute ref="xml:base"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="Users" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="common:User" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute ref="xml:base"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="Groups" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="common:Group" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute ref="xml:base"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="GrantedAuthorities" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="common:GrantedAuthority" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute ref="xml:base"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
</xs:schema>

