cdmlib-io/src/main/resources/schema/cdm/common.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema elementFormDefault="qualified" version="1.0"
 targetNamespace="http://etaxonomy.eu/cdm/model/common/1.0"
 xmlns:agent="http://etaxonomy.eu/cdm/model/agent/1.0" 
 xmlns:media="http://etaxonomy.eu/cdm/model/media/1.0" 
 xmlns:reference="http://etaxonomy.eu/cdm/model/reference/1.0" 
 xmlns:location="http://etaxonomy.eu/cdm/model/location/1.0" 
 xmlns:common="http://etaxonomy.eu/cdm/model/common/1.0" 
 xmlns:xs="http://www.w3.org/2001/XMLSchema" 
 xmlns:description="http://etaxonomy.eu/cdm/model/description/1.0" 
 xmlns:name="http://etaxonomy.eu/cdm/model/name/1.0">

  <xs:import namespace="http://etaxonomy.eu/cdm/model/media/1.0" schemaLocation="media.xsd"/>

  <xs:import namespace="http://etaxonomy.eu/cdm/model/agent/1.0" schemaLocation="agent.xsd"/>

  <xs:import namespace="http://etaxonomy.eu/cdm/model/location/1.0" schemaLocation="location.xsd"/>

  <xs:import namespace="http://etaxonomy.eu/cdm/model/reference/1.0" schemaLocation="reference.xsd"/>

  <xs:import namespace="http://etaxonomy.eu/cdm/model/description/1.0" schemaLocation="description.xsd"/>

  <xs:import namespace="http://etaxonomy.eu/cdm/model/name/1.0" schemaLocation="name.xsd"/>

  <xs:element name="AnnotationType" type="common:AnnotationType"/>

  <xs:element name="DefinedTermBase" type="common:DefinedTermBase"/>

  <xs:element name="EventBase" type="common:EventBase"/>

  <xs:element name="ExtensionType" type="common:ExtensionType"/>

  <xs:element name="Figure" type="common:Figure"/>

  <xs:element name="GeneralizationOf" nillable="true" type="xs:anyType"/>

  <xs:element name="GrantedAuthority" type="common:GrantedAuthority"/>

  <xs:element name="Group" nillable="true" type="xs:anyType"/>

  <xs:element name="Include" nillable="true" type="xs:anyType"/>

  <xs:element name="KindOf" nillable="true" type="xs:anyType"/>

  <xs:element name="Language" type="common:Language"/>

  <xs:element name="LanguageString" type="common:LanguageString"/>

  <xs:element name="MarkerType" type="common:MarkerType"/>

  <xs:element name="OrderedTermVocabulary" type="common:OrderedTermVocabulary"/>

  <xs:element name="OriginalSource" type="common:OriginalSource"/>

  <xs:element name="PartOf" nillable="true" type="xs:anyType"/>

  <xs:element name="ReferencedEntityBase" type="common:ReferencedEntityBase"/>

  <xs:element name="RelationshipBase" type="common:RelationshipBase"/>

  <xs:element name="Representation" type="common:Representation"/>

  <xs:element name="TermVocabulary" type="common:TermVocabulary"/>

  <xs:element name="TimePeriod" type="common:TimePeriod"/>

  <xs:element name="User" type="common:User"/>

  <xs:complexType name="OrderedTermBase" abstract="true">
    <xs:complexContent>
      <xs:extension base="common:DefinedTermBase">
        <xs:sequence>
          <xs:element name="OrderIndex" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="DefinedTermBase" abstract="true">
    <xs:complexContent>
      <xs:extension base="common:TermBase">
        <xs:sequence>
          <xs:element name="Media" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="Medium" type="xs:IDREF" minOccurs="0" maxOccurs="unbounded"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
		  <xs:element name="TermVocabulary" type="xs:IDREF" minOccurs="0"/> 
       </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TermBase" abstract="true">
    <xs:complexContent>
      <xs:extension base="common:IdentifiableEntity">
        <xs:sequence>
          <xs:element name="URI" type="xs:string" minOccurs="0"/>
          <xs:element name="Representations" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="common:Representation" minOccurs="0" maxOccurs="unbounded"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="IdentifiableEntity" abstract="true">
    <xs:complexContent>
      <xs:extension base="common:AnnotatableEntity">
        <xs:sequence>
          <xs:element name="LSID" type="xs:string" minOccurs="0"/>
          <xs:element name="TitleCache" type="common:FormattedText"/>
          <xs:element name="ProtectedTitleCache" type="xs:boolean"/>
          <xs:element name="Rights" minOccurs="0" nillable="true">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="Rights" type="media:Rights" minOccurs="0" maxOccurs="unbounded"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="Extensions" minOccurs="0" nillable="true">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="Extension" type="common:Extension" minOccurs="0" maxOccurs="unbounded"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="Credits" minOccurs="0" nillable="true">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="Credit" type="common:Credit" minOccurs="0" maxOccurs="unbounded"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="Sources" minOccurs="0" nillable="true">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="IdentifiableSource" type="common:IdentifiableSource" minOccurs="0" maxOccurs="unbounded"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="AnnotatableEntity" abstract="true">
    <xs:complexContent>
      <xs:extension base="common:VersionableEntity">
        <xs:sequence>
          <xs:element name="Markers" minOccurs="0" nillable="true">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="Marker" type="common:Marker" minOccurs="0" maxOccurs="unbounded"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="Annotations" minOccurs="0" nillable="true">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="Annotation" type="common:Annotation" minOccurs="0" maxOccurs="unbounded"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="VersionableEntity" abstract="true">
    <xs:complexContent>
      <xs:extension base="common:CdmBase">
        <xs:sequence>
          <xs:element name="Updated" type="xs:string" minOccurs="0"/>
          <xs:element name="UpdatedBy" type="xs:IDREF" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="CdmBase" abstract="true">
    <xs:sequence>
      <xs:element name="Created" type="xs:string" minOccurs="0"/>
      <xs:element name="CreatedBy" type="xs:IDREF" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="uuid" type="xs:ID" use="required"/>
  </xs:complexType>

  <xs:complexType name="MultilanguageText">
    <xs:sequence>
      <xs:element ref="common:LanguageString" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="LanguageString">
    <xs:complexContent>
      <xs:extension base="common:LanguageStringBase">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="LanguageStringBase" abstract="true">
    <xs:complexContent>
      <xs:extension base="common:AnnotatableEntity">
        <xs:sequence>
          <xs:element name="Text" type="common:FormattedText" minOccurs="0"/>
          <xs:element name="Language" type="xs:IDREF" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="FormattedText" mixed="true">
    <xs:sequence>
      <xs:any processContents="skip" namespace="##other" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Language">
    <xs:complexContent>
      <xs:extension base="common:DefinedTermBase">
        <xs:sequence/>
        <xs:attribute name="iso639_1" type="xs:string"/>
        <xs:attribute name="iso639_2" type="xs:string"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Marker">
    <xs:complexContent>
      <xs:extension base="common:VersionableEntity">
        <xs:sequence>
          <xs:element name="Flag" type="xs:boolean"/>
          <xs:element name="MarkerType" type="xs:IDREF" minOccurs="0"/>
          <xs:element name="MarkedObject" type="xs:IDREF" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="MarkerType">
    <xs:complexContent>
      <xs:extension base="common:DefinedTermBase">
        <xs:sequence/>
        <xs:attribute name="isTechnical" type="xs:boolean" use="required"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="User">
    <xs:complexContent>
      <xs:extension base="common:CdmBase">
        <xs:sequence>
          <xs:element name="Username" type="xs:string" minOccurs="0"/>
          <xs:element name="Password" type="xs:string" minOccurs="0"/>
          <xs:element name="EmailAddress" type="xs:string" minOccurs="0"/>
          <xs:element name="GrantedAuthorities" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="GrantedAuthority" type="xs:IDREF" minOccurs="0" maxOccurs="unbounded"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="Groups" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="Group" type="xs:IDREF" minOccurs="0" maxOccurs="unbounded"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="Enabled" type="xs:boolean"/>
          <xs:element name="AccountNonExpired" type="xs:boolean"/>
          <xs:element name="CredentialsNonExpired" type="xs:boolean"/>
          <xs:element name="AccountNonLocked" type="xs:boolean"/>
          <xs:element name="Person" type="xs:IDREF" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="GrantedAuthority">
    <xs:complexContent>
      <xs:extension base="common:CdmBase">
        <xs:sequence>
          <xs:element name="Authority" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Group">
    <xs:complexContent>
      <xs:extension base="common:CdmBase">
        <xs:sequence>
          <xs:element name="Name" type="xs:string" minOccurs="0"/>
          <xs:element name="Members" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="Member" type="xs:IDREF" minOccurs="0" maxOccurs="unbounded"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="GrantedAuthorities" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="GrantedAuthority" type="xs:IDREF" minOccurs="0" maxOccurs="unbounded"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TimePeriod">
    <xs:sequence>
      <xs:element name="Start" type="xs:string" minOccurs="0"/>
      <xs:element name="End" type="xs:string" minOccurs="0"/>
      <xs:element name="FreeText" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Extension">
    <xs:complexContent>
      <xs:extension base="common:VersionableEntity">
        <xs:sequence>
          <xs:element name="Value" type="xs:string" minOccurs="0"/>
          <xs:element name="ExtensionType" type="xs:IDREF" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ExtensionType">
    <xs:complexContent>
      <xs:extension base="common:DefinedTermBase">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Credit">
    <xs:complexContent>
      <xs:extension base="common:LanguageStringBase">
        <xs:sequence>
          <xs:element name="Agent" type="xs:IDREF" minOccurs="0"/>
          <xs:element name="AbbreviatedText" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="IdentifiableSource">
    <xs:complexContent>
      <xs:extension base="common:OriginalSource">
        <xs:sequence>
          <xs:element name="SourcedObject" type="xs:IDREF" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="OriginalSource" abstract="true">
    <xs:complexContent>
      <xs:extension base="common:ReferencedEntityBase">
        <xs:sequence>
          <xs:element name="IdInSource" type="xs:string" minOccurs="0"/>
          <xs:element name="IdNamespace" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ReferencedEntityBase" abstract="true">
    <xs:complexContent>
      <xs:extension base="common:AnnotatableEntity">
        <xs:sequence>
          <xs:element name="CitationMicroReference" type="xs:string" minOccurs="0"/>
          <xs:element name="OriginalNameString" type="xs:string" minOccurs="0"/>
          <xs:element name="Citation" type="xs:IDREF" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Annotation">
    <xs:complexContent>
      <xs:extension base="common:LanguageStringBase">
        <xs:sequence>
          <xs:element name="Commentator" type="xs:IDREF" minOccurs="0"/>
          <xs:element name="AnnotatedObject" type="xs:IDREF" minOccurs="0"/>
          <xs:element name="AnnotationType" type="xs:IDREF" minOccurs="0"/>
          <xs:element name="LinkbackUri" type="xs:anyURI" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="AnnotationType">
    <xs:complexContent>
      <xs:extension base="common:DefinedTermBase">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TermVocabulary">
    <xs:complexContent>
      <xs:extension base="common:TermBase">
        <xs:sequence>
          <xs:element name="TermSourceURI" type="xs:string" minOccurs="0"/>
          <xs:element name="Terms" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="Term" type="xs:IDREF" minOccurs="0" maxOccurs="unbounded"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Representation">
    <xs:complexContent>
      <xs:extension base="common:LanguageStringBase">
        <xs:sequence>
          <xs:element name="Label" type="xs:string" minOccurs="0"/>
          <xs:element name="AbbreviatedLabel" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="RelationshipBase" abstract="true">
    <xs:complexContent>
      <xs:extension base="common:ReferencedEntityBase">
        <xs:sequence/>
        <xs:attribute name="isDoubtful" type="xs:boolean" use="required"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  

  <xs:element name="Generalizations">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="GeneralizationOf" type="xs:IDREF" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  

  <xs:element name="Includes">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Include" type="xs:IDREF" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="RelationshipTermBase" abstract="true">
    <xs:complexContent>
      <xs:extension base="common:OrderedTermBase">
        <xs:sequence>
          <xs:element name="Symmetric" type="xs:boolean"/>
          <xs:element name="Transitive" type="xs:boolean"/>
          <xs:element name="InverseRepresentations" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="common:Representation" minOccurs="0" maxOccurs="unbounded"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="EventBase" abstract="true">
    <xs:complexContent>
      <xs:extension base="common:AnnotatableEntity">
        <xs:sequence>
          <xs:element ref="common:TimePeriod" minOccurs="0"/>
          <xs:element name="Actor" type="xs:IDREF" minOccurs="0"/>
          <xs:element name="Description" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="DescriptionElementSource">
    <xs:complexContent>
      <xs:extension base="common:OriginalSource">
        <xs:sequence>
          <xs:element name="SourcedObject" type="xs:IDREF" minOccurs="0"/>
          <xs:element name="nameUsedInSource" type="xs:IDREF" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="OrderedTermVocabulary">
    <xs:complexContent>
      <xs:extension base="common:TermVocabulary">
        <xs:sequence>
          <xs:element name="toBeChangedByObject" type="common:OrderedTermBase" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Figure">
    <xs:complexContent>
      <xs:extension base="media:ReferencedMedia">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>

