cdmlib-print/src/test/resources/taxpub_20100107/taxpubcustom-elements-NS0.ent

<!-- ============================================================= -->
<!--                    PUBLIC DOCUMENT TYPE DEFINITION            -->
<!--                        TYPICAL INVOCATION                     -->
<!--
"-//TaxonX//DTD Taxonomic Treatment Publishing Elements v0 20100105//EN"
Delivered as file "taxpubcustom-elements.ent"                       -->
<!-- ============================================================= -->

<!ELEMENT	tp:taxon-treatment 		(tp:treatment-meta?, tp:nomenclature, (tp:materials-examined | 
                                  tp:description | tp:treatment-sec | tp:taxon-treatment)*, ref-list?  ) >
<!ATTLIST 	tp:taxon-treatment
					auth-code		CDATA			#IMPLIED 
					%taxpub-namespace-att; >

<!ELEMENT	tp:treatment-meta  		%sec-meta-model;	>

<!ELEMENT	tp:nomenclature  			%nomenclature-model;	>

<!ELEMENT	tp:materials-examined  	%taxon-sec-model;	>
<!ATTLIST   tp:materials-examined
					%sec-atts; >

<!ELEMENT	tp:description  			%taxon-sec-model;	>
<!ATTLIST   tp:description
					%sec-atts; >

<!ELEMENT	tp:treatment-sec  		%taxon-sec-model;	>
<!ATTLIST   tp:treatment-sec
					%sec-atts; >

<!ELEMENT	tp:taxon-author-group			(tp:taxon-author*, string-name?, year? )  >
<!ATTLIST	tp:taxon-author-group
					role			CDATA		#IMPLIED>
						
<!ELEMENT	tp:taxon-author			(( name, object-id*) | (string-name, object-id* ) )  >

<!ELEMENT	tp:taxon-status			(#PCDATA) >
<!ATTLIST	tp:taxon-status
				%might-link-atts;		>

<!ELEMENT	tp:nomenclature-citation-list			(tp:nomenclature-citation+) >

<!ELEMENT	tp:nomenclature-citation	(tp:taxon-name, (tp:type-genus | tp:type-species)?, mixed-citation?, tp:material-citation*, tp:taxon-status?, comment?) >
<!ATTLIST 	tp:nomenclature-citation
						content-type		CDATA		#IMPLIED >

<!ELEMENT	tp:type-genus				(tp:taxon-name, tp:material-location?) >
<!ELEMENT	tp:type-species			(tp:taxon-name, tp:material-location?) >

<!ELEMENT	tp:type-material				(tp:taxon-name) >
<!ATTLIST	tp:type-material
						role	CDATA		#IMPLIED 
						designation    (y|n)		'n' >

<!ELEMENT	tp:taxon-type-location	(#PCDATA  | object-id)* >


<!-- RED ELEMENTS -->

<!ELEMENT	tp:taxon-name				(#PCDATA | tp:taxon-name-part | object-id)* >
<!ATTLIST 	tp:taxon-name
					auth-code		CDATA			#IMPLIED >

<!ELEMENT	tp:taxon-name-part		(#PCDATA  | object-id)* >
<!ATTLIST	tp:taxon-name-part	
				taxon-name-part-type		CDATA		#REQUIRED >

<!ELEMENT	tp:descriptive-statement	(#PCDATA | tp:descriptive-statement-part | object-id)* >
<!ATTLIST	tp:descriptive-statement
					%might-link-atts; >

<!ELEMENT 	tp:descriptive-statement-part	(#PCDATA | object-id)* >
<!ATTLIST	tp:descriptive-statement-part
					%might-link-atts; >
																								
<!ELEMENT	tp:material-citation		(#PCDATA | tp:collecting-event  | object-id | tp:type-material | tp:material-location)*>

<!ELEMENT 	tp:material-location (#PCDATA | object-id)* >

<!ELEMENT 	tp:collecting-event		(#PCDATA | tp:collecting-location | date | tp:taxon-name | object-id | named-content)* >

<!ELEMENT	tp:collecting-location		(object-id*, (tp:geog-name | tp:geog-name-string)?, tp:geog-coordinates?, comment? ) >

<!ELEMENT	tp:geog-name	(object-id*, tp:continent?, tp:country?, tp:province?, tp:region?, tp:state?, tp:territory?, tp:county?, tp:city?, tp:city-section?, tp:locality?, tp:area?, tp:water-body?, tp:island-group?, tp:island?, tp:extraterrestrial-area?) >

<!ELEMENT 	tp:continent	(#PCDATA %country-elements;)*  >

<!ELEMENT 	tp:province	(#PCDATA %country-elements;)*  >

<!ELEMENT 	tp:region		(#PCDATA %country-elements;)*  >
	
<!ELEMENT 	tp:state		(#PCDATA %country-elements;)*  >

<!ELEMENT 	tp:territory	(#PCDATA %country-elements;)*  >

<!ELEMENT 	tp:county		(#PCDATA %country-elements;)*  >

<!ELEMENT 	tp:city			(#PCDATA %country-elements;)*  >

<!ELEMENT 	tp:city-section	(#PCDATA %country-elements;)*  >

<!ELEMENT 	tp:locality	(#PCDATA %country-elements;)*  >

<!ELEMENT 	tp:area			(#PCDATA %country-elements;)*  >

<!ELEMENT 	tp:water-body	(#PCDATA %country-elements;)*  >

<!ELEMENT 	tp:island-group	(#PCDATA %country-elements;)*  >

<!ELEMENT 	tp:island		(#PCDATA %country-elements;)*  >

<!ELEMENT 	tp:extraterrestrial-area	(#PCDATA %country-elements;)*  >

<!ELEMENT 	tp:geog-name-string (#PCDATA | object-id)* >

<!ELEMENT 	tp:geog-coordinates (tp:latitude, tp:longitude, tp:elevation?, comment?) >

<!ELEMENT 	tp:latitude	(#PCDATA) >

<!ELEMENT 	tp:longitude	(#PCDATA) >

<!ELEMENT 	tp:elevation	(#PCDATA) >












