cdmlib-persistence/src/test/resources/eu/etaxonomy/cdm/persistence/dao/hibernate/PUBLIC.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" xmlns="PUBLIC" targetNamespace="PUBLIC">
	<xsd:element name="AGENT_ORIGINALSOURCE" type="AGENT_ORIGINALSOURCE__type" />
	<xsd:element name="TAXONRELATIONSHIP_MARKER" type="TAXONRELATIONSHIP_MARKER__type" />
	<xsd:element name="TAXONNAMEBASE" type="TAXONNAMEBASE__type" />
	<xsd:element name="REFERENCEBASE_MARKER" type="REFERENCEBASE_MARKER__type" />
	<xsd:element name="DETERMINATIONEVENT_REFERENCEBASE" type="DETERMINATIONEVENT_REFERENCEBASE__type" />
	<xsd:element name="GATHERINGEVENT_ANNOTATION" type="GATHERINGEVENT_ANNOTATION__type" />
	<xsd:element name="CDM_VIEW" type="CDM_VIEW__type" />
	<xsd:element name="SEQUENCE_GENBANKACCESSION" type="SEQUENCE_GENBANKACCESSION__type" />
	<xsd:element name="DETERMINATIONEVENT_ANNOTATION" type="DETERMINATIONEVENT_ANNOTATION__type" />
	<xsd:element name="STATISTICALMEASUREMENTVALUE" type="STATISTICALMEASUREMENTVALUE__type" />
	<xsd:element name="NAMERELATIONSHIP_MARKER" type="NAMERELATIONSHIP_MARKER__type" />
	<xsd:element name="DESCRIPTIONELEMENTBASE_STATISTICALMEASUREMENTVALUE" type="DESCRIPTIONELEMENTBASE_STATISTICALMEASUREMENTVALUE__type" />
	<xsd:element name="TAXONNAMEBASE_ORIGINALSOURCE" type="TAXONNAMEBASE_ORIGINALSOURCE__type" />
	<xsd:element name="TAXONBASE_EXTENSION" type="TAXONBASE_EXTENSION__type" />
	<xsd:element name="SYNONYMRELATIONSHIP_MARKER" type="SYNONYMRELATIONSHIP_MARKER__type" />
	<xsd:element name="COLLECTION_EXTENSION" type="COLLECTION_EXTENSION__type" />
	<xsd:element name="TAXONNAMEBASE_TYPEDESIGNATIONBASE" type="TAXONNAMEBASE_TYPEDESIGNATIONBASE__type" />
	<xsd:element name="AGENT_MEDIA" type="AGENT_MEDIA__type" />
	<xsd:element name="MEDIA" type="MEDIA__type" />
	<xsd:element name="TYPEDESIGNATIONBASE_MARKER" type="TYPEDESIGNATIONBASE_MARKER__type" />
	<xsd:element name="HYBRIDRELATIONSHIP" type="HYBRIDRELATIONSHIP__type" />
	<xsd:element name="DESCRIPTIONBASE_EXTENSION" type="DESCRIPTIONBASE_EXTENSION__type" />
	<xsd:element name="SPECIMENOROBSERVATIONBASE_ORIGINALSOURCE" type="SPECIMENOROBSERVATIONBASE_ORIGINALSOURCE__type" />
	<xsd:element name="CDM_VIEW_CDM_VIEW" type="CDM_VIEW_CDM_VIEW__type" />
	<xsd:element name="DESCRIPTIONELEMENTBASE_MARKER" type="DESCRIPTIONELEMENTBASE_MARKER__type" />
	<xsd:element name="AGENT_ANNOTATION" type="AGENT_ANNOTATION__type" />
	<xsd:element name="AGENT_RIGHTS" type="AGENT_RIGHTS__type" />
	<xsd:element name="DESCRIPTIONBASE_SCOPE" type="DESCRIPTIONBASE_SCOPE__type" />
	<xsd:element name="COLLECTION_MEDIA" type="COLLECTION_MEDIA__type" />
	<xsd:element name="TAXONNAMEBASE_HYBRIDRELATIONSHIP" type="TAXONNAMEBASE_HYBRIDRELATIONSHIP__type" />
	<xsd:element name="TAXONBASE_MARKER" type="TAXONBASE_MARKER__type" />
	<xsd:element name="ORIGINALSOURCE" type="ORIGINALSOURCE__type" />
	<xsd:element name="FEATURENODE" type="FEATURENODE__type" />
	<xsd:element name="TERMVOCABULARY_REPRESENTATION" type="TERMVOCABULARY_REPRESENTATION__type" />
	<xsd:element name="DETERMINATIONEVENT" type="DETERMINATIONEVENT__type" />
	<xsd:element name="TAXONNAMEBASE_NOMENCLATURALSTATUS" type="TAXONNAMEBASE_NOMENCLATURALSTATUS__type" />
	<xsd:element name="SEQUENCE_MEDIA" type="SEQUENCE_MEDIA__type" />
	<xsd:element name="SEQUENCE_REFERENCEBASE" type="SEQUENCE_REFERENCEBASE__type" />
	<xsd:element name="DEFINEDTERMBASE_SUPPORTEDCATEGORICALENUMERATION" type="DEFINEDTERMBASE_SUPPORTEDCATEGORICALENUMERATION__type" />
	<xsd:element name="DESCRIPTIONELEMENTBASE_MODIFIER" type="DESCRIPTIONELEMENTBASE_MODIFIER__type" />
	<xsd:element name="DESCRIPTIONELEMENTBASE_MEDIA" type="DESCRIPTIONELEMENTBASE_MEDIA__type" />
	<xsd:element name="SPECIMENOROBSERVATIONBASE_MEDIA" type="SPECIMENOROBSERVATIONBASE_MEDIA__type" />
	<xsd:element name="GENBANKACCESSION" type="GENBANKACCESSION__type" />
	<xsd:element name="AGENT_MARKER" type="AGENT_MARKER__type" />
	<xsd:element name="GATHERINGEVENT_MARKER" type="GATHERINGEVENT_MARKER__type" />
	<xsd:element name="DEFINEDTERMBASE_WATERBODYORCOUNTRY" type="DEFINEDTERMBASE_WATERBODYORCOUNTRY__type" />
	<xsd:element name="MARKER" type="MARKER__type" />
	<xsd:element name="DESCRIPTIONBASE_MARKER" type="DESCRIPTIONBASE_MARKER__type" />
	<xsd:element name="SPECIMENOROBSERVATIONBASE_EXTENSION" type="SPECIMENOROBSERVATIONBASE_EXTENSION__type" />
	<xsd:element name="LOCUS" type="LOCUS__type" />
	<xsd:element name="TAXONRELATIONSHIP_ANNOTATION" type="TAXONRELATIONSHIP_ANNOTATION__type" />
	<xsd:element name="AGENT_EXTENSION" type="AGENT_EXTENSION__type" />
	<xsd:element name="TAXONBASE_ORIGINALSOURCE" type="TAXONBASE_ORIGINALSOURCE__type" />
	<xsd:element name="SEQUENCE" type="SEQUENCE__type" />
	<xsd:element name="DESCRIPTIONBASE_REFERENCEBASE" type="DESCRIPTIONBASE_REFERENCEBASE__type" />
	<xsd:element name="SPECIMENOROBSERVATIONBASE_MARKER" type="SPECIMENOROBSERVATIONBASE_MARKER__type" />
	<xsd:element name="COLLECTION_ANNOTATION" type="COLLECTION_ANNOTATION__type" />
	<xsd:element name="MEDIAREPRESENTATION" type="MEDIAREPRESENTATION__type" />
	<xsd:element name="MEDIA_RIGHTS" type="MEDIA_RIGHTS__type" />
	<xsd:element name="MEDIA_TAXONBASE" type="MEDIA_TAXONBASE__type" />
	<xsd:element name="REFERENCEBASE" type="REFERENCEBASE__type" />
	<xsd:element name="STATISTICALMEASUREMENTVALUE_DEFINEDTERMBASE" type="STATISTICALMEASUREMENTVALUE_DEFINEDTERMBASE__type" />
	<xsd:element name="AGENT_AGENT" type="AGENT_AGENT__type" />
	<xsd:element name="NOMENCLATURALSTATUS_ANNOTATION" type="NOMENCLATURALSTATUS_ANNOTATION__type" />
	<xsd:element name="DEFINEDTERMBASE_MEDIA" type="DEFINEDTERMBASE_MEDIA__type" />
	<xsd:element name="AGENT" type="AGENT__type" />
	<xsd:element name="DESCRIPTIONELEMENTBASE_STATEDATA" type="DESCRIPTIONELEMENTBASE_STATEDATA__type" />
	<xsd:element name="FEATURETREE_REPRESENTATION" type="FEATURETREE_REPRESENTATION__type" />
	<xsd:element name="REFERENCEBASE_RIGHTS" type="REFERENCEBASE_RIGHTS__type" />
	<xsd:element name="DESCRIPTIONELEMENTBASE_LANGUAGESTRING" type="DESCRIPTIONELEMENTBASE_LANGUAGESTRING__type" />
	<xsd:element name="DESCRIPTIONBASE_ORIGINALSOURCE" type="DESCRIPTIONBASE_ORIGINALSOURCE__type" />
	<xsd:element name="MEDIA_ANNOTATION" type="MEDIA_ANNOTATION__type" />
	<xsd:element name="STATEDATA" type="STATEDATA__type" />
	<xsd:element name="DEFINEDTERMBASE_CONTINENT" type="DEFINEDTERMBASE_CONTINENT__type" />
	<xsd:element name="DEFINEDTERMBASE_STATISTICALMEASURE" type="DEFINEDTERMBASE_STATISTICALMEASURE__type" />
	<xsd:element name="GATHERINGEVENT" type="GATHERINGEVENT__type" />
	<xsd:element name="SPECIMENOROBSERVATIONBASE_DERIVATIONEVENT" type="SPECIMENOROBSERVATIONBASE_DERIVATIONEVENT__type" />
	<xsd:element name="TAXONNAMEBASE_EXTENSION" type="TAXONNAMEBASE_EXTENSION__type" />
	<xsd:element name="TYPEDESIGNATIONBASE_TAXONNAMEBASE" type="TYPEDESIGNATIONBASE_TAXONNAMEBASE__type" />
	<xsd:element name="COLLECTION_ORIGINALSOURCE" type="COLLECTION_ORIGINALSOURCE__type" />
	<xsd:element name="TAXONNAMEBASE_RIGHTS" type="TAXONNAMEBASE_RIGHTS__type" />
	<xsd:element name="SEQUENCE_ORIGINALSOURCE" type="SEQUENCE_ORIGINALSOURCE__type" />
	<xsd:element name="DETERMINATIONEVENT_MARKER" type="DETERMINATIONEVENT_MARKER__type" />
	<xsd:element name="DESCRIPTIONBASE_ANNOTATION" type="DESCRIPTIONBASE_ANNOTATION__type" />
	<xsd:element name="ORIGINALSOURCE_MARKER" type="ORIGINALSOURCE_MARKER__type" />
	<xsd:element name="DEFINEDTERMBASE_RECOMMENDEDMODIFIERENUMERATION" type="DEFINEDTERMBASE_RECOMMENDEDMODIFIERENUMERATION__type" />
	<xsd:element name="ANNOTATION" type="ANNOTATION__type" />
	<xsd:element name="NOMENCLATURALSTATUS" type="NOMENCLATURALSTATUS__type" />
	<xsd:element name="SPECIMENOROBSERVATIONBASE_RIGHTS" type="SPECIMENOROBSERVATIONBASE_RIGHTS__type" />
	<xsd:element name="DERIVATIONEVENT_MARKER" type="DERIVATIONEVENT_MARKER__type" />
	<xsd:element name="REFERENCEBASE_ORIGINALSOURCE" type="REFERENCEBASE_ORIGINALSOURCE__type" />
	<xsd:element name="SEQUENCE_RIGHTS" type="SEQUENCE_RIGHTS__type" />
	<xsd:element name="COLLECTION_MARKER" type="COLLECTION_MARKER__type" />
	<xsd:element name="FEATURETREE" type="FEATURETREE__type" />
	<xsd:element name="COLLECTION_RIGHTS" type="COLLECTION_RIGHTS__type" />
	<xsd:element name="TAXONBASE_RIGHTS" type="TAXONBASE_RIGHTS__type" />
	<xsd:element name="DESCRIPTIONELEMENTBASE" type="DESCRIPTIONELEMENTBASE__type" />
	<xsd:element name="HOMOTYPICALGROUP" type="HOMOTYPICALGROUP__type" />
	<xsd:element name="DESCRIPTIONBASE_RIGHTS" type="DESCRIPTIONBASE_RIGHTS__type" />
	<xsd:element name="REFERENCEBASE_MEDIA" type="REFERENCEBASE_MEDIA__type" />
	<xsd:element name="COLLECTION" type="COLLECTION__type" />
	<xsd:element name="TAXONBASE_ANNOTATION" type="TAXONBASE_ANNOTATION__type" />
	<xsd:element name="TAXONRELATIONSHIP" type="TAXONRELATIONSHIP__type" />
	<xsd:element name="HOMOTYPICALGROUP_MARKER" type="HOMOTYPICALGROUP_MARKER__type" />
	<xsd:element name="RELATIONSHIPTERMBASE_INVERSEREPRESENTATION" type="RELATIONSHIPTERMBASE_INVERSEREPRESENTATION__type" />
	<xsd:element name="RIGHTS" type="RIGHTS__type" />
	<xsd:element name="SPECIMENOROBSERVATIONBASE" type="SPECIMENOROBSERVATIONBASE__type" />
	<xsd:element name="MEDIA_SEQUENCE" type="MEDIA_SEQUENCE__type" />
	<xsd:element name="PERSON_KEYWORD" type="PERSON_KEYWORD__type" />
	<xsd:element name="TAXONBASE" type="TAXONBASE__type" />
	<xsd:element name="REFERENCEBASE_ANNOTATION" type="REFERENCEBASE_ANNOTATION__type" />
	<xsd:element name="GATHERINGEVENT_DEFINEDTERMBASE" type="GATHERINGEVENT_DEFINEDTERMBASE__type" />
	<xsd:element name="MEDIA_MARKER" type="MEDIA_MARKER__type" />
	<xsd:element name="DB_VERSION" type="DB_VERSION__type" />
	<xsd:element name="REPRESENTATION" type="REPRESENTATION__type" />
	<xsd:element name="DESCRIPTIONBASE" type="DESCRIPTIONBASE__type" />
	<xsd:element name="TAXONNAMEBASE_MARKER" type="TAXONNAMEBASE_MARKER__type" />
	<xsd:element name="DERIVATIONEVENT" type="DERIVATIONEVENT__type" />
	<xsd:element name="NAMERELATIONSHIP" type="NAMERELATIONSHIP__type" />
	<xsd:element name="TAXONNAMEBASE_ANNOTATION" type="TAXONNAMEBASE_ANNOTATION__type" />
	<xsd:element name="ORIGINALSOURCE_ANNOTATION" type="ORIGINALSOURCE_ANNOTATION__type" />
	<xsd:element name="DESCRIPTIONBASE_GEOSCOPE" type="DESCRIPTIONBASE_GEOSCOPE__type" />
	<xsd:element name="DEFINEDTERMBASE_REPRESENTATION" type="DEFINEDTERMBASE_REPRESENTATION__type" />
	<xsd:element name="INSTITUTIONALMEMBERSHIP" type="INSTITUTIONALMEMBERSHIP__type" />
	<xsd:element name="DEFINEDTERMBASE" type="DEFINEDTERMBASE__type" />
	<xsd:element name="TYPEDESIGNATIONBASE_ANNOTATION" type="TYPEDESIGNATIONBASE_ANNOTATION__type" />
	<xsd:element name="DESCRIPTIONELEMENTBASE_ANNOTATION" type="DESCRIPTIONELEMENTBASE_ANNOTATION__type" />
	<xsd:element name="NAMERELATIONSHIP_ANNOTATION" type="NAMERELATIONSHIP_ANNOTATION__type" />
	<xsd:element name="STATEDATA_DEFINEDTERMBASE" type="STATEDATA_DEFINEDTERMBASE__type" />
	<xsd:element name="ADDRESS" type="ADDRESS__type" />
	<xsd:element name="NOMENCLATURALSTATUS_MARKER" type="NOMENCLATURALSTATUS_MARKER__type" />
	<xsd:element name="HYBRIDRELATIONSHIP_ANNOTATION" type="HYBRIDRELATIONSHIP_ANNOTATION__type" />
	<xsd:element name="MEDIAREPRESENTATIONPART" type="MEDIAREPRESENTATIONPART__type" />
	<xsd:element name="SYNONYMRELATIONSHIP" type="SYNONYMRELATIONSHIP__type" />
	<xsd:element name="CONTACT" type="CONTACT__type" />
	<xsd:element name="TYPEDESIGNATIONBASE" type="TYPEDESIGNATIONBASE__type" />
	<xsd:element name="LANGUAGESTRING" type="LANGUAGESTRING__type" />
	<xsd:element name="HOMOTYPICALGROUP_ANNOTATION" type="HOMOTYPICALGROUP_ANNOTATION__type" />
	<xsd:element name="HYBRIDRELATIONSHIP_MARKER" type="HYBRIDRELATIONSHIP_MARKER__type" />
	<xsd:element name="SPECIMENOROBSERVATIONBASE_ANNOTATION" type="SPECIMENOROBSERVATIONBASE_ANNOTATION__type" />
	<xsd:element name="SEQUENCE_MARKER" type="SEQUENCE_MARKER__type" />
	<xsd:element name="SEQUENCE_ANNOTATION" type="SEQUENCE_ANNOTATION__type" />
	<xsd:element name="REFERENCEBASE_EXTENSION" type="REFERENCEBASE_EXTENSION__type" />
	<xsd:element name="SEQUENCE_EXTENSION" type="SEQUENCE_EXTENSION__type" />
	<xsd:element name="SYNONYMRELATIONSHIP_ANNOTATION" type="SYNONYMRELATIONSHIP_ANNOTATION__type" />
	<xsd:element name="TERMVOCABULARY" type="TERMVOCABULARY__type" />
	<xsd:element name="SPECIMENOROBSERVATIONBASE_SEQUENCE" type="SPECIMENOROBSERVATIONBASE_SEQUENCE__type" />
	<xsd:element name="EXTENSION" type="EXTENSION__type" />
	<xsd:element name="DERIVATIONEVENT_ANNOTATION" type="DERIVATIONEVENT_ANNOTATION__type" />
	<xsd:element name="AGENT_DEFINEDTERMBASE" type="AGENT_DEFINEDTERMBASE__type" />
	<xsd:complexType name="AGENT_ORIGINALSOURCE__type">
		<xsd:attribute name="SOURCES_ID" use="optional" />
		<xsd:attribute name="AGENT_ID" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="TAXONRELATIONSHIP_MARKER__type">
		<xsd:attribute name="MARKERS_ID" use="optional" />
		<xsd:attribute name="TAXONRELATIONSHIP_ID" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="TAXONNAMEBASE__type">
		<xsd:attribute name="ANAMORPHIC" use="optional" />
		<xsd:attribute name="TRINOMHYBRID" use="optional" />
		<xsd:attribute name="PROBLEMENDS" use="optional" />
		<xsd:attribute name="UUID" use="optional" />
		<xsd:attribute name="BREED" use="optional" />
		<xsd:attribute name="HASPROBLEM" use="optional" />
		<xsd:attribute name="INFRAGENERICEPITHET" use="optional" />
		<xsd:attribute name="APPENDEDPHRASE" use="optional" />
		<xsd:attribute name="ACRONYM" use="optional" />
		<xsd:attribute name="ID" use="optional" />
		<xsd:attribute name="EXCOMBINATIONAUTHORTEAM_ID" use="optional" />
		<xsd:attribute name="EXBASIONYMAUTHORTEAM_ID" use="optional" />
		<xsd:attribute name="DTYPE" use="optional" />
		<xsd:attribute name="PROTECTEDNAMECACHE" use="optional" />
		<xsd:attribute name="HYBRIDFORMULA" use="optional" />
		<xsd:attribute name="NAMECACHE" use="optional" />
		<xsd:attribute name="BASIONYMAUTHORTEAM_ID" use="optional" />
		<xsd:attribute name="FULLTITLECACHE" use="optional" />
		<xsd:attribute name="ORIGINALPUBLICATIONYEAR" use="optional" />
		<xsd:attribute name="HOMOTYPICALGROUP_ID" use="optional" />
		<xsd:attribute name="PROBLEMSTARTS" use="optional" />
		<xsd:attribute name="AUTHORSHIPCACHE" use="optional" />
		<xsd:attribute name="PROTECTEDAUTHORSHIPCACHE" use="optional" />
		<xsd:attribute name="SPECIFICEPITHET" use="optional" />
		<xsd:attribute name="GENUSORUNINOMIAL" use="optional" />
		<xsd:attribute name="LSID" use="optional" />
		<xsd:attribute name="CREATED" use="optional" />
		<xsd:attribute name="BINOMHYBRID" use="optional" />
		<xsd:attribute name="NOMENCLATURALMICROREFERENCE" use="optional" />
		<xsd:attribute name="UPDATEDBY_ID" use="optional" />
		<xsd:attribute name="PUBLICATIONYEAR" use="optional" />
		<xsd:attribute name="COMBINATIONAUTHORTEAM_ID" use="optional" />
		<xsd:attribute name="NAMEAPPROBATION" use="optional" />
		<xsd:attribute name="TITLECACHE" use="optional" />
		<xsd:attribute name="RANK_ID" use="optional" />
		<xsd:attribute name="MONOMHYBRID" use="optional" />
		<xsd:attribute name="PROTECTEDFULLTITLECACHE" use="optional" />
		<xsd:attribute name="UPDATED" use="optional" />
		<xsd:attribute name="SUBGENUSAUTHORSHIP" use="optional" />
		<xsd:attribute name="CULTIVARNAME" use="optional" />
		<xsd:attribute name="CREATEDBY_ID" use="optional" />
		<xsd:attribute name="INFRASPECIFICEPITHET" use="optional" />
		<xsd:attribute name="NOMENCLATURALREFERENCE_ID" use="optional" />
		<xsd:attribute name="PROTECTEDTITLECACHE" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="REFERENCEBASE_MARKER__type">
		<xsd:attribute name="REFERENCEBASE_ID" use="optional" />
		<xsd:attribute name="MARKERS_ID" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="DETERMINATIONEVENT_REFERENCEBASE__type">
		<xsd:attribute name="REFERENCES_ID" use="optional" />
		<xsd:attribute name="DETERMINATIONEVENT_ID" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="GATHERINGEVENT_ANNOTATION__type">
		<xsd:attribute name="ANNOTATIONS_ID" use="optional" />
		<xsd:attribute name="GATHERINGEVENT_ID" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="CDM_VIEW__type">
		<xsd:attribute name="REFERENCE" use="optional" />
		<xsd:attribute name="NAME" use="optional" />
		<xsd:attribute name="DESCRIPTION" use="optional" />
		<xsd:attribute name="UUID" use="optional" />
		<xsd:attribute name="ID" use="optional" />
		<xsd:attribute name="CREATEDBY_ID" use="optional" />
		<xsd:attribute name="CREATED" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="SEQUENCE_GENBANKACCESSION__type">
		<xsd:attribute name="GENBANKACCESSION_ID" use="optional" />
		<xsd:attribute name="SEQUENCE_ID" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="DETERMINATIONEVENT_ANNOTATION__type">
		<xsd:attribute name="ANNOTATIONS_ID" use="optional" />
		<xsd:attribute name="DETERMINATIONEVENT_ID" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="STATISTICALMEASUREMENTVALUE__type">
		<xsd:attribute name="VALUE" use="optional" />
		<xsd:attribute name="UPDATED" use="optional" />
		<xsd:attribute name="TYPE_ID" use="optional" />
		<xsd:attribute name="UUID" use="optional" />
		<xsd:attribute name="ID" use="optional" />
		<xsd:attribute name="CREATEDBY_ID" use="optional" />
		<xsd:attribute name="CREATED" use="optional" />
		<xsd:attribute name="UPDATEDBY_ID" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="NAMERELATIONSHIP_MARKER__type">
		<xsd:attribute name="MARKERS_ID" use="optional" />
		<xsd:attribute name="NAMERELATIONSHIP_ID" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="DESCRIPTIONELEMENTBASE_STATISTICALMEASUREMENTVALUE__type">
		<xsd:attribute name="STATISTICALVALUES_ID" use="optional" />
		<xsd:attribute name="DESCRIPTIONELEMENTBASE_ID" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="TAXONNAMEBASE_ORIGINALSOURCE__type">
		<xsd:attribute name="TAXONNAMEBASE_ID" use="optional" />
		<xsd:attribute name="SOURCES_ID" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="TAXONBASE_EXTENSION__type">
		<xsd:attribute name="TAXONBASE_ID" use="optional" />
		<xsd:attribute name="EXTENSIONS_ID" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="SYNONYMRELATIONSHIP_MARKER__type">
		<xsd:attribute name="MARKERS_ID" use="optional" />
		<xsd:attribute name="SYNONYMRELATIONSHIP_ID" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="COLLECTION_EXTENSION__type">
		<xsd:attribute name="COLLECTION_ID" use="optional" />
		<xsd:attribute name="EXTENSIONS_ID" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="TAXONNAMEBASE_TYPEDESIGNATIONBASE__type">
		<xsd:attribute name="TAXONNAMEBASE_ID" use="optional" />
		<xsd:attribute name="TYPEDESIGNATIONS_ID" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="AGENT_MEDIA__type">
		<xsd:attribute name="MEDIA_ID" use="optional" />
		<xsd:attribute name="AGENT_ID" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="MEDIA__type">
		<xsd:attribute name="CITATIONMICROREFERENCE" use="optional" />
		<xsd:attribute name="DESCRIPTION" use="optional" />
		<xsd:attribute name="UUID" use="optional" />
		<xsd:attribute name="MEDIACREATED" use="optional" />
		<xsd:attribute name="CREATED" use="optional" />
		<xsd:attribute name="UPDATEDBY_ID" use="optional" />
		<xsd:attribute name="CITATION_ID" use="optional" />
		<xsd:attribute name="UPDATED" use="optional" />
		<xsd:attribute name="ID" use="optional" />
		<xsd:attribute name="ARTIST_ID" use="optional" />
		<xsd:attribute name="DTYPE" use="optional" />
		<xsd:attribute name="CREATEDBY_ID" use="optional" />
		<xsd:attribute name="TITLE" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="TYPEDESIGNATIONBASE_MARKER__type">
		<xsd:attribute name="MARKERS_ID" use="optional" />
		<xsd:attribute name="TYPEDESIGNATIONBASE_ID" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="HYBRIDRELATIONSHIP__type">
		<xsd:attribute name="CITATIONMICROREFERENCE" use="optional" />
		<xsd:attribute name="UUID" use="optional" />
		<xsd:attribute name="RELATEDTO_ID" use="optional" />
		<xsd:attribute name="RELATEDFROM_ID" use="optional" />
		<xsd:attribute name="RULECONSIDERED" use="optional" />
		<xsd:attribute name="CREATED" use="optional" />
		<xsd:attribute name="UPDATEDBY_ID" use="optional" />
		<xsd:attribute name="CITATION_ID" use="optional" />
		<xsd:attribute name="DOUBTFUL" use="optional" />
		<xsd:attribute name="UPDATED" use="optional" />
		<xsd:attribute name="ORIGINALNAMESTRING" use="optional" />
		<xsd:attribute name="ID" use="optional" />
		<xsd:attribute name="TYPE_ID" use="optional" />
		<xsd:attribute name="CREATEDBY_ID" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="DESCRIPTIONBASE_EXTENSION__type">
		<xsd:attribute name="DESCRIPTIONBASE_ID" use="optional" />
		<xsd:attribute name="EXTENSIONS_ID" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="SPECIMENOROBSERVATIONBASE_ORIGINALSOURCE__type">
		<xsd:attribute name="SPECIMENOROBSERVATIONBASE_ID" use="optional" />
		<xsd:attribute name="SOURCES_ID" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="CDM_VIEW_CDM_VIEW__type">
		<xsd:attribute name="CDM_VIEW_ID" use="optional" />
		<xsd:attribute name="SUPERVIEWS_ID" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="DESCRIPTIONELEMENTBASE_MARKER__type">
		<xsd:attribute name="MARKERS_ID" use="optional" />
		<xsd:attribute name="DESCRIPTIONELEMENTBASE_ID" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="AGENT_ANNOTATION__type">
		<xsd:attribute name="ANNOTATIONS_ID" use="optional" />
		<xsd:attribute name="AGENT_ID" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="AGENT_RIGHTS__type">
		<xsd:attribute name="AGENT_ID" use="optional" />
		<xsd:attribute name="RIGHTS_ID" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="DESCRIPTIONBASE_SCOPE__type">
		<xsd:attribute name="SCOPES_ID" use="optional" />
		<xsd:attribute name="DESCRIPTIONBASE_ID" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="COLLECTION_MEDIA__type">
		<xsd:attribute name="COLLECTION_ID" use="optional" />
		<xsd:attribute name="MEDIA_ID" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="TAXONNAMEBASE_HYBRIDRELATIONSHIP__type">
		<xsd:attribute name="TAXONNAMEBASE_ID" use="optional" />
		<xsd:attribute name="HYBRIDRELATIONSHIPS_ID" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="TAXONBASE_MARKER__type">
		<xsd:attribute name="MARKERS_ID" use="optional" />
		<xsd:attribute name="TAXONBASE_ID" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="ORIGINALSOURCE__type">
		<xsd:attribute name="CITATION_ID" use="optional" />
		<xsd:attribute name="CITATIONMICROREFERENCE" use="optional" />
		<xsd:attribute name="IDNAMESPACE" use="optional" />
		<xsd:attribute name="ORIGINALNAMESTRING" use="optional" />
		<xsd:attribute name="UPDATED" use="optional" />
		<xsd:attribute name="UUID" use="optional" />
		<xsd:attribute name="ID" use="optional" />
		<xsd:attribute name="CREATEDBY_ID" use="optional" />
		<xsd:attribute name="IDINSOURCE" use="optional" />
		<xsd:attribute name="CREATED" use="optional" />
		<xsd:attribute name="UPDATEDBY_ID" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="FEATURENODE__type">
		<xsd:attribute name="UPDATED" use="optional" />
		<xsd:attribute name="UUID" use="optional" />
		<xsd:attribute name="ID" use="optional" />
		<xsd:attribute name="FEATURE_ID" use="optional" />
		<xsd:attribute name="CREATEDBY_ID" use="optional" />
		<xsd:attribute name="PARENT_FK" use="optional" />
		<xsd:attribute name="CREATED" use="optional" />
		<xsd:attribute name="UPDATEDBY_ID" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="TERMVOCABULARY_REPRESENTATION__type">
		<xsd:attribute name="TERMVOCABULARY_ID" use="optional" />
		<xsd:attribute name="REPRESENTATIONS_ID" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="DETERMINATIONEVENT__type">
		<xsd:attribute name="TIMEPERIOD_START" use="optional" />
		<xsd:attribute name="DESCRIPTION" use="optional" />
		<xsd:attribute name="UUID" use="optional" />
		<xsd:attribute name="TAXON_ID" use="optional" />
		<xsd:attribute name="MODIFIER_ID" use="optional" />
		<xsd:attribute name="CREATED" use="optional" />
		<xsd:attribute name="PREFERREDFLAG" use="optional" />
		<xsd:attribute name="UPDATEDBY_ID" use="optional" />
		<xsd:attribute name="ACTOR_ID" use="optional" />
		<xsd:attribute name="UPDATED" use="optional" />
		<xsd:attribute name="IDENTIFIEDUNIT_ID" use="optional" />
		<xsd:attribute name="ID" use="optional" />
		<xsd:attribute name="TIMEPERIOD_END" use="optional" />
		<xsd:attribute name="CREATEDBY_ID" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="TAXONNAMEBASE_NOMENCLATURALSTATUS__type">
		<xsd:attribute name="TAXONNAMEBASE_ID" use="optional" />
		<xsd:attribute name="STATUS_ID" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="SEQUENCE_MEDIA__type">
		<xsd:attribute name="CHROMATOGRAMS_ID" use="optional" />
		<xsd:attribute name="SEQUENCE_ID" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="SEQUENCE_REFERENCEBASE__type">
		<xsd:attribute name="CITATIONS_ID" use="optional" />
		<xsd:attribute name="SEQUENCE_ID" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="DEFINEDTERMBASE_SUPPORTEDCATEGORICALENUMERATION__type">
		<xsd:attribute name="DEFINEDTERMBASE_ID" use="optional" />
		<xsd:attribute name="SUPPORTEDCATEGORICALENUMERATIONS_ID" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="DESCRIPTIONELEMENTBASE_MODIFIER__type">
		<xsd:attribute name="DESCRIPTIONELEMENTBASE_ID" use="optional" />
		<xsd:attribute name="MODIFIERS_ID" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="DESCRIPTIONELEMENTBASE_MEDIA__type">
		<xsd:attribute name="DESCRIPTIONELEMENTBASE_ID" use="optional" />
		<xsd:attribute name="MEDIA_ID" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="SPECIMENOROBSERVATIONBASE_MEDIA__type">
		<xsd:attribute name="SPECIMENOROBSERVATIONBASE_ID" use="optional" />
		<xsd:attribute name="MEDIA_ID" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="GENBANKACCESSION__type">
		<xsd:attribute name="UPDATED" use="optional" />
		<xsd:attribute name="UUID" use="optional" />
		<xsd:attribute name="ID" use="optional" />
		<xsd:attribute name="CREATEDBY_ID" use="optional" />
		<xsd:attribute name="CREATED" use="optional" />
		<xsd:attribute name="ACCESSIONNUMBER" use="optional" />
		<xsd:attribute name="UPDATEDBY_ID" use="optional" />
		<xsd:attribute name="URI" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="AGENT_MARKER__type">
		<xsd:attribute name="MARKERS_ID" use="optional" />
		<xsd:attribute name="AGENT_ID" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="GATHERINGEVENT_MARKER__type">
		<xsd:attribute name="MARKERS_ID" use="optional" />
		<xsd:attribute name="GATHERINGEVENT_ID" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="DEFINEDTERMBASE_WATERBODYORCOUNTRY__type">
		<xsd:attribute name="DEFINEDTERMBASE_ID" use="optional" />
		<xsd:attribute name="WATERBODIESORCOUNTRIES_ID" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="MARKER__type">
		<xsd:attribute name="UPDATED" use="optional" />
		<xsd:attribute name="UUID" use="optional" />
		<xsd:attribute name="ID" use="optional" />
		<xsd:attribute name="MARKERTYPE_ID" use="optional" />
		<xsd:attribute name="CREATEDBY_ID" use="optional" />
		<xsd:attribute name="CREATED" use="optional" />
		<xsd:attribute name="FLAG" use="optional" />
		<xsd:attribute name="UPDATEDBY_ID" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="DESCRIPTIONBASE_MARKER__type">
		<xsd:attribute name="MARKERS_ID" use="optional" />
		<xsd:attribute name="DESCRIPTIONBASE_ID" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="SPECIMENOROBSERVATIONBASE_EXTENSION__type">
		<xsd:attribute name="SPECIMENOROBSERVATIONBASE_ID" use="optional" />
		<xsd:attribute name="EXTENSIONS_ID" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="LOCUS__type">
		<xsd:attribute name="NAME" use="optional" />
		<xsd:attribute name="DESCRIPTION" use="optional" />
		<xsd:attribute name="UPDATED" use="optional" />
		<xsd:attribute name="UUID" use="optional" />
		<xsd:attribute name="ID" use="optional" />
		<xsd:attribute name="CREATEDBY_ID" use="optional" />
		<xsd:attribute name="CREATED" use="optional" />
		<xsd:attribute name="UPDATEDBY_ID" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="TAXONRELATIONSHIP_ANNOTATION__type">
		<xsd:attribute name="ANNOTATIONS_ID" use="optional" />
		<xsd:attribute name="TAXONRELATIONSHIP_ID" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="AGENT_EXTENSION__type">
		<xsd:attribute name="EXTENSIONS_ID" use="optional" />
		<xsd:attribute name="AGENT_ID" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="TAXONBASE_ORIGINALSOURCE__type">
		<xsd:attribute name="TAXONBASE_ID" use="optional" />
		<xsd:attribute name="SOURCES_ID" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="SEQUENCE__type">
		<xsd:attribute name="SEQUENCE" use="optional" />
		<xsd:attribute name="CITATIONMICROREFERENCE" use="optional" />
		<xsd:attribute name="UUID" use="optional" />
		<xsd:attribute name="CREATED" use="optional" />
		<xsd:attribute name="LSID" use="optional" />
		<xsd:attribute name="PUBLISHEDIN_ID" use="optional" />
		<xsd:attribute name="UPDATEDBY_ID" use="optional" />
		<xsd:attribute name="TITLECACHE" use="optional" />
		<xsd:attribute name="DATESEQUENCED" use="optional" />
		<xsd:attribute name="LOCUS_ID" use="optional" />
		<xsd:attribute name="UPDATED" use="optional" />
		<xsd:attribute name="BARCODE" use="optional" />
		<xsd:attribute name="ID" use="optional" />
		<xsd:attribute name="CREATEDBY_ID" use="optional" />
		<xsd:attribute name="LENGTH" use="optional" />
		<xsd:attribute name="PROTECTEDTITLECACHE" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="DESCRIPTIONBASE_REFERENCEBASE__type">
		<xsd:attribute name="DESCRIPTIONBASE_ID" use="optional" />
		<xsd:attribute name="DESCRIPTIONSOURCES_ID" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="SPECIMENOROBSERVATIONBASE_MARKER__type">
		<xsd:attribute name="SPECIMENOROBSERVATIONBASE_ID" use="optional" />
		<xsd:attribute name="MARKERS_ID" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="COLLECTION_ANNOTATION__type">
		<xsd:attribute name="ANNOTATIONS_ID" use="optional" />
		<xsd:attribute name="COLLECTION_ID" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="MEDIAREPRESENTATION__type">
		<xsd:attribute name="SUFFIX" use="optional" />
		<xsd:attribute name="MEDIA_ID" use="optional" />
		<xsd:attribute name="UPDATED" use="optional" />
		<xsd:attribute name="UUID" use="optional" />
		<xsd:attribute name="ID" use="optional" />
		<xsd:attribute name="MIMETYPE" use="optional" />
		<xsd:attribute name="CREATEDBY_ID" use="optional" />
		<xsd:attribute name="CREATED" use="optional" />
		<xsd:attribute name="UPDATEDBY_ID" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="MEDIA_RIGHTS__type">
		<xsd:attribute name="MEDIA_ID" use="optional" />
		<xsd:attribute name="RIGHTS_ID" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="MEDIA_TAXONBASE__type">
		<xsd:attribute name="COVEREDTAXA_ID" use="optional" />
		<xsd:attribute name="MEDIA_ID" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="REFERENCEBASE__type">
		<xsd:attribute name="INSERIES_ID" use="optional" />
		<xsd:attribute name="INSTITUTION" use="optional" />
		<xsd:attribute name="UUID" use="optional" />
		<xsd:attribute name="YEAR" use="optional" />
		<xsd:attribute name="PUBLISHER" use="optional" />
		<xsd:attribute name="JOURNAL" use="optional" />
		<xsd:attribute name="INSTITUTION_ID" use="optional" />
		<xsd:attribute name="CHAPTER" use="optional" />
		<xsd:attribute name="DATEPUBLISHED_START" use="optional" />
		<xsd:attribute name="HASPROBLEM" use="optional" />
		<xsd:attribute name="HOWPUBLISHED" use="optional" />
		<xsd:attribute name="EPRINT" use="optional" />
		<xsd:attribute name="AUTHORTEAM_ID" use="optional" />
		<xsd:attribute name="SCHOOL" use="optional" />
		<xsd:attribute name="ID" use="optional" />
		<xsd:attribute name="MONTH" use="optional" />
		<xsd:attribute name="INJOURNAL_ID" use="optional" />
		<xsd:attribute name="EDITOR" use="optional" />
		<xsd:attribute name="PROBLEMSTARTS" use="optional" />
		<xsd:attribute name="SERIESPART" use="optional" />
		<xsd:attribute name="SCHOOL_ID" use="optional" />
		<xsd:attribute name="NOTE" use="optional" />
		<xsd:attribute name="CREATED" use="optional" />
		<xsd:attribute name="LSID" use="optional" />
		<xsd:attribute name="NOMENCLATURALLYRELEVANT" use="optional" />
		<xsd:attribute name="TITLECACHE" use="optional" />
		<xsd:attribute name="PAGES" use="optional" />
		<xsd:attribute name="UPDATED" use="optional" />
		<xsd:attribute name="CROSSREF_ID" use="optional" />
		<xsd:attribute name="CREATEDBY_ID" use="optional" />
		<xsd:attribute name="EDITION" use="optional" />
		<xsd:attribute name="PROTECTEDTITLECACHE" use="optional" />
		<xsd:attribute name="PLACEPUBLISHED" use="optional" />
		<xsd:attribute name="REPORTTYPE" use="optional" />
		<xsd:attribute name="ISBN" use="optional" />
		<xsd:attribute name="SERIES" use="optional" />
		<xsd:attribute name="PROBLEMENDS" use="optional" />
		<xsd:attribute name="DATEPUBLISHED_END" use="optional" />
		<xsd:attribute name="NUMBER" use="optional" />
		<xsd:attribute name="ORGANIZATION" use="optional" />
		<xsd:attribute name="DTYPE" use="optional" />
		<xsd:attribute name="URI" use="optional" />
		<xsd:attribute name="BOOKTITLE" use="optional" />
		<xsd:attribute name="INPROCEEDINGS_ID" use="optional" />
		<xsd:attribute name="INBOOK_ID" use="optional" />
		<xsd:attribute name="ADDRESS" use="optional" />
		<xsd:attribute name="VOLUME" use="optional" />
		<xsd:attribute name="UPDATEDBY_ID" use="optional" />
		<xsd:attribute name="ANNOTE" use="optional" />
		<xsd:attribute name="ISSN" use="optional" />
		<xsd:attribute name="TYPE_ID" use="optional" />
		<xsd:attribute name="TITLE" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="STATISTICALMEASUREMENTVALUE_DEFINEDTERMBASE__type">
		<xsd:attribute name="STATISTICALMEASUREMENTVALUE_ID" use="optional" />
		<xsd:attribute name="MODIFIERS_ID" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="AGENT_AGENT__type">
		<xsd:attribute name="AGENT_ID" use="optional" />
		<xsd:attribute name="TEAMMEMBERS_ID" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="NOMENCLATURALSTATUS_ANNOTATION__type">
		<xsd:attribute name="ANNOTATIONS_ID" use="optional" />
		<xsd:attribute name="NOMENCLATURALSTATUS_ID" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="DEFINEDTERMBASE_MEDIA__type">
		<xsd:attribute name="DEFINEDTERMBASE_ID" use="optional" />
		<xsd:attribute name="MEDIA_ID" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="AGENT__type">
		<xsd:attribute name="PREFIX" use="optional" />
		<xsd:attribute name="NOMENCLATURALTITLE" use="optional" />
		<xsd:attribute name="NAME" use="optional" />
		<xsd:attribute name="SUFFIX" use="optional" />
		<xsd:attribute name="ISPARTOF_ID" use="optional" />
		<xsd:attribute name="LIFESPAN_START" use="optional" />
		<xsd:attribute name="UUID" use="optional" />
		<xsd:attribute name="CONTACT_ID" use="optional" />
		<xsd:attribute name="CREATED" use="optional" />
		<xsd:attribute name="LSID" use="optional" />
		<xsd:attribute name="UPDATEDBY_ID" use="optional" />
		<xsd:attribute name="FIRSTNAME" use="optional" />
		<xsd:attribute name="TITLECACHE" use="optional" />
		<xsd:attribute name="UPDATED" use="optional" />
		<xsd:attribute name="LIFESPAN_END" use="optional" />
		<xsd:attribute name="ID" use="optional" />
		<xsd:attribute name="CREATEDBY_ID" use="optional" />
		<xsd:attribute name="DTYPE" use="optional" />
		<xsd:attribute name="PROTECTEDTITLECACHE" use="optional" />
		<xsd:attribute name="CODE" use="optional" />
		<xsd:attribute name="LASTNAME" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="DESCRIPTIONELEMENTBASE_STATEDATA__type">
		<xsd:attribute name="DESCRIPTIONELEMENTBASE_ID" use="optional" />
		<xsd:attribute name="STATES_ID" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="FEATURETREE_REPRESENTATION__type">
		<xsd:attribute name="FEATURETREE_ID" use="optional" />
		<xsd:attribute name="REPRESENTATIONS_ID" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="REFERENCEBASE_RIGHTS__type">
		<xsd:attribute name="REFERENCEBASE_ID" use="optional" />
		<xsd:attribute name="RIGHTS_ID" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="DESCRIPTIONELEMENTBASE_LANGUAGESTRING__type">
		<xsd:attribute name="DESCRIPTIONELEMENTBASE_ID" use="optional" />
		<xsd:attribute name="MULTILANGUAGETEXT_ID" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="DESCRIPTIONBASE_ORIGINALSOURCE__type">
		<xsd:attribute name="SOURCES_ID" use="optional" />
		<xsd:attribute name="DESCRIPTIONBASE_ID" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="MEDIA_ANNOTATION__type">
		<xsd:attribute name="ANNOTATIONS_ID" use="optional" />
		<xsd:attribute name="MEDIA_ID" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="STATEDATA__type">
		<xsd:attribute name="STATE_ID" use="optional" />
		<xsd:attribute name="UPDATED" use="optional" />
		<xsd:attribute name="UUID" use="optional" />
		<xsd:attribute name="ID" use="optional" />
		<xsd:attribute name="MODIFYINGTEXT" use="optional" />
		<xsd:attribute name="CREATEDBY_ID" use="optional" />
		<xsd:attribute name="CREATED" use="optional" />
		<xsd:attribute name="UPDATEDBY_ID" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="DEFINEDTERMBASE_CONTINENT__type">
		<xsd:attribute name="DEFINEDTERMBASE_ID" use="optional" />
		<xsd:attribute name="CONTINENTS_ID" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="DEFINEDTERMBASE_STATISTICALMEASURE__type">
		<xsd:attribute name="DEFINEDTERMBASE_ID" use="optional" />
		<xsd:attribute name="RECOMMENDEDSTATISTICALMEASURES_ID" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="GATHERINGEVENT__type">
		<xsd:attribute name="TIMEPERIOD_START" use="optional" />
		<xsd:attribute name="DESCRIPTION" use="optional" />
		<xsd:attribute name="LOCALITY_ID" use="optional" />
		<xsd:attribute name="UUID" use="optional" />
		<xsd:attribute name="EXACTLOCATION_REFERENCESYSTEM_ID" use="optional" />
		<xsd:attribute name="CREATED" use="optional" />
		<xsd:attribute name="EXACTLOCATION_LONGITUDE" use="optional" />
		<xsd:attribute name="UPDATEDBY_ID" use="optional" />
		<xsd:attribute name="ABSOLUTEELEVATIONERROR" use="optional" />
		<xsd:attribute name="EXACTLOCATION_ERRORRADIUS" use="optional" />
		<xsd:attribute name="ACTOR_ID" use="optional" />
		<xsd:attribute name="DISTANCETOWATERSURFACE" use="optional" />
		<xsd:attribute name="ABSOLUTEELEVATION" use="optional" />
		<xsd:attribute name="EXACTLOCATION_LATITUDE" use="optional" />
		<xsd:attribute name="UPDATED" use="optional" />
		<xsd:attribute name="ID" use="optional" />
		<xsd:attribute name="TIMEPERIOD_END" use="optional" />
		<xsd:attribute name="DISTANCETOGROUND" use="optional" />
		<xsd:attribute name="CREATEDBY_ID" use="optional" />
		<xsd:attribute name="COLLECTINGMETHOD" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="SPECIMENOROBSERVATIONBASE_DERIVATIONEVENT__type">
		<xsd:attribute name="DERIVATIONEVENTS_ID" use="optional" />
		<xsd:attribute name="ORIGINALS_ID" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="TAXONNAMEBASE_EXTENSION__type">
		<xsd:attribute name="TAXONNAMEBASE_ID" use="optional" />
		<xsd:attribute name="EXTENSIONS_ID" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="TYPEDESIGNATIONBASE_TAXONNAMEBASE__type">
		<xsd:attribute name="TYPIFIEDNAMES_ID" use="optional" />
		<xsd:attribute name="TYPEDESIGNATIONBASE_ID" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="COLLECTION_ORIGINALSOURCE__type">
		<xsd:attribute name="SOURCES_ID" use="optional" />
		<xsd:attribute name="COLLECTION_ID" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="TAXONNAMEBASE_RIGHTS__type">
		<xsd:attribute name="TAXONNAMEBASE_ID" use="optional" />
		<xsd:attribute name="RIGHTS_ID" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="SEQUENCE_ORIGINALSOURCE__type">
		<xsd:attribute name="SOURCES_ID" use="optional" />
		<xsd:attribute name="SEQUENCE_ID" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="DETERMINATIONEVENT_MARKER__type">
		<xsd:attribute name="MARKERS_ID" use="optional" />
		<xsd:attribute name="DETERMINATIONEVENT_ID" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="DESCRIPTIONBASE_ANNOTATION__type">
		<xsd:attribute name="ANNOTATIONS_ID" use="optional" />
		<xsd:attribute name="DESCRIPTIONBASE_ID" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="ORIGINALSOURCE_MARKER__type">
		<xsd:attribute name="MARKERS_ID" use="optional" />
		<xsd:attribute name="ORIGINALSOURCE_ID" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="DEFINEDTERMBASE_RECOMMENDEDMODIFIERENUMERATION__type">
		<xsd:attribute name="DEFINEDTERMBASE_ID" use="optional" />
		<xsd:attribute name="RECOMMENDEDMODIFIERENUMERATION_ID" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="ANNOTATION__type">
		<xsd:attribute name="LINKBACKURLSTR" use="optional" />
		<xsd:attribute name="LANGUAGE_ID" use="optional" />
		<xsd:attribute name="TEXT" use="optional" />
		<xsd:attribute name="UPDATED" use="optional" />
		<xsd:attribute name="UUID" use="optional" />
		<xsd:attribute name="ID" use="optional" />
		<xsd:attribute name="CREATEDBY_ID" use="optional" />
		<xsd:attribute name="CREATED" use="optional" />
		<xsd:attribute name="COMMENTATOR_ID" use="optional" />
		<xsd:attribute name="UPDATEDBY_ID" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="NOMENCLATURALSTATUS__type">
		<xsd:attribute name="CITATION_ID" use="optional" />
		<xsd:attribute name="CITATIONMICROREFERENCE" use="optional" />
		<xsd:attribute name="ORIGINALNAMESTRING" use="optional" />
		<xsd:attribute name="UPDATED" use="optional" />
		<xsd:attribute name="TYPE_ID" use="optional" />
		<xsd:attribute name="UUID" use="optional" />
		<xsd:attribute name="ID" use="optional" />
		<xsd:attribute name="CREATEDBY_ID" use="optional" />
		<xsd:attribute name="RULECONSIDERED" use="optional" />
		<xsd:attribute name="CREATED" use="optional" />
		<xsd:attribute name="UPDATEDBY_ID" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="SPECIMENOROBSERVATIONBASE_RIGHTS__type">
		<xsd:attribute name="SPECIMENOROBSERVATIONBASE_ID" use="optional" />
		<xsd:attribute name="RIGHTS_ID" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="DERIVATIONEVENT_MARKER__type">
		<xsd:attribute name="MARKERS_ID" use="optional" />
		<xsd:attribute name="DERIVATIONEVENT_ID" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="REFERENCEBASE_ORIGINALSOURCE__type">
		<xsd:attribute name="REFERENCEBASE_ID" use="optional" />
		<xsd:attribute name="SOURCES_ID" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="SEQUENCE_RIGHTS__type">
		<xsd:attribute name="SEQUENCE_ID" use="optional" />
		<xsd:attribute name="RIGHTS_ID" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="COLLECTION_MARKER__type">
		<xsd:attribute name="MARKERS_ID" use="optional" />
		<xsd:attribute name="COLLECTION_ID" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="FEATURETREE__type">
		<xsd:attribute name="DESCRIPTIONSEPARATED" use="optional" />
		<xsd:attribute name="ROOT_ID" use="optional" />
		<xsd:attribute name="UPDATED" use="optional" />
		<xsd:attribute name="UUID" use="optional" />
		<xsd:attribute name="ID" use="optional" />
		<xsd:attribute name="CREATEDBY_ID" use="optional" />
		<xsd:attribute name="CREATED" use="optional" />
		<xsd:attribute name="UPDATEDBY_ID" use="optional" />
		<xsd:attribute name="URI" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="COLLECTION_RIGHTS__type">
		<xsd:attribute name="COLLECTION_ID" use="optional" />
		<xsd:attribute name="RIGHTS_ID" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="TAXONBASE_RIGHTS__type">
		<xsd:attribute name="TAXONBASE_ID" use="optional" />
		<xsd:attribute name="RIGHTS_ID" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="DESCRIPTIONELEMENTBASE__type">
		<xsd:attribute name="NAME" use="optional" />
		<xsd:attribute name="STATUS_ID" use="optional" />
		<xsd:attribute name="CITATIONMICROREFERENCE" use="optional" />
		<xsd:attribute name="LANGUAGE_ID" use="optional" />
		<xsd:attribute name="DESCRIPTION" use="optional" />
		<xsd:attribute name="UUID" use="optional" />
		<xsd:attribute name="UNIT_ID" use="optional" />
		<xsd:attribute name="MODIFYINGTEXT" use="optional" />
		<xsd:attribute name="ASSOCIATEDSPECIMENOROBSERVATION_ID" use="optional" />
		<xsd:attribute name="AREA_ID" use="optional" />
		<xsd:attribute name="CREATED" use="optional" />
		<xsd:attribute name="INDESCRIPTION_ID" use="optional" />
		<xsd:attribute name="UPDATEDBY_ID" use="optional" />
		<xsd:attribute name="CITATION_ID" use="optional" />
		<xsd:attribute name="TAXON2_ID" use="optional" />
		<xsd:attribute name="UPDATED" use="optional" />
		<xsd:attribute name="ORIGINALNAMESTRING" use="optional" />
		<xsd:attribute name="ID" use="optional" />
		<xsd:attribute name="FEATURE_ID" use="optional" />
		<xsd:attribute name="CREATEDBY_ID" use="optional" />
		<xsd:attribute name="DTYPE" use="optional" />
		<xsd:attribute name="ORDERRELEVANT" use="optional" />
		<xsd:attribute name="FORMAT_ID" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="HOMOTYPICALGROUP__type">
		<xsd:attribute name="UPDATED" use="optional" />
		<xsd:attribute name="UUID" use="optional" />
		<xsd:attribute name="ID" use="optional" />
		<xsd:attribute name="CREATEDBY_ID" use="optional" />
		<xsd:attribute name="CREATED" use="optional" />
		<xsd:attribute name="UPDATEDBY_ID" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="DESCRIPTIONBASE_RIGHTS__type">
		<xsd:attribute name="DESCRIPTIONBASE_ID" use="optional" />
		<xsd:attribute name="RIGHTS_ID" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="REFERENCEBASE_MEDIA__type">
		<xsd:attribute name="REFERENCEBASE_ID" use="optional" />
		<xsd:attribute name="MEDIA_ID" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="COLLECTION__type">
		<xsd:attribute name="SUPERCOLLECTION_ID" use="optional" />
		<xsd:attribute name="NAME" use="optional" />
		<xsd:attribute name="TOWNORLOCATION" use="optional" />
		<xsd:attribute name="CODESTANDARD" use="optional" />
		<xsd:attribute name="UUID" use="optional" />
		<xsd:attribute name="CREATED" use="optional" />
		<xsd:attribute name="LSID" use="optional" />
		<xsd:attribute name="UPDATEDBY_ID" use="optional" />
		<xsd:attribute name="TITLECACHE" use="optional" />
		<xsd:attribute name="INSTITUTE_ID" use="optional" />
		<xsd:attribute name="UPDATED" use="optional" />
		<xsd:attribute name="ID" use="optional" />
		<xsd:attribute name="CREATEDBY_ID" use="optional" />
		<xsd:attribute name="PROTECTEDTITLECACHE" use="optional" />
		<xsd:attribute name="CODE" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="TAXONBASE_ANNOTATION__type">
		<xsd:attribute name="ANNOTATIONS_ID" use="optional" />
		<xsd:attribute name="TAXONBASE_ID" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="TAXONRELATIONSHIP__type">
		<xsd:attribute name="CITATIONMICROREFERENCE" use="optional" />
		<xsd:attribute name="UUID" use="optional" />
		<xsd:attribute name="RELATEDTO_ID" use="optional" />
		<xsd:attribute name="RELATEDFROM_ID" use="optional" />
		<xsd:attribute name="CREATED" use="optional" />
		<xsd:attribute name="UPDATEDBY_ID" use="optional" />
		<xsd:attribute name="CITATION_ID" use="optional" />
		<xsd:attribute name="DOUBTFUL" use="optional" />
		<xsd:attribute name="UPDATED" use="optional" />
		<xsd:attribute name="ORIGINALNAMESTRING" use="optional" />
		<xsd:attribute name="ID" use="optional" />
		<xsd:attribute name="TYPE_ID" use="optional" />
		<xsd:attribute name="CREATEDBY_ID" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="HOMOTYPICALGROUP_MARKER__type">
		<xsd:attribute name="MARKERS_ID" use="optional" />
		<xsd:attribute name="HOMOTYPICALGROUP_ID" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="RELATIONSHIPTERMBASE_INVERSEREPRESENTATION__type">
		<xsd:attribute name="DEFINEDTERMBASE_ID" use="optional" />
		<xsd:attribute name="INVERSEREPRESENTATIONS_ID" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="RIGHTS__type">
		<xsd:attribute name="ABBREVIATEDTEXT" use="optional" />
		<xsd:attribute name="LANGUAGE_ID" use="optional" />
		<xsd:attribute name="TEXT" use="optional" />
		<xsd:attribute name="UPDATED" use="optional" />
		<xsd:attribute name="UUID" use="optional" />
		<xsd:attribute name="ID" use="optional" />
		<xsd:attribute name="CREATEDBY_ID" use="optional" />
		<xsd:attribute name="AGENT_ID" use="optional" />
		<xsd:attribute name="CREATED" use="optional" />
		<xsd:attribute name="UPDATEDBY_ID" use="optional" />
		<xsd:attribute name="URI" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="SPECIMENOROBSERVATIONBASE__type">
		<xsd:attribute name="COLLECTION_ID" use="optional" />
		<xsd:attribute name="PRESERVATION_ID" use="optional" />
		<xsd:attribute name="UUID" use="optional" />
		<xsd:attribute name="STOREDUNDER_ID" use="optional" />
		<xsd:attribute name="INDIVIDUALCOUNT" use="optional" />
		<xsd:attribute name="CREATED" use="optional" />
		<xsd:attribute name="LSID" use="optional" />
		<xsd:attribute name="FIELDNOTES" use="optional" />
		<xsd:attribute name="UPDATEDBY_ID" use="optional" />
		<xsd:attribute name="SEX_ID" use="optional" />
		<xsd:attribute name="DEFINITION" use="optional" />
		<xsd:attribute name="TITLECACHE" use="optional" />
		<xsd:attribute name="GATHERINGEVENT_ID" use="optional" />
		<xsd:attribute name="LIFESTAGE_ID" use="optional" />
		<xsd:attribute name="UPDATED" use="optional" />
		<xsd:attribute name="ID" use="optional" />
		<xsd:attribute name="CREATEDBY_ID" use="optional" />
		<xsd:attribute name="FIELDNUMBER" use="optional" />
		<xsd:attribute name="DTYPE" use="optional" />
		<xsd:attribute name="DERIVATIONEVENT_ID" use="optional" />
		<xsd:attribute name="CATALOGNUMBER" use="optional" />
		<xsd:attribute name="COLLECTORSNUMBER" use="optional" />
		<xsd:attribute name="ACCESSIONNUMBER" use="optional" />
		<xsd:attribute name="PROTECTEDTITLECACHE" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="MEDIA_SEQUENCE__type">
		<xsd:attribute name="MEDIA_ID" use="optional" />
		<xsd:attribute name="USEDSEQUENCES_ID" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="PERSON_KEYWORD__type">
		<xsd:attribute name="PERSON_FK" use="optional" />
		<xsd:attribute name="KEYWORD_FK" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="TAXONBASE__type">
		<xsd:attribute name="UUID" use="optional" />
		<xsd:attribute name="CREATED" use="optional" />
		<xsd:attribute name="LSID" use="optional" />
		<xsd:attribute name="UPDATEDBY_ID" use="optional" />
		<xsd:attribute name="TITLECACHE" use="optional" />
		<xsd:attribute name="TAXONNAME_FK" use="optional" />
		<xsd:attribute name="SEC_ID" use="optional" />
		<xsd:attribute name="DOUBTFUL" use="optional" />
		<xsd:attribute name="UPDATED" use="optional" />
		<xsd:attribute name="ID" use="optional" />
		<xsd:attribute name="CREATEDBY_ID" use="optional" />
		<xsd:attribute name="DTYPE" use="optional" />
		<xsd:attribute name="TAXONOMICCHILDRENCOUNT" use="optional" />
		<xsd:attribute name="TAXONOMICPARENTCACHE_ID" use="optional" />
		<xsd:attribute name="PROTECTEDTITLECACHE" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="REFERENCEBASE_ANNOTATION__type">
		<xsd:attribute name="ANNOTATIONS_ID" use="optional" />
		<xsd:attribute name="REFERENCEBASE_ID" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="GATHERINGEVENT_DEFINEDTERMBASE__type">
		<xsd:attribute name="COLLECTINGAREAS_ID" use="optional" />
		<xsd:attribute name="GATHERINGEVENT_ID" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="MEDIA_MARKER__type">
		<xsd:attribute name="MARKERS_ID" use="optional" />
		<xsd:attribute name="MEDIA_ID" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="DB_VERSION__type">
		<xsd:attribute name="VERSION_TIMESTAMP" use="optional" />
		<xsd:attribute name="CODESCRIPTS_TIMESTAMP" use="optional" />
		<xsd:attribute name="VERSION_INDEX" use="optional" />
		<xsd:attribute name="LAST_CODEUPDATE_SUCCEEDED" use="optional" />
		<xsd:attribute name="LAST_UPDATE_SUCCEEDED" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="REPRESENTATION__type">
		<xsd:attribute name="LANGUAGE_ID" use="optional" />
		<xsd:attribute name="TEXT" use="optional" />
		<xsd:attribute name="UPDATED" use="optional" />
		<xsd:attribute name="LABEL" use="optional" />
		<xsd:attribute name="UUID" use="optional" />
		<xsd:attribute name="ID" use="optional" />
		<xsd:attribute name="ABBREVIATEDLABEL" use="optional" />
		<xsd:attribute name="CREATEDBY_ID" use="optional" />
		<xsd:attribute name="CREATED" use="optional" />
		<xsd:attribute name="UPDATEDBY_ID" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="DESCRIPTIONBASE__type">
		<xsd:attribute name="TAXONNAME_FK" use="optional" />
		<xsd:attribute name="TITLECACHE" use="optional" />
		<xsd:attribute name="UPDATED" use="optional" />
		<xsd:attribute name="TAXON_FK" use="optional" />
		<xsd:attribute name="UUID" use="optional" />
		<xsd:attribute name="ID" use="optional" />
		<xsd:attribute name="CREATEDBY_ID" use="optional" />
		<xsd:attribute name="DTYPE" use="optional" />
		<xsd:attribute name="LSID" use="optional" />
		<xsd:attribute name="CREATED" use="optional" />
		<xsd:attribute name="UPDATEDBY_ID" use="optional" />
		<xsd:attribute name="PROTECTEDTITLECACHE" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="TAXONNAMEBASE_MARKER__type">
		<xsd:attribute name="TAXONNAMEBASE_ID" use="optional" />
		<xsd:attribute name="MARKERS_ID" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="DERIVATIONEVENT__type">
		<xsd:attribute name="TIMEPERIOD_START" use="optional" />
		<xsd:attribute name="ACTOR_ID" use="optional" />
		<xsd:attribute name="DESCRIPTION" use="optional" />
		<xsd:attribute name="UPDATED" use="optional" />
		<xsd:attribute name="TYPE_ID" use="optional" />
		<xsd:attribute name="UUID" use="optional" />
		<xsd:attribute name="ID" use="optional" />
		<xsd:attribute name="TIMEPERIOD_END" use="optional" />
		<xsd:attribute name="CREATEDBY_ID" use="optional" />
		<xsd:attribute name="CREATED" use="optional" />
		<xsd:attribute name="UPDATEDBY_ID" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="NAMERELATIONSHIP__type">
		<xsd:attribute name="CITATIONMICROREFERENCE" use="optional" />
		<xsd:attribute name="UUID" use="optional" />
		<xsd:attribute name="RELATEDTO_ID" use="optional" />
		<xsd:attribute name="RULECONSIDERED" use="optional" />
		<xsd:attribute name="RELATEDFROM_ID" use="optional" />
		<xsd:attribute name="CREATED" use="optional" />
		<xsd:attribute name="UPDATEDBY_ID" use="optional" />
		<xsd:attribute name="CITATION_ID" use="optional" />
		<xsd:attribute name="DOUBTFUL" use="optional" />
		<xsd:attribute name="UPDATED" use="optional" />
		<xsd:attribute name="ORIGINALNAMESTRING" use="optional" />
		<xsd:attribute name="ID" use="optional" />
		<xsd:attribute name="TYPE_ID" use="optional" />
		<xsd:attribute name="CREATEDBY_ID" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="TAXONNAMEBASE_ANNOTATION__type">
		<xsd:attribute name="ANNOTATIONS_ID" use="optional" />
		<xsd:attribute name="TAXONNAMEBASE_ID" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="ORIGINALSOURCE_ANNOTATION__type">
		<xsd:attribute name="ANNOTATIONS_ID" use="optional" />
		<xsd:attribute name="ORIGINALSOURCE_ID" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="DESCRIPTIONBASE_GEOSCOPE__type">
		<xsd:attribute name="GEOSCOPES_ID" use="optional" />
		<xsd:attribute name="DESCRIPTIONBASE_ID" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="DEFINEDTERMBASE_REPRESENTATION__type">
		<xsd:attribute name="DEFINEDTERMBASE_ID" use="optional" />
		<xsd:attribute name="REPRESENTATIONS_ID" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="INSTITUTIONALMEMBERSHIP__type">
		<xsd:attribute name="INSTITUTE_ID" use="optional" />
		<xsd:attribute name="PERSON_ID" use="optional" />
		<xsd:attribute name="ROLE" use="optional" />
		<xsd:attribute name="UPDATED" use="optional" />
		<xsd:attribute name="UUID" use="optional" />
		<xsd:attribute name="ID" use="optional" />
		<xsd:attribute name="CREATEDBY_ID" use="optional" />
		<xsd:attribute name="PERIOD_END" use="optional" />
		<xsd:attribute name="PERIOD_START" use="optional" />
		<xsd:attribute name="CREATED" use="optional" />
		<xsd:attribute name="DEPARTMENT" use="optional" />
		<xsd:attribute name="UPDATEDBY_ID" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="DEFINEDTERMBASE__type">
		<xsd:attribute name="SUPPORTSTEXTDATA" use="optional" />
		<xsd:attribute name="POINTAPPROXIMATION_LATITUDE" use="optional" />
		<xsd:attribute name="SHAPE_ID" use="optional" />
		<xsd:attribute name="POINTAPPROXIMATION_LONGITUDE" use="optional" />
		<xsd:attribute name="PERSISTENTVOCABULARY_ID" use="optional" />
		<xsd:attribute name="TRANSITIVE" use="optional" />
		<xsd:attribute name="UUID" use="optional" />
		<xsd:attribute name="POINTAPPROXIMATION_ERRORRADIUS" use="optional" />
		<xsd:attribute name="ISO3166_A2" use="optional" />
		<xsd:attribute name="ORDERINDEX" use="optional" />
		<xsd:attribute name="KINDOF_ID" use="optional" />
		<xsd:attribute name="VALIDPERIOD_START" use="optional" />
		<xsd:attribute name="VALIDPERIOD_END" use="optional" />
		<xsd:attribute name="ID" use="optional" />
		<xsd:attribute name="DEFAULTCOLOR" use="optional" />
		<xsd:attribute name="SUPPORTSDISTRIBUTION" use="optional" />
		<xsd:attribute name="DTYPE" use="optional" />
		<xsd:attribute name="SUPPORTSQUANTITATIVEDATA" use="optional" />
		<xsd:attribute name="SUPPORTSCOMMONTAXONNAME" use="optional" />
		<xsd:attribute name="ISO639_2" use="optional" />
		<xsd:attribute name="ISO639_1" use="optional" />
		<xsd:attribute name="URI" use="optional" />
		<xsd:attribute name="SUPPORTSINDIVIDUALASSOCIATION" use="optional" />
		<xsd:attribute name="CREATED" use="optional" />
		<xsd:attribute name="UPDATEDBY_ID" use="optional" />
		<xsd:attribute name="POINTAPPROXIMATION_REFERENCESYSTEM_ID" use="optional" />
		<xsd:attribute name="SYMMETRIC" use="optional" />
		<xsd:attribute name="PARTOF_ID" use="optional" />
		<xsd:attribute name="SUPPORTSTAXONINTERACTION" use="optional" />
		<xsd:attribute name="UPDATED" use="optional" />
		<xsd:attribute name="TYPE_ID" use="optional" />
		<xsd:attribute name="LEVEL_ID" use="optional" />
		<xsd:attribute name="CREATEDBY_ID" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="TYPEDESIGNATIONBASE_ANNOTATION__type">
		<xsd:attribute name="ANNOTATIONS_ID" use="optional" />
		<xsd:attribute name="TYPEDESIGNATIONBASE_ID" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="DESCRIPTIONELEMENTBASE_ANNOTATION__type">
		<xsd:attribute name="ANNOTATIONS_ID" use="optional" />
		<xsd:attribute name="DESCRIPTIONELEMENTBASE_ID" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="NAMERELATIONSHIP_ANNOTATION__type">
		<xsd:attribute name="ANNOTATIONS_ID" use="optional" />
		<xsd:attribute name="NAMERELATIONSHIP_ID" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="STATEDATA_DEFINEDTERMBASE__type">
		<xsd:attribute name="MODIFIERS_ID" use="optional" />
		<xsd:attribute name="STATEDATA_ID" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="ADDRESS__type">
		<xsd:attribute name="LOCATION_REFERENCESYSTEM_ID" use="optional" />
		<xsd:attribute name="UUID" use="optional" />
		<xsd:attribute name="LOCATION_LONGITUDE" use="optional" />
		<xsd:attribute name="POSTCODE" use="optional" />
		<xsd:attribute name="POBOX" use="optional" />
		<xsd:attribute name="CONTACT_ID" use="optional" />
		<xsd:attribute name="CREATED" use="optional" />
		<xsd:attribute name="LOCATION_LATITUDE" use="optional" />
		<xsd:attribute name="STREET" use="optional" />
		<xsd:attribute name="LOCALITY" use="optional" />
		<xsd:attribute name="UPDATEDBY_ID" use="optional" />
		<xsd:attribute name="COUNTRY_ID" use="optional" />
		<xsd:attribute name="LOCATION_ERRORRADIUS" use="optional" />
		<xsd:attribute name="UPDATED" use="optional" />
		<xsd:attribute name="ID" use="optional" />
		<xsd:attribute name="CREATEDBY_ID" use="optional" />
		<xsd:attribute name="REGION" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="NOMENCLATURALSTATUS_MARKER__type">
		<xsd:attribute name="MARKERS_ID" use="optional" />
		<xsd:attribute name="NOMENCLATURALSTATUS_ID" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="HYBRIDRELATIONSHIP_ANNOTATION__type">
		<xsd:attribute name="ANNOTATIONS_ID" use="optional" />
		<xsd:attribute name="HYBRIDRELATIONSHIP_ID" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="MEDIAREPRESENTATIONPART__type">
		<xsd:attribute name="UUID" use="optional" />
		<xsd:attribute name="HEIGHT" use="optional" />
		<xsd:attribute name="REPRESENTATION_ID" use="optional" />
		<xsd:attribute name="CREATED" use="optional" />
		<xsd:attribute name="WIDTH" use="optional" />
		<xsd:attribute name="UPDATEDBY_ID" use="optional" />
		<xsd:attribute name="UPDATED" use="optional" />
		<xsd:attribute name="ID" use="optional" />
		<xsd:attribute name="DTYPE" use="optional" />
		<xsd:attribute name="CREATEDBY_ID" use="optional" />
		<xsd:attribute name="SIZE" use="optional" />
		<xsd:attribute name="SORTINDEX" use="optional" />
		<xsd:attribute name="DURATION" use="optional" />
		<xsd:attribute name="URI" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="SYNONYMRELATIONSHIP__type">
		<xsd:attribute name="PROPARTE" use="optional" />
		<xsd:attribute name="CITATIONMICROREFERENCE" use="optional" />
		<xsd:attribute name="UUID" use="optional" />
		<xsd:attribute name="RELATEDTO_ID" use="optional" />
		<xsd:attribute name="RELATEDFROM_ID" use="optional" />
		<xsd:attribute name="CREATED" use="optional" />
		<xsd:attribute name="UPDATEDBY_ID" use="optional" />
		<xsd:attribute name="CITATION_ID" use="optional" />
		<xsd:attribute name="DOUBTFUL" use="optional" />
		<xsd:attribute name="UPDATED" use="optional" />
		<xsd:attribute name="ORIGINALNAMESTRING" use="optional" />
		<xsd:attribute name="ID" use="optional" />
		<xsd:attribute name="TYPE_ID" use="optional" />
		<xsd:attribute name="CREATEDBY_ID" use="optional" />
		<xsd:attribute name="PARTIAL" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="CONTACT__type">
		<xsd:attribute name="PHONE" use="optional" />
		<xsd:attribute name="UPDATED" use="optional" />
		<xsd:attribute name="UUID" use="optional" />
		<xsd:attribute name="ID" use="optional" />
		<xsd:attribute name="EMAIL" use="optional" />
		<xsd:attribute name="CREATEDBY_ID" use="optional" />
		<xsd:attribute name="URL" use="optional" />
		<xsd:attribute name="CREATED" use="optional" />
		<xsd:attribute name="FAX" use="optional" />
		<xsd:attribute name="UPDATEDBY_ID" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="TYPEDESIGNATIONBASE__type">
		<xsd:attribute name="TYPENAME_ID" use="optional" />
		<xsd:attribute name="CITATIONMICROREFERENCE" use="optional" />
		<xsd:attribute name="HOMOTYPICALGROUP_ID" use="optional" />
		<xsd:attribute name="TYPESPECIMEN_ID" use="optional" />
		<xsd:attribute name="CONSERVEDTYPE" use="optional" />
		<xsd:attribute name="UUID" use="optional" />
		<xsd:attribute name="CREATED" use="optional" />
		<xsd:attribute name="UPDATEDBY_ID" use="optional" />
		<xsd:attribute name="CITATION_ID" use="optional" />
		<xsd:attribute name="LECTOTYPE" use="optional" />
		<xsd:attribute name="REJECTEDTYPE" use="optional" />
		<xsd:attribute name="UPDATED" use="optional" />
		<xsd:attribute name="ORIGINALNAMESTRING" use="optional" />
		<xsd:attribute name="ID" use="optional" />
		<xsd:attribute name="NOTDESIGNATED" use="optional" />
		<xsd:attribute name="CREATEDBY_ID" use="optional" />
		<xsd:attribute name="TYPESTATUS_ID" use="optional" />
		<xsd:attribute name="DTYPE" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="LANGUAGESTRING__type">
		<xsd:attribute name="LANGUAGE_ID" use="optional" />
		<xsd:attribute name="TEXT" use="optional" />
		<xsd:attribute name="UPDATED" use="optional" />
		<xsd:attribute name="UUID" use="optional" />
		<xsd:attribute name="ID" use="optional" />
		<xsd:attribute name="CREATEDBY_ID" use="optional" />
		<xsd:attribute name="CREATED" use="optional" />
		<xsd:attribute name="UPDATEDBY_ID" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="HOMOTYPICALGROUP_ANNOTATION__type">
		<xsd:attribute name="ANNOTATIONS_ID" use="optional" />
		<xsd:attribute name="HOMOTYPICALGROUP_ID" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="HYBRIDRELATIONSHIP_MARKER__type">
		<xsd:attribute name="MARKERS_ID" use="optional" />
		<xsd:attribute name="HYBRIDRELATIONSHIP_ID" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="SPECIMENOROBSERVATIONBASE_ANNOTATION__type">
		<xsd:attribute name="ANNOTATIONS_ID" use="optional" />
		<xsd:attribute name="SPECIMENOROBSERVATIONBASE_ID" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="SEQUENCE_MARKER__type">
		<xsd:attribute name="MARKERS_ID" use="optional" />
		<xsd:attribute name="SEQUENCE_ID" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="SEQUENCE_ANNOTATION__type">
		<xsd:attribute name="ANNOTATIONS_ID" use="optional" />
		<xsd:attribute name="SEQUENCE_ID" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="REFERENCEBASE_EXTENSION__type">
		<xsd:attribute name="REFERENCEBASE_ID" use="optional" />
		<xsd:attribute name="EXTENSIONS_ID" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="SEQUENCE_EXTENSION__type">
		<xsd:attribute name="EXTENSIONS_ID" use="optional" />
		<xsd:attribute name="SEQUENCE_ID" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="SYNONYMRELATIONSHIP_ANNOTATION__type">
		<xsd:attribute name="ANNOTATIONS_ID" use="optional" />
		<xsd:attribute name="SYNONYMRELATIONSHIP_ID" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="TERMVOCABULARY__type">
		<xsd:attribute name="TERMSOURCEURI" use="optional" />
		<xsd:attribute name="UPDATED" use="optional" />
		<xsd:attribute name="UUID" use="optional" />
		<xsd:attribute name="ID" use="optional" />
		<xsd:attribute name="CREATEDBY_ID" use="optional" />
		<xsd:attribute name="DTYPE" use="optional" />
		<xsd:attribute name="TERMCLASS" use="optional" />
		<xsd:attribute name="CREATED" use="optional" />
		<xsd:attribute name="UPDATEDBY_ID" use="optional" />
		<xsd:attribute name="URI" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="SPECIMENOROBSERVATIONBASE_SEQUENCE__type">
		<xsd:attribute name="SPECIMENOROBSERVATIONBASE_ID" use="optional" />
		<xsd:attribute name="SEQUENCES_ID" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="EXTENSION__type">
		<xsd:attribute name="VALUE" use="optional" />
		<xsd:attribute name="UPDATED" use="optional" />
		<xsd:attribute name="TYPE_ID" use="optional" />
		<xsd:attribute name="UUID" use="optional" />
		<xsd:attribute name="ID" use="optional" />
		<xsd:attribute name="CREATEDBY_ID" use="optional" />
		<xsd:attribute name="CREATED" use="optional" />
		<xsd:attribute name="UPDATEDBY_ID" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="DERIVATIONEVENT_ANNOTATION__type">
		<xsd:attribute name="ANNOTATIONS_ID" use="optional" />
		<xsd:attribute name="DERIVATIONEVENT_ID" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="AGENT_DEFINEDTERMBASE__type">
		<xsd:attribute name="TYPES_ID" use="optional" />
		<xsd:attribute name="AGENT_ID" use="optional" />
	</xsd:complexType>
</xsd:schema>
